Code/snippets/libs/avatar/mi_avatar.png
landings/Code/templates/sass/.sass-cache
landings/bower_components
Code/templates/assets/videos/axa_one1.swf
Code/templates/assets/videos/axa_one.webm
Code/templates/assets/videos/axa_one.swf
Code/templates/assets/videos/axa_one.ogv
Code/templates/assets/videos/axa_one.ogg
Code/templates/assets/videos/axa_one.mp4
Code/templates/assets/videos/axa_one.mov
Code/snippets/db/connection.php
Code/snippets/config/config.php
Code/BD/database.sql
Code/templates/css/sass/.sass-cache
Documents
Web_Design