<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BOLETIN_AXA 0114</title>
</head>

<body>
 <table width="573" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="238" colspan="5"><img src="IMGS/HEAD.jpg" width="650" height="233" alt="AXA ONE" /></td>
  </tr>
  <tr>
    <td width="212"><img src="IMGS/DATE.jpg" width="169" height="20" /></td>
    <td width="231">&nbsp;</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#999;"><p>Tenemos para ti otra edición de nuestro <b style="color:#666;"> boletín semanal, </b> aquí encontrarás <b style="color:#666;"> lo último en información y eventos de AXA México. </b> Recuerda que este medio <b style="color:#666;"> es para todos los colaboradores, </b> así que si tienes algo que compartir, no dudes en hacérnoslo llegar a: <b style="color:#00F;"> <a href="mailto:one.mexico@axa.com.mx" target="new" style="color: #2A4691;">one.mexico@axa.com.mx</a></b></p></td>
    <td width="17" rowspan="17" align="center" valign="top"><img src="IMGS/GRAY_LINE.jpg" width="2" height="775" /></td>
    <td colspan="2" rowspan="2"><img src="IMGS/BLOG_ICON.jpg" width="142" height="115" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#999;"><b style="color:#666;">¡Seguimos trabajando para mantenerte informado! </b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td width="150" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000"><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</em></td>
    <td width="40"><img src="IMGS/+INFO.jpg" width="40" height="40" /></td>
  </tr>

  <tr>
    <td rowspan="2"><img src="IMGS/1.jpg" width="186" height="79" /></td>
    <td rowspan="2"><img src="IMGS/2.jpg" width="186" height="77" /></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><img src="IMGS/COMMUNITY_ICON.jpg" width="166" height="117" /></td>
  </tr>
  <tr>
    <td rowspan="2" valign="top" style="padding-right:10px;"><p style="font-family:Arial, Helvetica, sans-serif; font-size:20px;">Calendario, Noticias <strong> y otras Herramientas.</strong></p>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#666">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p></td>
    <td rowspan="2" valign="top" style="padding-right:10px;"><p style="font-family:Arial, Helvetica, sans-serif; font-size:20px;">Los Servicios de la <strong> Nueva Intranet.</strong></p>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#666">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p></td>
    <td valign="top" style="padding-top:20PX; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000"><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege</em></td>
    <td valign="top" style="padding-top:20PX;"><img src="IMGS/+INFO.jpg" width="40" height="40" /></td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2" valign="top" style="padding-top:20PX; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000"><img src="IMGS/TODOS_ICON.jpg" width="130" height="114" /></td>
   </tr>
  <tr>
    <td align="right" valign="top"><img src="IMGS/+INFO.jpg" alt="" width="40" height="40" style="padding-right:25px;" /></td>
    <td align="right" valign="top"><img src="IMGS/+INFO.jpg" width="40" height="40" style="padding-right:42px;" /></td>
   </tr>
  <tr>
    <td><img src="IMGS/3.jpg" width="186" height="76" /></td>
    <td><img src="IMGS/4.jpg" width="186" height="77" /></td>
    <td valign="top" style= "font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000; padding-top:20px;"><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</em></td>
    <td><span style="padding-top:"><img src="IMGS/+INFO.jpg" width="40" height="40" /></span></td>
  </tr>
  <tr>
   <td valign="top" style="padding-right:10px;"><p style="font-family:Arial, Helvetica, sans-serif; font-size:20px;">Las 3 Herramientas Básicas <strong> en ONE.</strong></p>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#666">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p></td>
    <td valign="top" style="padding-right:10px;"><p style="font-family:Arial, Helvetica, sans-serif; font-size:20px;"><strong>Dudas</strong> y <strong>Curiosidades.</strong></p>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#666">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p></td>
    <td colspan="2" valign="top" style= "font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000; padding-top:20px;"><img src="IMGS/PRESS_ICON.jpg" width="161" height="118" /></td>
   </tr>
  <tr>
    <td align="right"><img src="IMGS/+INFO.jpg" alt="" width="40" height="40" style="padding-right:25px;"  /></td>
    <td align="right"><img src="IMGS/+INFO.jpg" alt="" width="40" height="40" style="padding-right:42px;" /></td>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000"><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</em></td>
    <td><img src="IMGS/+INFO.jpg" width="40" height="40" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  
</table> 
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="IMGS/DOWN_BAR.jpg" width="650" height="21" /></td>
  </tr>
  <tr>
    <td><img src="IMGS/FOOTER.jpg" width="650" height="89" /></td>
  </tr>
</table>
</body>
</html>
