<!DOCTYPE html >
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>AXA ONE/Crea tu Avatar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="all" />
        <!--base href="http://www.descubreone.mx/Code/templates/"-->
        
        <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/prefixfree.min.js"></script>
    </head>
    
    <body>
        <div class="wrapper" id="avatar">
            <div id="principal_container">
                <header>
                    <div class="left_side"></div>
                    <div class="container">
                        <h1>AXA Seguros / Reinventando los seguros</h1>
                        <a href="http://www.descubreone.mx/" title="ONE / es más" target="_self">
                            <img src="img/imagenes_descubre_one/one_header.png" alt="one_header" width="320" height="59" class="title_image">
                        </a>
                        <h2>Crea tu <span>Avatar</span></h2>
                        <img src="img/imagenes_descubre_one/switch_header.png" alt="switch_header" width="623" height="362" class="division">
                        <img src="img/imagenes_avatar/banner_avatar.png" alt="Ejemplo de Avatares" width="686" height="361" class="header_avatar">
                    </div>
                    <div class="right_side"></div>
                </header>
            </div>
            <div id="avatar_creator">
                <div class="left_side"></div>
                <div class="container">
                    <h3>Personalizado</h3>
                    <!--a href="#" title="Ayuda" target="_blank" class="help">?</a-->
                    <div id="image_preview">
                        <div>
                            <img src="" alt="Piel" width="230" height="203" class="skin">
                            <img src="" alt="Cabello" width="230" height="203" class="hair">
                            <img src="" alt="Ropa" width="230" height="203" class="clothes">
                        </div>
                        <a href="#" title="Descargar Avatar">Descargar Avatar</a>
                    </div>
                    <div id="avatar_creator_wrapper">
                        <div class="panes">
                            <div class="gender">
                                <h4>Selecciona tu <span>Género</span></h4>
                                <ul>
                                    <li class="men"><p>Hombre</p></li>
                                    <li class="women"><p>Mujer</p></li>
                                </ul>
                            </div>
                            <div class="skin">
                                <h4>Selecciona tu Color de <span>Piel</span></h4>
                                <ul class="male">
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_1_small.png" alt="Piel" width="132" height="153" rel="skin_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_2_small.png" alt="Piel" width="132" height="153" rel="skin_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_3_small.png" alt="Piel" width="132" height="153" rel="skin_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_4_small.png" alt="Piel" width="132" height="153" rel="skin_4_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_5_small.png" alt="Piel" width="132" height="153" rel="skin_5_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_6_small.png" alt="Piel" width="132" height="153" rel="skin_6_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_7_small.png" alt="Piel" width="132" height="153" rel="skin_7_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_8_small.png" alt="Piel" width="132" height="153" rel="skin_8_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_9_small.png" alt="Piel" width="132" height="153" rel="skin_9_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_10_small.png" alt="Piel" width="132" height="153" rel="skin_10_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_11_small.png" alt="Piel" width="132" height="153" rel="skin_11_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/skin/skin_12_small.png" alt="Piel" width="132" height="153" rel="skin_12_big.png">
                                    </li>
                                </ul>
                                <ul class="female">
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_1_small.png" alt="skin_1_small" width="132" height="153" rel="skin_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_2_small.png" alt="skin_2_small" width="133" height="153" rel="skin_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_3_small.png" alt="skin_3_small" width="133" height="153" rel="skin_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_4_small.png" alt="skin_4_small" width="133" height="153" rel="skin_4_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_5_small.png" alt="skin_5_small" width="132" height="153" rel="skin_5_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_6_small.png" alt="skin_6_small" width="133" height="153" rel="skin_6_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_7_small.png" alt="skin_7_small" width="133" height="153" rel="skin_7_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_8_small.png" alt="skin_8_small" width="133" height="153" rel="skin_8_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_9_small.png" alt="skin_9_small" width="132" height="153" rel="skin_9_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_10_small.png" alt="skin_10_small" width="133" height="153" rel="skin_10_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_11_small.png" alt="skin_11_small" width="133" height="153" rel="skin_11_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_12_small.png" alt="skin_12_small" width="133" height="153" rel="skin_12_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_13_small.png" alt="skin_13_small" width="132" height="153" rel="skin_13_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_14_small.png" alt="skin_14_small" width="133" height="153" rel="skin_14_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_15_small.png" alt="skin_15_small" width="133" height="153" rel="skin_15_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/skin/skin_16_small.png" alt="skin_16_small" width="133" height="153" rel="skin_16_big.png">
                                    </li>
                                </ul>
                            </div>
                            <div class="hair">
                                <h4>Selecciona tu <span>Cabello</span></h4>
                                <ul class="male">
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_1_small.png" alt="Cabello corto para hombre" width="132" height="153" rel="hair_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_2_small.png" alt="Cabello con pico para hombre" width="133" height="153" rel="hair_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_3_small.png" alt="Cabello peinado para hombre" width="133" height="153" rel="hair_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_4_small.png" alt="Cabello corto para hombre" width="132" height="153" rel="hair_4_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_5_small.png" alt="Cabello con pico para hombre" width="133" height="153" rel="hair_5_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_6_small.png" alt="Cabello peinado para hombre" width="133" height="153" rel="hair_6_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_7_small.png" alt="Cabello corto para hombre" width="132" height="153" rel="hair_7_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_8_small.png" alt="Cabello con pico para hombre" width="133" height="153" rel="hair_8_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_9_small.png" alt="Cabello peinado para hombre" width="133" height="153" rel="hair_9_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_10_small.png" alt="Cabello corto para hombre" width="132" height="153" rel="hair_10_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_11_small.png" alt="Cabello con pico para hombre" width="133" height="153" rel="hair_11_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/hair/hair_12_small.png" alt="Cabello peinado para hombre" width="133" height="153" rel="hair_12_big.png">
                                    </li>
                                </ul>
                                <ul class="female">
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_1_small.png" alt="Cabello peinado para mujer" width="132" height="153" rel="hair_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_2_small.png" alt="Cabello corto para mujer" width="133" height="153" rel="hair_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_3_small.png" alt="Cabello con fleco para mujer" width="133" height="153" rel="hair_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_4_small.png" alt="Cabello chino para mujer" width="133" height="153" rel="hair_4_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_5_small.png" alt="Cabello peinado para mujer" width="132" height="153" rel="hair_5_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_6_small.png" alt="Cabello corto para mujer" width="133" height="153" rel="hair_6_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_7_small.png" alt="Cabello con fleco para mujer" width="133" height="153" rel="hair_7_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_8_small.png" alt="Cabello chino para mujer" width="133" height="153" rel="hair_8_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_9_small.png" alt="Cabello peinado para mujer" width="132" height="153" rel="hair_9_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_10_small.png" alt="Cabello corto para mujer" width="133" height="153" rel="hair_10_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_11_small.png" alt="Cabello con fleco para mujer" width="133" height="153" rel="hair_11_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_12_small.png" alt="Cabello chino para mujer" width="133" height="153" rel="hair_12_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_13_small.png" alt="Cabello peinado para mujer" width="132" height="153" rel="hair_13_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_14_small.png" alt="Cabello corto para mujer" width="133" height="153" rel="hair_14_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_15_small.png" alt="Cabello con fleco para mujer" width="133" height="153" rel="hair_15_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/hair/hair_16_small.png" alt="Cabello chino para mujer" width="133" height="153" rel="hair_16_big.png">
                                    </li>
                                </ul>
                            </div>
                            <div class="clothes">
                                <h4>Selecciona tu <span>Ropa</span></h4>
                                <ul class="male">
                                    <li>
                                        <img src="img/imagenes_avatar/man/clothes/clothes_1_small.png" alt="Traje para hombre" width="132" height="153" rel="clothes_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/clothes/clothes_2_small.png" alt="Camiseta para hombre" width="133" height="153" rel="clothes_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/clothes/clothes_3_small.png" alt="Sudadera para hombre" width="133" height="153" rel="clothes_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/man/clothes/clothes_4_small.png" alt="Ropa casual para hombre" width="133" height="153" rel="clothes_4_big.png">
                                    </li>
                                </ul>
                                <ul class="female">
                                    <li>
                                        <img src="img/imagenes_avatar/woman/clothes/clothes_1_small.png" alt="Camisa con suéter para mujer" width="132" height="153" rel="clothes_1_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/clothes/clothes_2_small.png" alt="Ropa casual para mujer" width="133" height="153" rel="clothes_2_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/clothes/clothes_3_small.png" alt="Sudadera para mujer" width="133" height="153" rel="clothes_3_big.png">
                                    </li>
                                    <li>
                                        <img src="img/imagenes_avatar/woman/clothes/clothes_4_small.png" alt="Saco para mujer" width="133" height="153" rel="clothes_4_big.png">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="tabs">
                        <li class="first"><a href="#">Género</a></li>
                        <li><a href="#skin">Piel</a></li>
                        <li><a href="#hair">Cabello</a></li>
                        <li><a href="#clothes">Ropa</a></li>
                    </ul>
                </div>
                <div class="right_side"></div>
            </div>
            <footer>
                <div class="left_side"></div>
                <div class="container">
                    <img src="img/imagenes_descubre_one/logo_footer.png" alt="logo_footer" width="238" height="44" class="icon">
                </div>
                <div class="right_side"></div>
            </footer>
            <iframe id="secretIFrame" src=""></iframe>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/plugins-ck.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
