<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>ONE / es más || AXA / reinventando / los seguros</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width" />
        <meta name="robots" content="all" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>
        <script src="js/vendor/prefixfree.min.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="alert_box">
            <h2></h2>
            <a href="#" title="Cerrar" class="close">
                <img src="img/cancelIcon.png" alt="Cerrar" width="36" height="36" />
            </a>
        </div>
        <div class="alert_background"></div>
        <a href="#" rel=".alert_box" title="Abrir Alerta" class="alert_trigger">Abrir Alerta</a>
        <div id="wrapper">
            <header>
                <a href="http://www.axa.mx/Personas/AxaSeguros/default.aspx" title="Seguros Axa" target="_blank">
                    <img src="img/header.jpg" alt="One / es más" width="586" height="86">
                </a>
            </header>
            <form action="../snippets/controller.php?action=ambassadorFormSubmitOne" method="post" accept-charset="utf-8" id="first_review_ambassador" class="double">
                <fieldset>
                    <h1>Primer Review</h1>
                    <div id="one" class="question left">
                        <p>¿Creaste tu perfil?</p>
                        <div>
                            <input type="radio" name="one" value="Sí, en pocos minutos">
                            <label for="one">Sí, en pocos minutos</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="Sí, pero me tardé en hacerlo">
                            <label for="one">Sí, pero me tardé en hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No, aún no creo mi perfil">
                            <label for="one">No, aún no creo mi perfil</label>
                        </div>
                    </div>
                    <div id="eight" class="question right">
                        <p>¿Cómo calificarías tu primer acercamiento a ONE?</p>
                        <div>
                            <input type="radio" name="eight" value="Bueno, la herramienta es muy amigable y fácil de usar">
                            <label for="eight">Bueno, la herramienta es muy amigable y fácil de usar</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Regular, la herramienta es un poco complicada de usar">
                            <label for="eight">Regular, la herramienta es un poco complicada de usar</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="ONE me parece muy compleja">
                            <label for="eight">ONE me parece muy compleja</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="No he utilizado ONE">
                            <label for="eight">No he utilizado ONE</label>
                        </div>
                    </div>
                    <div id="two" class="question left">
                        <p>¿Añadiste tu foto?</p>
                        <div>
                            <input type="radio" name="two" value="Si, fue sencillo">
                            <label for="two">Si, fue sencillo</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="Si, pero se me complicó un poco">
                            <label for="two">Si, pero se me complicó un poco</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No, no tengo una foto adecuada">
                            <label for="two">No, no tengo una foto adecuada</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No, aún no creo mi perfil">
                            <label for="two">No, aún no creo mi perfil</label>
                        </div>
                    </div>
                    <div id="nine" class="question right">
                        <p>¿Consideras que ONE <strong>facilita tu labor de agente de cambio</strong> al hacer más <strong>eficientes y ágiles tus responsabilidades de comunicación en tu área</strong>?</p>
                        <div>
                            <input type="radio" name="nine" value="Si, ONE facilita mi rol de agente de cambio">
                            <label for="nine">Si, ONE facilita mi rol de agente de cambio</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="Regular, no entiendo del todo como aprovechar ONE al máximo">
                            <label for="nine">Regular, no entiendo del todo como aprovechar ONE al máximo</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="No, no encuentro el valor de ONE">
                            <label for="nine">No, no encuentro el valor de ONE</label>
                        </div>
                    </div>
                    <div id="three" class="question left">
                        <p>¿Actualizaste el estatus de tu perfil diariamente?</p>
                        <div>
                            <input type="radio" name="three" value="Si, lo cambié varias veces">
                            <label for="three">Si, lo cambié varias veces</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="Lo puse inicialmente pero no lo he modificado">
                            <label for="three">Lo puse inicialmente pero no lo he modificado</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No he cambiado mi estatus">
                            <label for="three">No he cambiado mi estatus</label>
                        </div>
                    </div>
                    <div id="ten" class="question right">
                        <p>¿Que herramienta te fue de mayor utilidad en tu rol de agente de cambio?</p>
                        <div>
                            <textarea name="ten" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="four" class="question left">
                        <p>¿Cuántos contactos tienes en tu red?</p>
                        <div>
                            <input type="radio" name="four" value="Ninguno">
                            <label for="four">Ninguno</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="De 1 a 3">
                            <label for="four">De 1 a 3</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="Agregué a mis compañeros de la brigada y a otros compañeros de mi área">
                            <label for="four">Agregué a mis compañeros de la brigada y a otros compañeros de mi área</label>
                        </div>
                    </div>
                    <div id="eleven" class="question right">
                        <p>Califica tu desempeño esta semana:</p>
                        <div>
                            <input type="radio" name="eleven" value="Muy bueno, realicé todas mis actividades">
                            <label for="eleven">Muy bueno, realicé todas mis actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Bueno, realicé algunas actividades">
                            <label for="eleven">Bueno, realicé algunas actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Regular, sólo realicé una actividad">
                            <label for="eleven">Regular, sólo realicé una actividad</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Malo, no pude realizar ninguna actividad">
                            <label for="eleven">Malo, no pude realizar ninguna actividad</label>
                        </div>
                    </div>
                    <div id="five" class="question left">
                        <p>¿Cuántas búsquedas realizaste?</p>
                        <div>
                            <input type="radio" name="five" value="Más de 3 y brindé soporte a algunos compañeros">
                            <label for="five">Más de 3 y brindé soporte a algunos compañeros</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="De 1 a 3">
                            <label for="five">De 1 a 3</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No he utilizado el buscador">
                            <label for="five">No he utilizado el buscador</label>
                        </div>
                    </div>
                    <div id="twelve" class="question right">
                        <p>Déjanos tus comentarios, para ONE es importante tu opinión:</p>
                        <div>
                            <textarea name="twelve" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="six" class="question left">
                        <p>¿Tuviste éxito en todas tus búsquedas?</p>
                        <div>
                            <input type="radio" name="six" value="Si, encontré todo lo que buscaba">
                            <label for="six">Si, encontré todo lo que buscaba</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="Si, encontré algunas cosas">
                            <label for="six">Si, encontré algunas cosas</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No, no pude encontrar lo que buscaba">
                            <label for="six">No, no pude encontrar lo que buscaba</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No he utilizado el buscador">
                            <label for="six">No he utilizado el buscador</label>
                        </div>
                    </div>
                    <div id="seven" class="question left">
                        <p>¿Fue fácil realizar tus búsquedas?</p>
                        <div>
                            <input type="radio" name="seven" value="Si">
                            <label for="seven">Si</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="Más o menos">
                            <label for="seven">Más o menos</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No, es complejo hacerlo">
                            <label for="seven">No, es complejo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No he utilizado el buscador">
                            <label for="seven">No he utilizado el buscador</label>
                        </div>
                    </div>
                    <div id="submit_wrapper">
                        <input type="submit" title="Enviar" value="Enviar">
                    </div>
                </fieldset>
            </form>
            <footer>
                <img src="img/logo_axa.png" alt="logo_axa" width="195" height="55">
            </footer>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/plugins-ck.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/main-ck.js" charset="utf-8" type="text/javascript"></script>
    </body>
</html>