<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>One / es más || Axa / reinventando / los seguros</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width" />
        <meta name="robots" content="all" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>
        <script src="js/vendor/prefixfree.min.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="alert_box">
            <h2></h2>
            <a href="#" title="Cerrar" class="close">
                <img src="img/cancelIcon.png" alt="Cerrar" width="36" height="36" />
            </a>
        </div>
        <div class="alert_background"></div>
        <a href="#" rel=".alert_box" title="Abrir Alerta" class="alert_trigger">Abrir Alerta</a>
        <div id="wrapper">
            <header>
                <a href="http://www.axa.mx/Personas/AxaSeguros/default.aspx" title="Seguros Axa" target="_blank">
                    <img src="img/header.jpg" alt="One / es más" width="586" height="86">
                </a>
            </header>
            <form action="../snippets/controller.php?action=managerNetworkFormSubmitFourth" method="post" accept-charset="utf-8" id="fourth_review_manager_network" class="double">
                <fieldset>
                    <h1>Cuarto Review</h1>
                    <div id="one" class="question left">
                        <p>¿Revisaste canales de noticias?</p>
                        <div>
                            <input type="radio" name="one" value="Sí, varios (Más de 3)">
                            <label for="one">Sí, varios (Más de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="Sí, algunos (De 1 a 3)">
                            <label for="one">Sí, algunos (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No sé donde están">
                            <label for="one">No sé donde están</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No, no tuve tiempo">
                            <label for="one">No, no tuve tiempo</label>
                        </div>
                    </div>
                    <div id="eight" class="question right">
                        <p>¿Cómo calificarías la utilidad de las herramientas en tu trabajo diario?</p>
                        <div>
                            <input type="radio" name="eight" value="Muy útiles (Me sirven en mí día a día)">
                            <label for="eight">Muy útiles (Me sirven en mí día a día)</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Algo útiles (Sólo usaría algunas en mí día a día)">
                            <label for="eight">Algo útiles (Sólo usaría algunas en mí día a día)</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Poco útiles (Las usaría rara vez)">
                            <label for="eight">Poco útiles (Las usaría rara vez)</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="No las he explorado">
                            <label for="eight">No las he explorado</label>
                        </div>
                    </div>
                    <div id="two" class="question left">
                        <p>¿Cómo calificarías los canales de noticias de AXA en ONE?</p>
                        <div>
                            <input type="radio" name="two" value="Me sirvieron para trabajar">
                            <label for="two">Me sirvieron para trabajar</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="Fueron interesantes">
                            <label for="two">Fueron interesantes</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="Fueron informativos">
                            <label for="two">Fueron informativos</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No sé dónde están">
                            <label for="two">No sé dónde están</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No he revisado noticias">
                            <label for="two">No he revisado noticias</label>
                        </div>
                    </div>
                    <div id="nine" class="question right">
                        <p>¿Revisaste las guías de los mail?</p>
                        <div>
                            <input type="radio" name="nine" value="Sí, revisé varias (Más de 3)">
                            <label for="nine">Sí, revisé varias (Más de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="Sí, revisé algunas (De 1 a 3)">
                            <label for="nine">Sí, revisé algunas (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="No las revisé">
                            <label for="nine">No las revisé</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="No sé dónde están">
                            <label for="nine">No sé dónde están</label>
                        </div>
                    </div>
                    <div id="three" class="question left">
                        <p>¿Encontraste algún LUGAR de tu interés en "Mi Espacio de Trabajo" > "Mis Espacios"?</p>
                        <div>
                            <input type="radio" name="three" value="Sí, fue fácil encontrarlo">
                            <label for="three">Sí, fue fácil encontrarlo</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="Sí, aunque tardé en encontrarlo">
                            <label for="three">Sí, aunque tardé en encontrarlo</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No encontré ninguno">
                            <label for="three">No encontré ninguno</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No he buscado, no he tenido tiempo">
                            <label for="three">No he buscado, no he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="ten" class="question right">
                        <p>¿Consideras que ONE te ofrece herramientas para <strong>facilitar tu trabajo como Manager?</strong></p>
                        <div>
                            <input type="radio" name="ten" value="Sí, ONE facilita mi trabajo">
                            <label for="ten">Sí, ONE facilita mi trabajo</label>
                        </div>
                        <div>
                            <input type="radio" name="ten" value="Regular, no entiendo del todo como aprovechar ONE al máximo">
                            <label for="ten">Regular, no entiendo del todo como aprovechar ONE al máximo</label>
                        </div>
                        <div>
                            <input type="radio" name="ten" value="No, no encuentro el valor de ONE">
                            <label for="ten">No, no encuentro el valor de ONE</label>
                        </div>
                    </div>
                    <div id="four" class="question left">
                        <p>¿Te uniste a algún LUGAR PÚBLICO?</p>
                        <div>
                            <input type="radio" name="four" value="Sí">
                            <label for="four">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="No, no sé cómo hacerlo">
                            <label for="four">No, no sé cómo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="No he tenido tiempo">
                            <label for="four">No he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="eleven" class="question right">
                        <p>¿Que herramienta te fue de mayor utilidad?</p>
                        <div>
                            <textarea name="eleven" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="five" class="question left">
                        <p>¿Añadiste algún LUGAR PÚBLICO a tus Favoritos?</p>
                        <div>
                            <input type="radio" name="five" value="Sí">
                            <label for="five">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No, no sé cómo hacerlo">
                            <label for="five">No, no sé cómo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No encontré nada de mi interés">
                            <label for="five">No encontré nada de mi interés</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No he tenido tiempo">
                            <label for="five">No he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="twelve" class="question right">
                        <p>Califica tu desempeño esta semana:</p>
                        <div>
                            <input type="radio" name="twelve" value="Muy bueno, realicé todas mis actividades">
                            <label for="twelve">Muy bueno, realicé todas mis actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="twelve" value="Bueno, realicé algunas actividades">
                            <label for="twelve">Bueno, realicé algunas actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="twelve" value="Regular, sólo realicé una actividad">
                            <label for="twelve">Regular, sólo realicé una actividad</label>
                        </div>
                        <div>
                            <input type="radio" name="twelve" value="Malo, no pude realizar ninguna actividad">
                            <label for="twelve">Malo, no pude realizar ninguna actividad</label>
                        </div>
                    </div>
                    <div id="six" class="question left">
                        <p>¿Solicitaste la creación de un LUGAR?</p>
                        <div>
                            <input type="radio" name="six" value="Sí, ya recibí respuesta">
                            <label for="six">Sí, ya recibí respuesta</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="Sí, pero no he recibido respuesta">
                            <label for="six">Sí, pero no he recibido respuesta</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No sé cómo hacerlo">
                            <label for="six">No sé cómo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No lo solicité">
                            <label for="six">No lo solicité</label>
                        </div>
                    </div>
                    <div id="thirteen" class="question right">
                        <p>Tu opinión es muy importante para ONE:</p>
                        <div>
                            <textarea name="thirteen" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="seven" class="question left">
                        <p>¿Te uniste a algún Project Place?</p>
                        <div>
                            <input type="radio" name="seven" value="Sí">
                            <label for="seven">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No encontré nada de mi interés">
                            <label for="seven">No encontré nada de mi interés</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No, no sé cómo hacerlo">
                            <label for="seven">No, no sé cómo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No he tenido tiempo">
                            <label for="seven">No he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="submit_wrapper">
                        <input type="submit" title="Enviar" value="Enviar">
                    </div>
                </fieldset>
            </form>
            <footer>
                <img src="img/logo_axa.png" alt="logo_axa" width="195" height="55">
            </footer>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/plugins-ck.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/main-ck.js" charset="utf-8" type="text/javascript"></script>
    </body>
</html>