<!DOCTYPE html >
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>Axa One/Es Más</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="all" />
        
        <!--meta name="viewport" content="user-scalable=0" /-->
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/prefixfree.min.js"></script>
    </head>
    
    <body>
        <div id="wrapper_one">
            <div id="principal_container">
                <header>
                    <div class="left_side"></div>
                    <div class="container">
                        <h1>Axa Seguros / Reinventando los seguros</h1>
                    </div>
                    <div class="right_side"></div>
                </header>
                <div id="principal">
                    <div class="left_side"></div>
                    <div class="container">
                        <h2 class="blue_phrase">Sola no es más que madera,</h2>
                        <h2 class="white_phrase">depende de ti hacerla única.</h2>
                        <img src="img/imagenes_axa_one/pleca_roja.png" alt="pleca_roja" width="202" height="211" class="red_line">
                        <img src="img/imagenes_axa_one/mujer.png" alt="mujer" width="438" height="411" class="axa_women">
                        <ul>
                            <li class="conect_line">Conecta</li>
                            <li class="consult_line">Consulta</li>
                            <li class="share_line">Comparte</li>
                        </ul>
                        <img src="img/imagenes_axa_one/sombra.png" alt="sombra" width="780" height="35" class="principal_container_shadow">
                    </div>
                    <div class="right_side"></div>
                </div>
            </div>
            <div id="video_e_learning">
                <div class="left_side"></div>
                <div class="container">
                    <div id="video_container">
                        <img src="img/imagenes_axa_one/video_1.jpg" alt="Video Tutorial E-Learning" width="384" height="210" class="video_screen">
                        <img src="img/imagenes_axa_one/sombra_video.png" alt="sombra_video" width="412" height="64" class="video_shadow">
                    </div>
                    <div id="video_description">
                        <h3>Video Tutorial E-Learning</h3>
                        <hr />
                        <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer.</p>
                    </div>
                </div>
                <div class="right_side"></div>
            </div>
            <div id="advices_best_practices">
                <div class="left_side"></div>
                <div class="container">
                    <div id="tips_and_search">
                        <h4>Consejos y Mejores Prácticas</h4>
                        <form action="index.html" method="" accept-charset="utf-8">
                            <fieldset>
                                <label for="">
                                    <img src="img/imagenes_axa_one/buscar_icono.png" alt="buscar" width="13" height="13">
                                </label>
                                <input id="" type="" name="" value="">
                            </fieldset>
                        </form>
                    </div>
                    <div class="carrousel_container">
                        <!-- root element for scrollable -->
                        <div class="scrollable" id="tips_scrollable">
                            <div class="items">
                                <div>
                                    <h4>Mi perfil, ¿quién soy yo en ONE?…</h4>
                                    <p>Crear tu perfil es tan sencillo como en Facebook. Deja que los demás sepan en que estás trabajando y actualiza el status de tu perfil diariamente.</p>
                                    <p>Añade un toque personal con una imagen para tu perfil. Usa una foto profesional de cara y de hombros para arriba. </p>
                                    <a href="http://www.axa-intranet.intraxa/profiles/help/doc/es/pframe.html" title="Ayuda">Ayuda</a>
                                    <a href="http://www.axa-intranet.intraxa/profiles/html/demoMovie.do?lang=es" title="Demo" target="_blank">Demo</a>
                                    <a href="http://www.axa-intranet.intraxa/profiles/help/doc/es/profiles_demo_script.html" title="Script" target="_blank">Script</a>
                                </div>
                                <div>
                                    <h4>Tener una red de contactos…</h4>
                                    <p>Te permitirá estar en contacto con otros colaboradores de AXA México y de otras entidades de nuestro Grupo.</p>
                                    <p>Crea e incrementa tu red de contactos constantemente para encontrar soluciones a tus problemas de negocio e intercambiar mejores prácticas. </p>
                                </div>
                                <div>
                                    <h4>¿Estás cansado de buscar información y no encontrarla?</h4>
                                    <p>SEARCH es el buscador de ONE, donde podrás encontrar información, personas, documentos, etc. con relación a la comunidad ONE de México y el mundo.</p>
                                    <p>Si no conoces la ruta o localización exacta de la información que buscas utiliza el buscador de ONE.</p>
                                </div>
                                <div>
                                    <h4>Etiquetas para organizar tu información</h4>
                                    <p>El etiquetado es una herramienta que te servirá para “marcar” un documento y que de esta manera sea más fácil clasificarlo y localizarlo a través de palabras clave. </p>
                                    <p>Con las etiquetas ahorrarás mucho tiempo en tus búsquedas.</p>
                                </div>
                                <div>
                                    <h4>Archivos en Connections, ¡Demonios! ¿quién tiene la última versión?…</h4>
                                    <p>Ya no lo mandes por mail. Súbelo a ONE Connections, etiquétalo, compártelo, mantén el control de las últimas versiones y no vuelvas a equivocarte de archivo.</p>
                                    <a href="http://www.axa-intranet.intraxa/files/templates/demo.jsp" title="Demo" target="_blank">Demo</a>
                                    <a href="http://www.axa-intranet.intraxa/files/help/doc/es/files_demo_transcript.html" title="Script" target="_blank">Script</a>
                                </div>
                                <div>
                                    <h4>Y tú ¿con quien andas?</h4>
                                    <p>Crea y participa en COMUNIDADES para interactuar, intercambiar información e ideas, encontrar  apoyo en tus tareas, compartir mejores prácticas y expandir tu red de contactos.</p>
                                </div>
                                <div>
                                    <h4>¿Tienes algo que decir? ¡No te quedes con las ganas y cuéntaselo a ONE!</h4>
                                    <p>Participa en los foros de discusión, crea temas de debate e intercambia opiniones.</p>
                                    <p>Aprovecha cualquier instante del día para participar y construir juntos una base de conocimiento compartido en AXA.</p>
                                </div>
                                <div>
                                    <h4>Si quieres escribir un libro, comienza por un blogs.</h4>
                                    <p>Únete a blogs de tu interés, participa activamente y da a conocer tus puntos de vista de los temas que te interesan, califica las aportaciones con un “me gusta”, no pierdas esta oportunidad.</p>
                                </div>
                                <div>
                                    <h4>Calendario </h4>
                                    <p>¡Revisa diariamente el calendario, entérate de lo que está sucediendo y no dejes pasar ningún evento importante!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_side"></div>
            </div>
            <div id="create_avatar_feature">
                <div class="left_side"></div>
                <div class="container">
                    <hr class="left_division" />
                    <h5>Crea tu avatar</h5>
                    <hr class="right_division" />
                    <p>Crea tu avatar seleccionando las partes de cada categoria.</p>
                    <img src="img/imagenes_axa_one/avatar_completo.png" alt="avatar_completo" width="65" height="140" class="avatar_example">
                    <ul>
                        <li>
                            <img src="img/imagenes_axa_one/avatar_cara.png" alt="avatar_cara" width="65" height="67" class="face avatar_piece">
                            <p>1</p>
                        </li>
                        <li>
                            <img src="img/imagenes_axa_one/avatar_piernas.png" alt="avatar_piernas" width="45" height="40" class="pants avatar_piece">
                            <p>2</p>
                        </li>
                        <li>
                            <img src="img/imagenes_axa_one/avatar_camisa.png" alt="avatar_piernas" width="45" height="40" class="shirt avatar_piece">
                            <p>3</p>
                        </li>
                    </ul>
                </div>
                <div class="right_side"></div>
            </div>
            <footer>
                <div class="left_side"></div>
                <div class="container">
                    <img src="img/imagenes_axa_one/banner_footer_2.png" alt="Axa Seguros" width="472" height="108" class="banner">
                    <img src="img/imagenes_axa_one/axa_logo_banner.png" alt="axa_logo_banner" width="52" height="52" class="icon">
                </div>
                <div class="right_side"></div>
            </footer>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/plugins-ck.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
