<!DOCTYPE html >
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>Axa One/Es Más</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="robots" content="all" />
        
        <!--meta name="viewport" content="user-scalable=0" /-->
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/prefixfree.min.js"></script>
        <style>
            .wrapper{
                display: block;
                margin: 0 auto;
                padding: 0 12px; 
                width: 737px;
            }
            table{ width: 100%; }
            caption{}
            thead{}
            thead img{
                float: left;
                padding: 28px 0 0 21px;
                vertical-align: middle;
            }
            thead p{
                color: #A9A9A9;
                float: right;
                font:normal 0.65em/1em Helvetica,Arial,Verdana,"sans-serif";
                margin: 0;
                padding: 58px 0 0;
            }
            thead p span{ color: #324F93; }
            tfoot{}
            tfoot p{
                color: #A9A9A9;
                float: left;
                font:normal 0.55em/1em Helvetica,Arial,Verdana,"sans-serif";
                margin: 0;
                padding: 0 0 0 21px;
                width: 23.437em;
            }
            tfoot p span{ color: #000; }
            tfoot img{
                float: right;
                margin: 0;
                padding: 0;
                vertical-align: top;
            }
            tbody{ border: 0 none transparent; }
            tbody tr{ border: 0 none transparent; width: 739px; }
            tbody tr td{ border: 0 none transparent; }
        </style>
    </head>
    
    <body>
        
        <div id="violet" class="wrapper">
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th colspan="3">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/logo_header.jpg" alt="ONE / Es Más" width="225" height="42">
                            <p>Martes <span>10 de Septiembre</span></p>
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/liena_roja.png" alt="Separador" width="311" height="1" style="clear: both;display: block;float: right;margin: 0;padding: 0;">
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <!--p><span>AXA&reg; ONE&trade;</span> Legales de marca, privacidad y usos correctos de datos personales, AXA S.A. de C.V.</p-->
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/logo_footer.png" alt="Axa: Reinventando / Los Seguros" width="232" height="40" style="float:right;">
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td colspan="3" style="height:11px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/banner_header.jpg" alt="banner_header" width="737" height="284">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height:17px;"></td>
                    </tr>
                    <tr style="display:block; height:43px; vertical-align:top;">
                        <td style="background: #70356F; border-right: 1px solid #70356F; height: 43px; width: 187px;">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/linea_lateral.jpg" alt="linea_lateral" width="148" height="1" style="display:block;margin: 0 auto; padding: 0; position: relative; top: 41px;">
                        </td>
                        <td style="height: 43px; width: 15px;"></td>
                        <td style="background-color: #F3F3F3; height: 43px; width: 529px;">
                            <a href="http://www.axa-intranet.intraxa/profiles/html/editMyProfileView.do?lang=es" target="_blank">
                                <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/btn_perfil.png" alt="btn_perfil" width="219" height="41" style="float: right; position:relative;">
                            </a>
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/linea_contenido.jpg" alt="linea_contenido" width="488" height="1" style="float: right; margin: 0; padding: 0; position: relative;">
                        </td>
                    </tr>
                    <tr style="display:block; height:280px; position: relative; vertical-align:top;">
                        <td style="background: #70356F; height: 280px; width: 188px; vertical-align:top;">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/left_medium.jpg" alt="left_medium" width="188" height="280">
                        </td>
                        <td style="height: 280px; width: 15px; vertical-align:top;"></td>
                        <td style="background-color: #F3F3F3; height: 280px; width: 529px; vertical-align:top;">
                            <p style="font: 0.75em/1.5em Helvetica,Arial,Verdana,'sans-serif';letter-spacing: 0.2px;margin:0;padding:23px 0 10px 43px;text-align:justify;width:445px;">El punto de partida para todo lo que <strong>ONE</strong> te ofrece, es tu perfil. Creando tu perfil y manteniéndolo actualizado, podrás <strong>mantenerte en contacto con tus compañeros de trabajo,</strong> y <strong>conectarse contigo</strong> para juntos <strong>crear valor.</strong></p>
                            <p style="font: 0.75em/1.5em Helvetica,Arial,Verdana,'sans-serif';letter-spacing: 0.2px;margin:0;padding:10px 0 10px 43px;text-align:justify;width:445px;">Entra hoy mismo a <strong style="text-transform:uppercase;">tu perfil, </strong><strong>carga tu información personal y profesional</strong> y forma parte de la comunidad AXA a través de <strong>ONE</strong>. strong.</p>
                            <p style="font: 0.75em/1.5em Helvetica,Arial,Verdana,'sans-serif';letter-spacing: 0.2px;margin:0;padding:10px 0 10px 43px;text-align:justify;width:445px;">Mantén siempre tu perfil actualizado para facilitar la comunicación y hacerla más ágil. <strong>Deja que los demás sepan en que estás trabajando y cambia tu estado</strong> de perfil diariamente.</p>
                            <a href="http://www.axa-intranet.intraxa/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W4c05ec0ce778_4030_a601_ca904823266f&file=876b2136-f5fa-49af-a9f6-1a678836d3e4" target="_blank" style="color: #70356F;float: right;font: 0.75em/1em Helvetica,Arial,Verdana,'sans-serif';margin: 0;padding: 10px 25px 0;text-decoration: none;">Consulta la Guía Rápida</a>
                        </td>
                    </tr>
                    <tr style="display: block; height:75px; position: relative; vertical-align:top;">
                        <td style="background: #70356F; height: 74px; width: 188px;">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/left_bottom.jpg" alt="left_bottom" width="188" height="71" style="left: -1px; position: relative; top: 5px;">
                        </td>
                        <td style="height: 75px; width: 18px; vertical-align:top;"></td>
                        <td style="height: 75px; width: 531px; vertical-align:top;">
                            <img src="http://descubreone.mx/Code/templates/img/imagenes_morado/tip2_Ambassador2.png" alt="tip2_Network" width="531" height="75">
                        </td>
                    </tr>
                    <tr style="height:30px;">
                        <td colspan="3" style="height:30px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
