<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>ONE / es más || AXA / reinventando / los seguros</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width" />
        <meta name="robots" content="all" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>
        <script src="js/vendor/prefixfree.min.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="alert_box">
            <h2></h2>
            <a href="#" title="Cerrar" class="close">
                <img src="img/cancelIcon.png" alt="Cerrar" width="36" height="36" />
            </a>
        </div>
        <div class="alert_background"></div>
        <a href="#" rel=".alert_box" title="Abrir Alerta" class="alert_trigger">Abrir Alerta</a>
        <div id="wrapper">
            <img src="img/4.gif" alt="4" width="32" height="32" class="loader">
            <header>
                <a href="http://www.axa.mx/Personas/AxaSeguros/default.aspx" title="Seguros Axa" target="_blank">
                    <img src="img/header.jpg" alt="One / es más" width="586" height="86">
                </a>
            </header>
            <form action="../snippets/controller.php?action=goLiveColaboradoresFormSubmitTwo" method="post" accept-charset="utf-8" id="second_review_golive_colaboradores" class="double">
                <fieldset>
                    <h1>Segundo Review</h1>
                    <div id="one" class="question left">
                        <p>&iquest;Subiste alg&uacute;n archivo?</p>
                        <div>
                            <input type="radio" name="one" value="S&iacute;, fue sencillo">
                            <label for="one">S&iacute;, fue sencillo</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="S&iacute;, pero me cost&oacute; un poco de trabajo">
                            <label for="one">S&iacute;, pero me cost&oacute; un poco de trabajo</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No tengo alg&uacute;n archivo para subir">
                            <label for="one">No tengo alg&uacute;n archivo para subir</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No tuve tiempo">
                            <label for="one">No tuve tiempo</label>
                        </div>
                    </div>
                    <div id="eight" class="question right">
                        <p>Consideras que ONE te ofrece herramientas para <strong>facilitar tu trabajo</strong>:</p>
                        <div>
                            <input type="radio" name="eight" value="S&iacute;, ONE facilita mi trabajo">
                            <label for="eight">S&iacute;, ONE facilita mi trabajo</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Regular, no entiendo del todo como aprovechar ONE al m&aacute;ximo">
                            <label for="eight">Regular, no entiendo del todo como aprovechar ONE al m&aacute;ximo</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="No, no encuentro el valor de ONE">
                            <label for="eight">No, no encuentro el valor de ONE</label>
                        </div>
                    </div>
                    <div id="two" class="question left">
                        <p>&iquest;Etiquetaste alg&uacute;n archivo o informaci&oacute;n?</p>
                        <div>
                            <input type="radio" name="two" value="S&iacute;">
                            <label for="two">S&iacute;</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No supe c&oacute;mo hacerlo">
                            <label for="two">No supe c&oacute;mo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No sub&iacute; archivos o informaci&oacute;n">
                            <label for="two">No sub&iacute; archivos o informaci&oacute;n</label>
                        </div>
                    </div>
                    <div id="nine" class="question right">
                        <p>&iquest;Qu&eacute; herramienta de ONE te fue de mayor utilidad?</p>
                        <div>
                            <textarea name="nine" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="three" class="question left">
                        <p>¿Fue sencillo etiquetar?</p>
                        <div>
                            <input type="radio" name="three" value="Fue sencillo">
                            <label for="three">Fue sencillo</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="Fue complicado">
                            <label for="three">Fue complicado</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No tuve tiempo de etiquetar">
                            <label for="three">No tuve tiempo de etiquetar</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No subí archivos o información">
                            <label for="three">No subí archivos o información</label>
                        </div>
                    </div>
                    <div id="ten" class="question right">
                        <p>Califica tu desempe&ntilde;o esta semana:</p>
                        <div>
                            <input type="radio" name="ten" value="Muy bueno, realic&eacute; todas las actividades">
                            <label for="ten">Muy bueno, realic&eacute; todas las actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="ten" value="Bueno, realic&eacute; algunas actividades">
                            <label for="ntenine">Bueno, realic&eacute; algunas actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="ten" value="Regular, s&oacute;lo realic&eacute; una actividad">
                            <label for="ten">Regular, s&oacute;lo realic&eacute; una actividad</label>
                        </div>
                        <div>
                            <input type="radio" name="ten" value="Malo, no pude realizar ninguna actividad">
                            <label for="ten">Malo, no pude realizar ninguna actividad</label>
                        </div>
                    </div>
                    <div id="four" class="question left">
                        <p>&iquest;Encontraste alguna comunidad de tu inter&eacute;s?</p>
                        <div>
                            <input type="radio" name="four" value="Encontr&eacute; varias (M&aacute;s de 3)">
                            <label for="four">Encontr&eacute; varias (M&aacute;s de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="Encontr&eacute; pocas (De 1 a 3)">
                            <label for="four">Encontr&eacute; pocas (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="No encontr&eacute; ninguna">
                            <label for="four">No encontr&eacute; ninguna</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="No he buscado">
                            <label for="four">No he buscado</label>
                        </div>
                    </div>
                    <div id="eleven" class="question right">
                        <p>¿Crees que has recibido información suficiente del lanzamiento de ONE?</p>
                        <div>
                            <input type="radio" name="eleven" value="Si">
                            <label for="eleven">Si</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="No">
                            <label for="eleven">No</label>
                        </div>
                    </div>
                    <div id="five" class="question left">
                        <p>&iquest;Participaste en la comunidad Todos en ONE?</p>
                        <div>
                            <input type="radio" name="five" value="M&aacute;s de 3">
                            <label for="five">S&iacute;</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="Las visit&eacute; pero no particip&eacute;">
                            <label for="five">Las visit&eacute; pero no particip&eacute;</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No la he visitado">
                            <label for="five">No la he visitado</label>
                        </div>
                    </div>
                    <div id="twelve" class="question right">
                        <p>&iquest;Sabes a qui&eacute;n contactar para solicitar soporte de ONE?</p>
                        <div>
                            <input type="radio" name="twelve" value="Si">
                            <label for="twelve">Si</label>
                        </div>
                        <div>
                            <input type="radio" name="twelve" value="No">
                            <label for="twelve">No</label>
                        </div>
                    </div>
                    <div id="six" class="question left">
                        <p>&iquest;Te inscribiste a alg&uacute;n foro y participaste?</p>
                        <div>
                            <input type="radio" name="six" value="Me inscrib&iacute; y/o particip&eacute;">
                            <label for="six">Me inscrib&iacute; y/o particip&eacute;</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="Sólo me inscrib&iacute;">
                            <label for="six">Sólo me inscrib&iacute;</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No me dio tiempo de hacerlo">
                            <label for="six">No me dio tiempo de hacerlo</label>
                        </div>
                    </div>
                    <div id="thirteen" class="question right">
                        <p>Para ONE es importante conocer tu opini&oacute;n:</p>
                        <div>
                            <textarea name="thirteen" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="seven" class="question left">
                        <p>&iquest;C&oacute;mo calificar&iacute;as la utilidad de las herramientas en tu trabajo diario?</p>
                        <div>
                            <input type="radio" name="seven" value="Muy &uacute;tiles, me sirven en mi d&iacute;a a d&iacute;a">
                            <label for="seven">Muy &uacute;tiles, me sirven en mi d&iacute;a a d&iacute;a</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="Algo &uacute;tiles, s&oacute;lo usar&iacute;a algunas">
                            <label for="seven">Algo &uacute;tiles, s&oacute;lo usar&iacute;a algunas</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="Poco &uacute;tiles, las usar&iacute;a rara vez">
                            <label for="seven">Poco &uacute;tiles, las usar&iacute;a rara vez</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No las usar&iacute;a">
                            <label for="seven">No las usar&iacute;a</label>
                        </div>
                    </div>
                    <div id="submit_wrapper">
                        <input type="submit" title="Enviar" value="Enviar">
                    </div>
                </fieldset>
            </form>
            <p>NOTA: Revisa constantemente los <em>Foros de discusión</em> ya que daremos respuesta a tus solicitudes dentro de la Comunidad <strong><em>Todos en ONE.</em></strong></p>
            <p><em>Si tienes alguna duda, contacta a la <strong>Mesa de Ayuda, ext. 3020</strong></em></p>
            <footer>
                <img src="img/logo_axa.png" alt="logo_axa" width="195" height="55">
            </footer>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/plugins-ck.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/main-ck.js" charset="utf-8" type="text/javascript"></script>
    </body>
</html>