<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>ONE / es más || AXA / reinventando / los seguros</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width" />
        <meta name="robots" content="all" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
        
        <script src="js/vendor/modernizr-2.6.2.min.js" type="text/javascript"></script>
        <script src="js/vendor/prefixfree.min.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="alert_box">
            <h2></h2>
            <a href="#" title="Cerrar" class="close">
                <img src="img/cancelIcon.png" alt="Cerrar" width="36" height="36" />
            </a>
        </div>
        <div class="alert_background"></div>
        <a href="#" rel=".alert_box" title="Abrir Alerta" class="alert_trigger">Abrir Alerta</a>
        <div id="wrapper">
            <img src="img/4.gif" alt="4" width="32" height="32" class="loader">
            <header>
                <a href="http://www.axa.mx/Personas/AxaSeguros/default.aspx" title="Seguros Axa" target="_blank">
                    <img src="img/header.jpg" alt="One / es más" width="586" height="86">
                </a>
            </header>
            <form action="../snippets/controller.php?action=managerNetworkFormSubmitThree" method="post" accept-charset="utf-8" id="third_review_manager_network" class="double">
                <fieldset>
                    <h1>Tercer Review</h1>
                    <div id="one" class="question left">
                        <p>¿Encontraste algún blog de tu interés?</p>
                        <div>
                            <input type="radio" name="one" value="Sí, varios (Más de 3)">
                            <label for="one">Sí, varios (Más de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="Si, algunos (De 1 a 3)">
                            <label for="one">Si, algunos (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No encontré nada de mi interés">
                            <label for="one">No encontré nada de mi interés</label>
                        </div>
                        <div>
                            <input type="radio" name="one" value="No he tenido tiempo de buscar">
                            <label for="one">No he tenido tiempo de buscar</label>
                        </div>
                    </div>
                    <div id="eight" class="question right">
                        <p>¿Revisaste los mails diariamente?</p>
                        <div>
                            <input type="radio" name="eight" value="Sí">
                            <label for="eight">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Los revisé cada 3 días">
                            <label for="eight">Los revisé cada 3 días</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="Los revisé una vez a la semana">
                            <label for="eight">Los revisé una vez a la semana</label>
                        </div>
                        <div>
                            <input type="radio" name="eight" value="No los he revisado aún">
                            <label for="eight">No los he revisado aún</label>
                        </div>
                    </div>
                    <div id="two" class="question left">
                        <p>¿Participaste en algún blog?</p>
                        <div>
                            <input type="radio" name="two" value="Si, participé con comentarios">
                            <label for="two">Si, participé con comentarios</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="Si, añadí recomendaciones">
                            <label for="two">Si, añadí recomendaciones</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="Las 2 anteriores">
                            <label for="two">Las 2 anteriores</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No participé">
                            <label for="two">No participé</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No he encontrado">
                            <label for="two">No he encontrado</label>
                        </div>
                        <div>
                            <input type="radio" name="two" value="No he tenido tiempo">
                            <label for="two">No he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="nine" class="question right">
                        <p>¿Consideras que ONE te ofrece herramientas para <strong>facilitar tu trabajo como Manager?</strong></p>
                        <div>
                            <input type="radio" name="nine" value="Sí, ONE facilita mi trabajo">
                            <label for="nine">Sí, ONE facilita mi trabajo</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="Regular, no entiendo del todo como aprovechar ONE al máximo">
                            <label for="nine">Regular, no entiendo del todo como aprovechar ONE al máximo</label>
                        </div>
                        <div>
                            <input type="radio" name="nine" value="No, no encuentro el valor de ONE">
                            <label for="nine">No, no encuentro el valor de ONE</label>
                        </div>
                    </div>
                    <div id="three" class="question left">
                        <p>¿Revisaste los eventos próximos de AXA en ONE?</p>
                        <div>
                            <input type="radio" name="three" value="Sí">
                            <label for="three">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No">
                            <label for="three">No</label>
                        </div>
                        <div>
                            <input type="radio" name="three" value="No los encontré">
                            <label for="three">No los encontré</label>
                        </div>
                    </div>
                    <div id="ten" class="question right">
                        <p>¿Que herramienta te fue de mayor utilidad?</p>
                        <div>
                            <textarea name="ten" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="four" class="question left">
                        <p>¿Entraste a alguna Wiki de las comunidad <strong>Piloto de ONE Edición México</strong>?</p>
                        <div>
                            <input type="radio" name="four" value="Si, entré a varias (Más de 3)">
                            <label for="four">Si, entré a varias (Más de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="Si, entré a algunas (De 1 a 3)">
                            <label for="four">Si, entré a algunas (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="four" value="No he podido revisarlas">
                            <label for="four">No he podido revisarlas</label>
                        </div>
                    </div>
                    <div id="eleven" class="question right">
                        <p>Califica tu desempeño esta semana:</p>
                        <div>
                            <input type="radio" name="eleven" value="Muy bueno, realicé todas las actividades">
                            <label for="eleven">Muy bueno, realicé todas las actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Bueno, realicé algunas actividades">
                            <label for="eleven">Bueno, realicé algunas actividades</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Regular, sólo realicé una actividad">
                            <label for="eleven">Regular, sólo realicé una actividad</label>
                        </div>
                        <div>
                            <input type="radio" name="eleven" value="Malo, no pude realizar ninguna actividad">
                            <label for="eleven">Malo, no pude realizar ninguna actividad</label>
                        </div>
                    </div>
                    <div id="five" class="question left">
                        <p>¿Participaste en alguna Wiki con recomendaciones?</p>
                        <div>
                            <input type="radio" name="five" value="Sí">
                            <label for="five">Sí</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No">
                            <label for="five">No</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No sé como recomendar">
                            <label for="five">No sé como recomendar</label>
                        </div>
                        <div>
                            <input type="radio" name="five" value="No he entrado a Wikis">
                            <label for="five">No he entrado a Wikis</label>
                        </div>
                    </div>
                    <div id="twelve" class="question right">
                        <p>Añade algún comentario de tu experiencia esta semana:</p>
                        <div>
                            <textarea name="twelve" placeholder="Ninguno" value="Ninguno"></textarea>
                        </div>
                    </div>
                    <div id="six" class="question left">
                        <p>¿Creaste algún marcador?</p>
                        <div>
                            <input type="radio" name="six" value="Sí, varios (Más de 3)">
                            <label for="six">Sí, varios (Más de 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="Sí, algunos (De 1 a 3)">
                            <label for="six">Sí, algunos (De 1 a 3)</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No supe cómo hacerlo">
                            <label for="six">No supe cómo hacerlo</label>
                        </div>
                        <div>
                            <input type="radio" name="six" value="No he tenido tiempo">
                            <label for="six">No he tenido tiempo</label>
                        </div>
                    </div>
                    <div id="seven" class="question left">
                        <p>¿Cómo calificarías la utilidad de las herramientas en tu trabajo diario?</p>
                        <div>
                            <input type="radio" name="seven" value="Muy útiles, me sirven en mi día a día">
                            <label for="seven">Muy útiles, me sirven en mi día a día</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="Algo útiles, sólo usaría algunas">
                            <label for="seven">Algo útiles, sólo usaría algunas</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="Poco útiles, las usaría rara vez">
                            <label for="seven">Poco útiles, las usaría rara vez</label>
                        </div>
                        <div>
                            <input type="radio" name="seven" value="No las usaría">
                            <label for="seven">No las usaría</label>
                        </div>
                    </div>
                    <div id="submit_wrapper">
                        <input type="submit" title="Enviar" value="Enviar">
                    </div>
                </fieldset>
            </form>
            <footer>
                <img src="img/logo_axa.png" alt="logo_axa" width="195" height="55">
            </footer>
        </div>
        
        <script src="js/vendor/jquery-1.8.3.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/plugins-ck.js" charset="utf-8" type="text/javascript"></script>
        <script src="js/main-ck.js" charset="utf-8" type="text/javascript"></script>
    </body>
</html>