<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="outline: transparent thin none;">
    <head style="outline: transparent thin none;">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="outline: transparent thin none;">
        <title style="outline: transparent thin none;">¿Quién soy yo en ONE?</title>
        
    </head>
    <body bgcolor="#FFFFFF" style="outline: transparent thin none;">
        <center style="outline: transparent thin none;">
            <table id="Table_01" width="765" border="0" cellpadding="0" cellspacing="0" style="outline: transparent thin none;">
                <tr style="outline: transparent thin none;">
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_01" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_01.jpg" width="14" height="374" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td colspan="6" style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_02" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02//Golive_Colaboradores_2_02.jpg" width="738" height="374" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_03" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_03.jpg" width="12" height="374" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="374" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="764" height="19" colspan="8" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="764" height="19" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="19" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="14" height="493" rowspan="7" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="14" height="493" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_06" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_06.jpg" width="201" height="42" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <a href="http://one.axa.com/profiles/html/editMyProfileView.do?lang=es" title="Mi Perfil" target="_blank" style="outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                            <img id="Golive_Colaboradores_2_07" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_07.jpg" width="155" height="42" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                        </a>
                    </td>
                    <td colspan="2" style="outline: transparent thin none;">
                        <a href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dc48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" title="Aprende Más" target="_blank" style="outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                            <img id="Golive_Colaboradores_2_08" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_08.jpg" width="172" height="42" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                        </a>
                    </td>
                    <td width="21" height="424" rowspan="5" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="21" height="424" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_10" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_10.jpg" width="189" height="42" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td width="12" height="493" rowspan="7" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="12" height="493" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="42" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td colspan="4" style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_12" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_12.jpg" width="528" height="247" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_13" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_13.jpg" width="189" height="247" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="247" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td colspan="4" style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_14" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_14.jpg" width="528" height="75" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td rowspan="2" style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_15" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_15.jpg" width="189" height="85" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="75" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="528" height="60" colspan="4" rowspan="2" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="528" height="60" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="10" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="189" height="50" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="189" height="50" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="50" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="506" height="69" colspan="3" rowspan="2" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="506" height="69" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td colspan="3" style="outline: transparent thin none;">
                        <img id="Golive_Colaboradores_2_19" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/Golive_Colaboradores_2_19.jpg" width="232" height="40" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="40" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="232" height="29" colspan="3" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="232" height="29" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="1" height="29" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="14" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="201" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="155" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="150" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="22" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="21" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="189" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/spacer.gif" width="12" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;"></td>
                </tr>
            </table>
        </center>
        <center style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;opacity:0;filter:opacity(alpha:0); visibility:hidden; display:none;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;opacity:0;filter:opacity(alpha:0); visibility:hidden; display:none;">
            <tr>
                <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                    <table border="0" cellpadding="0" cellspacing="0" id="canspamBar" style="opacity:0;filter:opacity(alpha:0);visibility:hidden; display:none;">
                        <tr>
                            <td align="center" valign="top" style="color:#FFF; text-indent:-2000em;font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
                                This email was sent to <a href="*|EMAIL|*" target="_blank" style="color:#FFF !important;">*|EMAIL|*</a>
                                <br>
                                <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UNSUB|*" style="color:#404040 !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">update subscription preferences</a>
                                <br>
                                *|LIST:ADDRESSLINE|*
                                <br>
                                <br>
                                *|REWARDS|*
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <style type="text/css">
            @media only screen and (max-width: 480px){
                table[id="canspamBar"] td{font-size:14px !important;}
                table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
            }
        </style>
    </body>
</html>