body
    display: table
    height: 100%
    width: 100%
.wrapper
    display: table
    width: 100%
.center
    display: block !important
    margin: 0 auto
    width: 75%
.desktop
.mobile
    display: none !important
body
    header
        background: url('../img/5-pasos-para-crear-tu-perfil-one/bg_header.jpg') no-repeat scroll center top transparent
        background-size: 100% 100%
        display: block
        height: 314px !important
        div
            height: 314px
            position: relative
            width: 100%
            h1
                color: transparent
                left: 50%
                position: absolute
                top: 50%
        img.header-ceil
            margin: 30px 0 0 20px
        a
            @extend .descubre-one
            color: transparent
            position: absolute
            right: 123px
            text-decoration: none
            top: 45px
        .header-line
            @extend .linea_header
            position: absolute
            right: 0px
            top: 50px
    section
        div
            border-bottom: 1px solid #DFDFDF
            margin: 30px auto 0
            min-height: 245px
            padding: 0 0 30px
            h2, h3, h4, h5, h6, p, ul li
                @include font-mask( normal, em( 20, 16 ), 1.5em, $helvetica, $text-gray-color )
                span
                    color: $text-blue-color
                    &.text-black
                        color: $text-black-color
                strong
                    color: $text-black-color
            h2, h3, h4, h5, h6
                margin: 30px auto
                position: relative
                text-align: center
                width: 55%
                z-index: 1
                &:before,&:after
                    content: ""
                    position: absolute
                &:before
                    left: -190px
                    top: 5px
                    z-index: 1
                &:after
                    left: -130px
                    top: 70px
                    z-index: 0
            p
                clear: both
                display: block
                margin: 1em 0
                text-align: center
            ul
                margin: 0 0 0 35%
                li
                    margin: 5px 0
                    strong
                        color: $text-black-color
            h2
                &:before
                    @extend .uno
            h3
                &:before
                    @extend .dos
            h4
                &:before
                    @extend .tres
            h5
                &:before
                    @extend .cuatro
            h6
                &:before
                    @extend .cinco
            img
                clear: both
                display: inline-block
                left: 50%
                position: relative
                vertical-align: middle
                z-index: 0
    footer
        .wrapper
            background: $blue-background
        .call-to-action
            display: block
            p
                @include font-mask( normal, em( 25, 16 ), 1.5em, $helvetica, $white-color )
                clear: both
                display: block
                margin: 30px auto
                text-align: center
                strong
                    border-bottom: 5px solid $call-to-action-button
                    padding-bottom: 0px
            a
                @include font-mask( normal, em( 20, 16 ), em( 63, 20 ), $helvetica, $white-color )
                background: $call-to-action-button
                display: block
                height: 68
                margin: 0 auto 40px
                padding: 0 20px
                text-align: center
                text-decoration: none
                width: 310px
        .legend
            p
                @include font-mask( normal, em( 25, 16 ), 1.5em, $helvetica, $text-black-color )
                display: block
                margin: 16px auto
                text-align: center
                strong
                    font-weight: bold
            .blue-legend
                color: $text-blue-color
        .axa-isologotype
            img
                float: right
                margin: 1em auto
