<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
    <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_13/header.jpg" width="600" height="279" usemap="#Map" border="0" /></td>
            </tr>
            <tr>
              <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="66" style="width:222px;">
                    <b style="font-size:17px; color:#2A4790;">Con ONE podrás mantenerte informado</b><br />
                    <b style="font-size:17px; color: #999;">de todo lo que te interesa de AXA.</b>
              </td>
                <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Lunes <b style="color: #2B4891;">14 de abril</b></td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_12/lateral_pico.png" width="175" height="83" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" width="350" height="3"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_12/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr>
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" width="350">
                    <p>En la sección <em>Noticias</em> podrás <strong>consultar noticias relacionadas</strong> a lo que sucede en diferentes áreas de <strong>AXA México</strong> o inclusive en otras entidades de <strong>AXA en el mundo. </strong></p>
                    <p>Es muy fácil, visita la página principal de <em>Noticias</em>, <strong>suscríbete a los canales de tu interés</strong> para recibir las noticias del momento y no olvides compartir lo más relevante con tu equipo. </p><p align="justify" class="text">&nbsp;</p>
                </td>
                <td width="26" >&nbsp;</td>
              <td width="143" bgcolor="#F3F3F3" style="color: #666; padding-left:15px; padding-right:15px;">
                    <p><em>&ldquo;Con los nuevos canales de noticias, me entero de lo que sucede en las diferentes áreas de la empresa y de los acontecimientos más importantes en Región y Grupo.&rdquo;</em></p>
<p style="font-style:oblique;">&nbsp;</p>
                  <p><b style="color: #2A4691">Carolina Rodríguez </b> <br />
                    Analista de Procesos Técnicos Vida y Salud, AXA México.</p>
                </td>
                <td width="30">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" valign="middle" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_13/one_lateral.jpg" width="170" height="103" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_13/tip.jpg" width="346" height="113" />
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="34,230,196,267" href="http://www.axa-intranet.intraxa/wps/myportal/mexico/home/news/allnews" target="_blank" alt="Noticias" />
          <area shape="rect" coords="195,230,378,267" href="http://one.axa.com/files/app?lang=es#/file/d078957e-81c1-4870-b5f5-0553a257eee3" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>
