<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/header.jpg" width="600" height="277" usemap="#Map" border="0" /></td>
            </tr>
            <tr><!-- Título -->
                <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="30" style="width:222px;" colspan="2">
                    <b style="font-size:21px;color:#2A4790;font-weight:bold;font-family:Arial,Helvetica,sans-serif;">¿Tienes algo que decir?</b>
                    <b style="font-size:21px;color:#999;font-weight:normal;display:block;font-family:Arial,Helvetica,sans-serif;">¡Cuéntaselo a ONE!</b>
                    <p align="right" style="text-align:right;font:13px/13px Arial,Helvetica,sans-serif;display:block;width:100%;color:#999;margin:0;padding:0 0 5px">
                        Martes <span style="color:#2B4891;font-weight:bold;">18 de febrero</span>
                    </p>
                </td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/lateral_pico.png" width="173" height="39" align="left" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr><!-- Título -->
            <tr>
                <td colspan="2" style="width:349px; height:1px;"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr><!-- Caja de texto -->
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" width="350" valign="top">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">En los <em>Foros de discusión</em> encontrarás <strong>diálogos abiertos</strong> donde cada participante podrá <strong>consultar y responder en diferentes momentos</strong>. Los foros están organizados por temas y categorías y dentro de ellos podrás abrir nuevos temas de discusión.</p>
                    <p align="justify" class="text">Crea un <em>Foro</em> de discusión en la <em>Comunidad Todos en ONE</em> y participa compartiendo con nosotros ideas innovadoras para utilizar la plataforma. <strong>Haz preguntas, intercambia opiniones, resuelve tus dudas y ayuda a los demás a resolver las suyas.</strong></p>
                </td>
                <td width="26" >&nbsp;</td>
                <td width="143" bgcolor="#F3F3F3" style="color:#666; padding-left:15px; padding-right:15px;">
                    <p style="font-style:oblique;line-height:19px;">“A través de foros y blogs podemos discutir y fortalecer las iniciativas de Responsabilidad Corporativa, dándole voz a todos los voluntarios que participan de nuestras actividades.”</p>
                    <p style="font-style:oblique;line-height:19px;"><b style="color: #2A468F">Ricardo Morán,</b> <br />Subdirector Responsabilidad Corporativa, AXA México</p>
                </td>
                <td width="30">&nbsp;</td>
            </tr><!-- Caja de texto -->
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/one_lateral.jpg" width="172" height="82" /></td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr><!-- TIP -->
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/tip.jpg" width="346" height="128" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_08/logo_footer.png" width="219" height="38" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
        
        <map name="Map" id="Map">
            <area shape="rect" coords="34,233,124,261" href="http://one.axa.com/forums/html/my" target="_blank" alt="Foros" />
            <area shape="rect" coords="123,233,238,261" href="http://one.axa.com/files/app?lang=es#/file/fe8f7649-98f0-4083-be2a-5bc27d32b910" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="238,233,401,261" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W5d972465b18a_414c_9a8e_55116f9b447f " target="_blank" alt="Foros Todos en ONE" />
        </map>
    </body>
</html>
