<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Axa Go Live</title>
            <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            </style>
</head>

<body><table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
  <tr>
    <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/header.jpg" width="600" height="280" usemap="#Map" border="0" /></td>
  </tr>
  <tr>
    <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
    <td width="222" height="30" style="width:222px;"><b style="font-size:24px; color:#2A4790;">¿Quién soy yo </b><br />
    <b style="font-size:21px; color: #999;">en ONE? </b></td>
    <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Martes <b style="color: #2B4891;">26 de noviembre</b></td>
    <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
    <td width="173" rowspan="2" valign="bottom" style="width:170px;"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/lateral_pico.png" width="173" height="39" /></td>
    <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="width:349px; height:1px;"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/linea-contenido.jpg" width="349" height="1" /></td>
  </tr>
    <tr>
        <td width="25" height="138">&nbsp;</td>
        <td colspan="2" align="justify" width="350">
            <p align="justify" class="text">El punto de partida para todo lo que ONE te ofrece, es tu perfil. Creando tu perfil y manteniéndolo actualizado, podrás <strong>mantenerte en contacto con tu equipo y colegas</strong>, y a su vez, les permitirá a ellos conocerte mejor y conectarse contigo para <strong>juntos crear valor</strong>.</p>
            <p align="justify" class="text">Entra a hoy mismo a <em>Mi perfil</em>, <strong>carga tu información personal y profesional</strong> y forma parte de la comunidad AXA a través de ONE. Es tan sencillo como hacerlo en Facebook o Twitter. </p>
            <p align="justify" class="text">Mantén siempre tu perfil actualizado para facilitar la comunicación y hacerla más ágil. <strong>Participa, deja que los demás sepan en que estás trabajando y cambia tu estado</strong> de perfil diariamente.<br />
            </p>
        </td>
        <td width="26" >&nbsp;</td>
        <td width="143" bgcolor="#F3F3F3" style="color:#666; padding-left:15px; padding-right:15px;">
            <p style="font-style:oblique;">"Hoy puedo estar en contacto con directores territoriales, compartir con ellos información, documentación de manera práctica, organizada y centralizada sin salir de nuestras oficinas."</p>
            <p><b style="color:#2A4691">Eric Arellano,</b> <br />
                Director HR Business Partners, AXA México.</p>
        </td>
        <td width="30">&nbsp;</td>
    </tr>
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td colspan="2" style="height:10px;"></td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2" valign="middle" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/one_lateral.jpg" width="172" height="82" /></td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/tip.jpg" width="346" height="115" /></td>
  </tr>
  <tr>
    <td colspan="6" style="height:20px;"></td>
  </tr>
  <tr>
    <td colspan="5" align="right" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_02/logo_footer.png" width="219" height="38" /></td>
    <td>&nbsp;</td>
  </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="37,236,162,264" href="http://one.axa.com/profiles/html/editMyProfileView.do?lang=es" target="new" />
  <area shape="rect" coords="165,235,314,265" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W4c05ec0ce778_4030_a601_ca904823266f&amp;file=c48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" target="new" />
</map>
</body>
</html>
