<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/header.jpg" width="600" height="277" usemap="#Map" border="0" /></td>
            </tr>
            <tr>
                <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="30" style="width:222px;">
                    <b style="color:#2A4790;display:block;padding:0 0 5px;font:bold 21px/21px Arial,Helvetica,sans-serif;">Y tú, <br/>¿con quién andas?</b>
                </td>
                <td width="128" align="right" valign="middle">
                    <span style="color:#999;padding:30px 0 5px;display:inline-block;font-family:Arial,Helvetica,sans-serif;font-weight:normal;">Martes <span style="color:#2B4891;font-weight:bold;">11 de febrero</span></span>
                </td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/lateral_pico.png" width="173" height="39" align="left" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="width:349px; height:1px;" valign="middle">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/linea-contenido.jpg" width="349" height="1" />
                </td>
            </tr>
            <tr><!-- Caja de texto -->
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" width="350" valign="top">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">Las comunidades son una herramienta muy útil en tu vida diaria ya que te <strong>permiten estar en contacto con un grupo de personas con las que compartes</strong> uno o varios <strong>intereses en común</strong>: temas, profesiones, proyectos, experiencias, actividades, aficiones, etcétera.</p>
                    <p align="justify" class="text">Únete y participa en la <strong><em>Comunidad Todos en ONE</em> para interactuar, intercambiar información</strong>, compartir mejores prácticas y <strong>darnos tus opiniones</strong> en este primer acercamiento a ONE.</p>
                </td>
                <td width="26" >&nbsp;</td>
                <td width="143" bgcolor="#F3F3F3" style="color:#666; padding-left:15px; padding-right:15px;">
                    <p style="font-style:oblique;line-height:19px;">“Hemos creado una comunidad en ONE para compartir información con todos nuestro colegas de la Región MedLA y otra para el Comité Ejecutivo en México, de esta manera evitamos largos correos y pesados documentos adjuntos.”</p>
                    <p style="font-style:oblique;line-height:19px;"><b style="color: #2A468F">Madeleine Langand,</b> <br />Directora de Contabilidad, Planeación y Control Financiero, AXA México.
                </p></td>
                <td width="30">&nbsp;</td>
            </tr><!-- Caja de texto -->
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/one_lateral.jpg" width="172" height="82" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr><!-- TIP -->
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/tip.jpg" width="346" height="118" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_07/logo_footer.png" width="219" height="38" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
        
        <map name="Map" id="Map">
            <area shape="rect" coords="34,232,148,260" href="http://one.axa.com/communities/service/html/mycommunities" target="_blank" alt="Comunidades" />
            <area shape="rect" coords="147,233,246,260" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dcb0d2224-6f11-43ef-8613-045ec26c840d" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="245,233,428,260" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf" target="_blank" alt="Comunidad Todos en ONE" />
        </map>
    </body>
</html>
