<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
                width: 350px;
            }
            .text_down{
                color: #000;
                font: normal 12px/1em Arial,Helvetica,'sans-serif';
                text-align: justify;
                width: 550px;
            }
            .text_down a{
                color: #cf0303;
            }
            .title{
                font: normal 11px/12px Arial,Helvetica,"sans-serif";
                margin: 0;
                padding: 0;
            }
            .red{ color: #EC1E07; }
            .green{ color: #4FA423; }
            .purple{ color: #7A5873; }
            .orange{ color: #FF8601; }
            .blue{ color: #001278; }
            .page_description{
                color: #000;
                font:normal 10px/9px Arial,Helvetica,sans-serif;
                text-align: justify;
                margin: 0;
                padding: 0;
                width: 230px
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="5" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/header.jpg" width="600" height="279" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr><!-- Título -->
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
                <td height="30" style="width:222px;">
                    <b style="font-size:23px; color:#2A4790; font-weight:bold; display:block; width:210px; padding:0; margin:0; clear: both;" align="left">Bienvenido a ONE,<br /><span style="font-size:18px; color: #999; font-weight:normal; display:block; width:350px; padding:0; margin:0; clear: both;">tu nueva intranet.</span>
                    </b>
                    <p align="right" style="display: inline-block; padding: 0; margin: 0 0 5px; width: 345px; text-align:right;">Lunes <b style="color: #2B4891;">13 de enero</b></p>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="32" rowspan="2">&nbsp;</td>
                <td width="170" rowspan="2" valign="bottom" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/lateral_pico.png" width="170" height="39" style="display:block;" />
                </td>
                <td width="53" rowspan="2">&nbsp;</td>
            </tr><!-- Título -->
            <tr>
                <td height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="30" height="138">&nbsp;</td>
                <td width="352" height="10" align="justify" valign="top">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Como recuerdas el pasado 19 de noviembre estrenamos intranet: ONE. Desde entonces recibes un correo electrónico de manera semanal con la finalidad de que la explores y conozcas las herramientas con las que cuenta.</p>
                    <p align="justify" class="text">Recopilando lo que hemos aprendido hasta hoy, recordarás que ONE está dividida en seis secciones principales en las cuales encontrarás diferente información que será útil para tu trabajo diario.</p>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/imgn_1.png" alt="ONE/ Edición AXA México" width="352" height="72" />
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_welcome/mi_pagina.png" alt="mi_pagina" width="107" height="265" />
                            </td>
                            <td valign="top">
                                <ul style="margin:0;padding:0 0 0 5px;" valign="top">
                                    <li height="30" style="list-style: none inside; margin: 0; padding: 0 0 15px; height:44px;" valign="top">
                                        <p class="title red"><em>Mi espacio de trabajo</em></p>
                                        <p class="page_description">Encuentra información, servicios y herramientas para tu trabajo diario. Cuenta con repositorios de documentos y sitios de proyectos colaborativos.</p>
                                    </li>
                                    <li style="list-style: none inside; margin: 0; padding: 0 0 12px; height:45px;" valign="top">
                                        <p class="title green"><em>Connections</em></p>
                                        <p class="page_description">Es la sección donde se encuentran todas las herramientas colaborativas para  interactuar con otros colaboradores de AXA.</p>
                                    </li>
                                    <li style="list-style: none inside; margin: 0; padding: 0 0 12px; height:33px;" valign="top">
                                        <p class="title purple"><em>Axa y yo</em></p>
                                        <p class="page_description">Aquí encontrarás todo lo relacionado a Recursos Humanos y tu vida profesional en  AXA.</p>
                                        <p style="height:15px; margin: 0; paddgin: 0;"></p>
                                    </li>
                                    <li style="list-style: none inside; margin: 0; padding: 0 0 17px; height:44px;" valign="top">
                                        <p class="title orange"><em>Noticias</em></p>
                                        <p class="page_description">Encuentra todas las noticias  de  AXA México, en la Región MedLA y el Grupo AXA. Suscríbete a los que sean de tu interés.</p>
                                        <p style="height:20px; margin: 0; paddgin: 0;"></p>
                                    </li>
                                    <li style="list-style: none inside; margin: 0; padding: 0; height:46px;" valign="top">
                                        <p class="title blue"><em>Acerca de nosotros</em></p>
                                        <p class="page_description">Podrás consultar todo lo relacionado con la visión AXA México, Responsabilidad Corporativa, MedLA y el Grupo AXA.</p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="32" >&nbsp;</td>
                <td width="170" valign="top" align="center" bgcolor="#F3F3F3" style="color:#666;">
                    <p style="font-style:oblique;line-height:15px; display:block; width:140px; margin:0 15px 10px; padding:0;" align="left">“ONE es la nueva plataforma tecnológica que conectará a los colaboradores de AXA Seguros con personas o grupos en todo México y con las entidades que forman parte del  Grupo AXA. ONE ha sido diseñada para facilitar tu trabajo y permitirte aumentar tus conocimientos a través de herramientas de comunicación y colaboración, lo cual definitivamente nos permitirá construir juntos y más rápido la empresa que soñamos, dando la experiencia de asesoramiento y servicio que las empresas y familias que confían en nosotros realmente se merecen”.</p>
                    <p style="display:block;margin:0;padding:5px 0;font-size:1px;height:5px;">&nbsp</p>
                    <p style="line-height:15px; display:block; width:140px; margin:0 15px; padding:0;" align="left"><b style="color:#FFF"><a href="http://one.axa.com/profiles/html/profileView.do?key=e6991512-5487-47a5-b498-57d033b20054&lang=es#inputProfileActionFollowing" title="Xavier de Bellefon" target="_blank" style="color:#666; text-decoration: none; font-weight:normal;">Xavier de Bellefon</a>,</b> <br />CEO AXA México</p>
                    <p style="display:block;margin:0;padding:5px 0;font-size:1px;height:5px;">&nbsp</p>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/one_lateral.jpg" width="170" height="82" style="display:block;" />
                </td>
                <td width="53">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Contenido Complementario-->
                <td></td>
                <td colspan="3">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text_down">Entra hoy a <a href="http://www.descubreone.mx/" target="_blank" title="Entra hoy a ONE">ONE</a> y descubre su gran potencial.</p>
                    <p align="justify" class="text_down">Si tienes alguna duda o te gustaría saber más acerca de los beneficios que ONE ofrece para ti y para tu equipo, escríbenos a <a href="mailto:one.mexico@axa.com.mx" title="one.mexico@axa.com.mx" target="_blank">one.mexico@axa.com.mx</a></p>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td></td>
            </tr><!-- Contenido Complementario-->
            <tr><!-- TIP -->
                <td></td>
                <td align="left" bgcolor="#F3F3F3" valign="top" colspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/tip.jpg" width="548" height="90" style="display:block;" />
                </td>
                <td></td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="5" style="height:20px;"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="1"></td>
                <td colspan="4" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_welcome/logo_footer.png" width="219" height="38" />
                </td>
                <td width="3">&nbsp;</td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
        
        <map name="Map" id="Map">
            <area shape="rect" coords="34,234,115,262" href="http://one.axa.com/wps/myportal/mexico" target="_blank" alt="ONE" />
        </map>
    </body>
</html>
