<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .left{
                float:right;
                width:200px;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/header.jpg" width="600" height="277" usemap="#Map" border="0" /></td>
            </tr>
            <tr><!-- Titulo -->
                <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="30" style="width:222px;" colspan="2">
                    <b style="font-size:26px;color:#2A4790;font-weight:bold;font-family:Arial,Helvetica,sans-serif;">¡Organiza tu información</b>
                    <br />
                    <b style="font-size:18px;color:#999;width:100%;display:block;font-weight:normal;">
                        y compártela!
                    </b>
                    <p align="right" style="text-align:right;font:13px/13px Arial,Helvetica,sans-serif;display:inline-block;color:#999;margin:0;padding:0 0 5px;display:block;">
                        Martes &nbsp;
                        <span style="color:#2B4891;display:inline;font-weight:bold;">28 de enero</span>
                    </p>
                </td>
                <td width="26" align="right" valign="bottom" style="width:26px; font-size:11px;"></td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/lateral_pico.png" width="173" height="39" align="left" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr><!-- Titulo -->
            <tr>
                <td colspan="2" style="width:349px; height:1px;"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr><!-- Caja de texto -->
                <td width="25" height="138" rowspan="2">&nbsp;</td>
                <td colspan="2" align="justify" width="350">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">Ya hemos hablado del buscador de ONE. <strong>Es esencial que toda la información que compartes esté etiquetada</strong> correctamente para que éste funcione a su máximo potencial.</p>
                </td>
                <td width="26" rowspan="2" >&nbsp;</td>
                <td width="143" rowspan="2" bgcolor="#F3F3F3" style="color:#666; padding-left:15px; padding-right:15px;" valign="top">
                    <p style="font-style:oblique;line-height:25px;padding:0 0 10px;">“Gracias a ONE el acceso a la información entre entidades, equipos y líneas de negocio es rápido y sencillo.”</p>
                    <p style="font-style:oblique;line-height:25px;"><b style="color: #2A468F;">Ulrike Decoene,</b> <br />Directora de Comunicación, AXA Región MedLA.</p>
                </td>
                <td width="30" rowspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td align="justify" width="130">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/etiquetas.jpg" alt="etiquetas" width="130" height="175" style="float:left; margin: 20px 20px 20px 0;" />
              </td>
              <td align="justify" width="200" valign="top">
                    <br />
                    <p align="justify" width="200" class="text left" style="float:right;width:200px;">Cuando creas y compartes información en ONE utiliza la función Etiquetas para marcarla con <strong>palabras clave que te ayuden a ti y a otros a identificar, clasificar y localizar</strong> el tipo de contenido que estás subiendo.</p>
                    <p align="justify" width="200" class="text left" style="float:right;width:200px;">En algunas secciones encontrarás, incluso, las etiquetas más populares para facilitar tus búsquedas en ONE. No olvides <strong>comunicar con tu equipo lo fácil que es encontrar información a través de etiquetas e invitarlos a <strong><em>Etiquetar</em></strong> su información.</strong></p>
              </td>
            </tr>
            <tr><!-- Caja de texto -->
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/one_lateral.jpg" width="172" height="82" /></td>
                <td rowspan="2">&nbsp;</td>
            </tr><!-- Caja de texto -->
            <tr><!-- TIP -->
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/tip.jpg" width="346" height="113" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/manager_network/images_05/logo_footer.png" width="219" height="38" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
        
        <map name="Map" id="Map">
            <area shape="rect" coords="34,232,123,262" href="http://one.axa.com/wps/myportal/mexico" target="_blank" alt="ONE" />
    </map>
    </body>
</html>
