

/* Start Sprite Master CSS */
.linea_header,.cinco,.cuatro,.dos,.tres,.uno,.blog,.foros,.wikis,.icono-de-estrella,.icono-de-globo-de-mensaje,.icono-de-personas,.como-resolver-dudas-y-compartir-tus-ideas-en-one,.descubre-one,.one-es-mas{display: inline-block;background-repeat: no-repeat;background-image: url('../img/como-resolver-dudas-y-compartir-tus-ideas-en-one/sprite.png');}
.linea_header{background-position:0px 0px;width:246px;height:4px;}
.cinco{background-position:-246px 0px;width:85px;height:80px;}
.cuatro{background-position:-331px 0px;width:85px;height:80px;}
.dos{background-position:-416px 0px;width:85px;height:80px;}
.tres{background-position:-501px 0px;width:85px;height:80px;}
.uno{background-position:-586px 0px;width:85px;height:80px;}
.blog{background-position:-671px 0px;width:207px;height:91px;}
.foros{background-position:0px -4px;width:244px;height:75px;}
.wikis{background-position:0px -80px;width:284px;height:90px;}
.icono-de-estrella{background-position:-878px 0px;width:135px;height:120px;}
.icono-de-globo-de-mensaje{background-position:-284px -80px;width:121px;height:117px;}
.icono-de-personas{background-position:-405px -80px;width:114px;height:115px;}
.como-resolver-dudas-y-compartir-tus-ideas-en-one{background-position:0px -197px;width:658px;height:166px;}
.descubre-one{background-position:-519px -80px;width:123px;height:15px;}
.one-es-mas{background-position:-642px -91px;width:83px;height:49px;}
/* End Sprite Master CSS */

