
/* Start Sprite Master CSS */
.cinco,.cuatro,.dos,.icono-de-mano,.icono-de-red-de-contactos,.icono-lapiz,.linea_header,.one-es-mas,.tres,.uno,.descubre-one{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-consejos-para-contar-con-la-mejor-informacion/sprite.png');}
.cinco{background-position:0px 0px;width:85px;height:80px;}
.cuatro{background-position:-85px 0px;width:85px;height:80px;}
.dos{background-position:-170px 0px;width:85px;height:80px;}
.icono-de-mano{background-position:-255px 0px;width:100px;height:101px;}
.icono-de-red-de-contactos{background-position:-355px 0px;width:102px;height:106px;}
.icono-lapiz{background-position:-457px 0px;width:93px;height:92px;}
.linea_header{background-position:-550px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-796px 0px;width:83px;height:49px;}
.tres{background-position:-879px 0px;width:85px;height:80px;}
.uno{background-position:-550px -4px;width:85px;height:80px;}
.descubre-one{background-position:-635px -4px;width:123px;height:15px;}
/* End Sprite Master CSS */
