
/* Start Sprite Master CSS */
.axa-reinventando-los-seguros,.descubre-one,.linea_header,.one-es-mas,.blog,.como-resolver-dudas-y-compartir-tus-ideas-en-one,.foros,.icono-de-estrella,.icono-de-globo-de-mensaje,.icono-de-personas,.wikis,.cinco,.cuatro,.dos,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/como-resolver-dudas-y-compartir-tus-ideas-en-one/sprite.png');}
.axa-reinventando-los-seguros{background-position:0px 0px;width:345px;height:60px;}
.descubre-one{background-position:-345px 0px;width:123px;height:15px;}
.linea_header{background-position:-468px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-714px 0px;width:83px;height:49px;}
.blog{background-position:-345px -15px;width:275px;height:121px;}
.como-resolver-dudas-y-compartir-tus-ideas-en-one{background-position:0px -136px;width:856px;height:217px;}
.foros{background-position:0px -353px;width:324px;height:99px;}
.icono-de-estrella{background-position:-324px -353px;width:179px;height:158px;}
.icono-de-globo-de-mensaje{background-position:-856px 0px;width:161px;height:155px;}
.icono-de-personas{background-position:-856px -155px;width:152px;height:152px;}
.wikis{background-position:-503px -353px;width:325px;height:102px;}
.cinco{background-position:-856px -307px;width:116px;height:113px;}
.cuatro{background-position:-828px -420px;width:119px;height:115px;}
.dos{background-position:0px -452px;width:115px;height:111px;}
.tres{background-position:-115px -452px;width:116px;height:114px;}
.uno{background-position:-503px -455px;width:126px;height:118px;}
/* End Sprite Master CSS */
