
/* Start Sprite Master CSS */
.cinco,.cuatro,.dos,.tres,.uno,.descubre-one,.one-es-mas,.icono-lapiz,.icono-liston,.icono-lupa,.icono-tachuela,.icono-www,.tips-para-ahorrar-tiempo-en-one-es-mas,.linea_header{display: inline-block;background-repeat: no-repeat;background-image: url('../img/tips-para-ahorrar-tiempo-en-one-es-mas/sprite.png');}
.cinco{background-position:0px 0px;width:85px;height:80px;}
.cuatro{background-position:-85px 0px;width:85px;height:80px;}
.dos{background-position:-170px 0px;width:85px;height:80px;}
.tres{background-position:-255px 0px;width:85px;height:80px;}
.uno{background-position:-340px 0px;width:85px;height:80px;}
.descubre-one{background-position:-425px 0px;width:123px;height:15px;}
.one-es-mas{background-position:-548px 0px;width:83px;height:49px;}
.icono-lapiz{background-position:-631px 0px;width:93px;height:92px;}
.icono-liston{background-position:-724px 0px;width:106px;height:92px;}
.icono-lupa{background-position:-830px 0px;width:92px;height:92px;}
.icono-tachuela{background-position:-922px 0px;width:101px;height:95px;}
.icono-www{background-position:-1023px 0px;width:142px;height:92px;}
.tips-para-ahorrar-tiempo-en-one-es-mas{background-position:-1165px 0px;width:462px;height:159px;}
.linea_header{background-position:-1627px 0px;width:246px;height:4px;}
/* End Sprite Master CSS */
