
/* Start Sprite Master CSS */
.icono-lapiz,.icono-liston,.icono-lupa,.icono-tachuela,.icono-www,.tips-para-ahorrar-tiempo-en-one-es-mas,.cinco,.cuatro,.descubre-one,.dos,.linea_header,.one-es-mas,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/tips-para-ahorrar-tiempo-en-one-es-mas/sprite.png');}
.icono-lapiz{background-position:0px 0px;width:150px;height:148px;}
.icono-liston{background-position:-150px 0px;width:170px;height:149px;}
.icono-lupa{background-position:-320px 0px;width:148px;height:148px;}
.icono-tachuela{background-position:-468px 0px;width:162px;height:153px;}
.icono-www{background-position:-630px 0px;width:230px;height:149px;}
.tips-para-ahorrar-tiempo-en-one-es-mas{background-position:-860px 0px;width:720px;height:274px;}
.cinco{background-position:-1580px 0px;width:116px;height:113px;}
.cuatro{background-position:-1696px 0px;width:119px;height:115px;}
.descubre-one{background-position:-1815px 0px;width:123px;height:15px;}
.dos{background-position:-1815px -15px;width:115px;height:111px;}
.linea_header{background-position:-1580px -126px;width:246px;height:4px;}
.one-es-mas{background-position:-1938px 0px;width:83px;height:49px;}
.tres{background-position:-1930px -49px;width:116px;height:114px;}
.uno{background-position:-1580px -130px;width:126px;height:118px;}
/* End Sprite Master CSS */
