
/* Start Sprite Master CSS */
.linea_header,.cinco,.cuatro,.dos,.tres,.uno,.icono-de-paisaje,.icono-de-persona,.icono-de-personas,.icono-de-red-de-contactos,.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one,.one-es-mas,.descubre-one{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo/sprite.png');}
.linea_header{background-position:0px 0px;width:246px;height:4px;}
.cinco{background-position:0px -4px;width:85px;height:80px;}
.cuatro{background-position:0px -84px;width:85px;height:80px;}
.dos{background-position:0px -164px;width:85px;height:80px;}
.tres{background-position:-85px -4px;width:85px;height:80px;}
.uno{background-position:-85px -84px;width:85px;height:80px;}
.icono-de-paisaje{background-position:-170px -4px;width:94px;height:95px;}
.icono-de-persona{background-position:-170px -99px;width:98px;height:97px;}
.icono-de-personas{background-position:-268px 0px;width:99px;height:100px;}
.icono-de-red-de-contactos{background-position:-268px -100px;width:102px;height:106px;}
.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one{background-position:-370px 0px;width:720px;height:211px;}
.one-es-mas{background-position:-85px -164px;width:83px;height:49px;}
.descubre-one{background-position:-85px -213px;width:123px;height:15px;}
/* End Sprite Master CSS */
