
/* Start Sprite Master CSS */
.axa-reinventando-los-seguros-movil,.como-resolver-dudas-y-compartir-tus-ideas-en-one-movil,.descubre-one-movil,.icono-de-estrella-movil,.icono-de-globo-de-mensaje-movil,.icono-de-personas-movil,.linea_header-movil,.one-es-mas-movil,.blog-movil,.foros-movil,.wikis-movil,.cinco-movil,.cuatro-movil,.dos-movil,.tres-movil,.uno-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/como-resolver-dudas-y-compartir-tus-ideas-en-one/sprite-movil.png');}
.axa-reinventando-los-seguros-movil{background-position:0px 0px;width:172px;height:30px;}
.como-resolver-dudas-y-compartir-tus-ideas-en-one-movil{background-position:-172px 0px;width:279px;height:231px;}
.descubre-one-movil{background-position:-451px 0px;width:61px;height:7px;}
.icono-de-estrella-movil{background-position:-512px 0px;width:90px;height:79px;}
.icono-de-globo-de-mensaje-movil{background-position:-602px 0px;width:81px;height:78px;}
.icono-de-personas-movil{background-position:-683px 0px;width:76px;height:76px;}
.linea_header-movil{background-position:-759px 0px;width:123px;height:2px;}
.one-es-mas-movil{background-position:-882px 0px;width:41px;height:24px;}
.blog-movil{background-position:-759px -24px;width:138px;height:61px;}
.foros-movil{background-position:0px -30px;width:162px;height:50px;}
.wikis-movil{background-position:-451px -79px;width:163px;height:51px;}
.cinco-movil{background-position:-923px 0px;width:77px;height:76px;}
.cuatro-movil{background-position:-897px -76px;width:79px;height:76px;}
.dos-movil{background-position:-683px -76px;width:76px;height:74px;}
.tres-movil{background-position:0px -80px;width:77px;height:76px;}
.uno-movil{background-position:-77px -80px;width:83px;height:78px;}
/* End Sprite Master CSS */
