
/* Start Sprite Master CSS */
.cinco-movil,.cuatro-movil,.descubre-one-movil,.dos-movil,.icono-de-basurero-completo-movil,.icono-de-basurero-movil,.icono-de-hojas-movil,.icono-de-liston-movil,.icono-de-papelera-movil,.icono-de-ventanas-movil,.linea_header-movil,.one-es-mas-movil,.tres-movil,.uno-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-tips-para-mantener-tus-proyectos-en-orden/sprite-movil.png');}
.cinco-movil{background-position:0px 0px;width:77px;height:76px;}
.cuatro-movil{background-position:-77px 0px;width:79px;height:76px;}
.descubre-one-movil{background-position:-156px 0px;width:61px;height:7px;}
.dos-movil{background-position:-156px -7px;width:76px;height:74px;}
.icono-de-basurero-completo-movil{background-position:0px -76px;width:53px;height:59px;}
.icono-de-basurero-movil{background-position:-53px -76px;width:97px;height:95px;}
.icono-de-hojas-movil{background-position:-150px -81px;width:96px;height:96px;}
.icono-de-liston-movil{background-position:0px -171px;width:110px;height:97px;}
.icono-de-papelera-movil{background-position:-110px -177px;width:97px;height:97px;}
.icono-de-ventanas-movil{background-position:-232px 0px;width:75px;height:75px;}
.linea_header-movil{background-position:-232px -75px;width:123px;height:2px;}
.one-es-mas-movil{background-position:0px -135px;width:41px;height:24px;}
.tres-movil{background-position:-207px -177px;width:77px;height:76px;}
.uno-movil{background-position:-246px -77px;width:83px;height:78px;}
/* End Sprite Master CSS */
