
/* Start Sprite Master CSS */
.cinco-pasos-para-crear-tu-perfil-one,.cinco,.cuatro,.descubre-one,.dos,.icono-de-bocina,.icono-de-lapiz,.icono-de-mano,.icono-de-paisaje,.icono-de-persona,.linea_header,.one-es-mas,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-pasos-para-crear-tu-perfil-one/sprite.png');}
.cinco-pasos-para-crear-tu-perfil-one{background-position:0px 0px;width:488px;height:164px;}
.cinco{background-position:-488px 0px;width:85px;height:80px;}
.cuatro{background-position:-573px 0px;width:85px;height:80px;}
.descubre-one{background-position:-658px 0px;width:123px;height:15px;}
.dos{background-position:-781px 0px;width:85px;height:80px;}
.icono-de-bocina{background-position:-866px 0px;width:91px;height:91px;}
.icono-de-lapiz{background-position:-957px 0px;width:97px;height:97px;}
.icono-de-mano{background-position:-1054px 0px;width:100px;height:101px;}
.icono-de-paisaje{background-position:-1154px 0px;width:94px;height:95px;}
.icono-de-persona{background-position:-1248px 0px;width:100px;height:100px;}
.linea_header{background-position:-1348px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-1594px 0px;width:83px;height:49px;}
.tres{background-position:-1677px 0px;width:85px;height:80px;}
.uno{background-position:-1762px 0px;width:85px;height:80px;}
/* End Sprite Master CSS */
