

/* Start Sprite Master CSS */
.bg_header,.cinco-pasos-para-crear-tu-perfil-one,.cinco,.cuatro,.descubre-one,.dos,.icono-de-bocina,.icono-de-lapiz,.icono-de-mano,.icono-de-paisaje,.icono-de-persona,.linea_header,.one-es-mas,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-pasos-para-crear-tu-perfil-one/sprite.png');}
.bg_header{background-position:0px 0px;width:1280px;height:462px;}
.cinco-pasos-para-crear-tu-perfil-one{background-position:0px -462px;width:770px;height:258px;}
.cinco{background-position:0px -720px;width:154px;height:151px;}
.cuatro{background-position:0px -871px;width:159px;height:152px;}
.descubre-one{background-position:-154px -720px;width:123px;height:15px;}
.dos{background-position:-159px -735px;width:152px;height:148px;}
.icono-de-bocina{background-position:-311px -720px;width:187px;height:187px;}
.icono-de-lapiz{background-position:-498px -720px;width:194px;height:192px;}
.icono-de-mano{background-position:-692px -720px;width:197px;height:199px;}
.icono-de-paisaje{background-position:-770px -462px;width:192px;height:192px;}
.icono-de-persona{background-position:-962px -462px;width:194px;height:193px;}
.linea_header{background-position:-770px -655px;width:246px;height:4px;}
.one-es-mas{background-position:-770px -659px;width:83px;height:49px;}
.tres{background-position:-1016px -655px;width:154px;height:151px;}
.uno{background-position:-889px -806px;width:167px;height:157px;}
/* End Sprite Master CSS */

