
/* Start Sprite Master CSS */
.one-es-mas-movil,.descubre-one-movil,.icono-lupa-movil,.icono-lapiz-movil,.dos-movil,.cinco-movil,.tres-movil,.cuatro-movil,.icono-tachuela-movil,.uno-movil,.icono-liston-movil,.icono-www-movil,.linea_header-movil,.axa-reinventando-los-seguros-movil,.tips-para-ahorrar-tiempo-en-one-es-mas-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/tips-para-ahorrar-tiempo-en-one-es-mas/sprite-movil.png');}
.one-es-mas-movil{background-position:0px 0px;width:41px;height:24px;}
.descubre-one-movil{background-position:-41px 0px;width:61px;height:7px;}
.icono-lupa-movil{background-position:0px -24px;width:74px;height:74px;}
.icono-lapiz-movil{background-position:0px -98px;width:75px;height:74px;}
.dos-movil{background-position:0px -172px;width:76px;height:74px;}
.cinco-movil{background-position:0px -246px;width:77px;height:76px;}
.tres-movil{background-position:0px -322px;width:77px;height:76px;}
.cuatro-movil{background-position:-74px -7px;width:79px;height:76px;}
.icono-tachuela-movil{background-position:-153px 0px;width:81px;height:77px;}
.uno-movil{background-position:-234px 0px;width:83px;height:78px;}
.icono-liston-movil{background-position:-317px 0px;width:85px;height:75px;}
.icono-www-movil{background-position:-75px -83px;width:115px;height:75px;}
.linea_header-movil{background-position:-75px -158px;width:123px;height:2px;}
.axa-reinventando-los-seguros-movil{background-position:-76px -160px;width:172px;height:30px;}
.tips-para-ahorrar-tiempo-en-one-es-mas-movil{background-position:-77px -190px;width:311px;height:215px;}
/* End Sprite Master CSS */
