
/* Start Sprite Master CSS */
.AXA-reinventando-los-seguros,.cinco,.cuatro,.descubre-one,.dos,.icono-bandera,.icono-calendario,.icono-fecha,.icono-hojas,.linea_header,.ONE-es-mas,.tres,.uno,.cuatro-consejos-para-optimizar-tus-tiempos,.titulo{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-consejos-para-optimizar-tus-tiempos/sprite.png');}
.AXA-reinventando-los-seguros{background-position:0px 0px;width:259px;height:45px;}
.cinco{background-position:-259px 0px;width:85px;height:80px;}
.cuatro{background-position:0px -45px;width:85px;height:80px;}
.descubre-one{background-position:-85px -45px;width:123px;height:15px;}
.dos{background-position:-85px -60px;width:85px;height:80px;}
.icono-bandera{background-position:-344px 0px;width:101px;height:88px;}
.icono-calendario{background-position:-170px -80px;width:101px;height:100px;}
.icono-fecha{background-position:0px -140px;width:101px;height:100px;}
.icono-hojas{background-position:-445px 0px;width:101px;height:101px;}
.linea_header{background-position:-546px 0px;width:246px;height:4px;}
.ONE-es-mas{background-position:-271px -88px;width:83px;height:49px;}
.tres{background-position:-354px -88px;width:85px;height:80px;}
.uno{background-position:-546px -4px;width:85px;height:80px;}
.cuatro-consejos-para-optimizar-tus-tiempos{background-position:-546px -84px;width:247px;height:85px;}
.titulo{background-position:0px -240px;width:545px;height:186px;}
/* End Sprite Master CSS */
