
/* Start Sprite Master CSS */
.AXA-reinventando-los-seguros,.cinco,.cuatro,.descubre-one,.dos,.icono-bandera,.icono-calendario,.icono-fecha,.icono-hojas,.linea_header,.ONE-es-mas,.tres,.uno,.cuatro-consejos-para-optimizar-tus-tiempos{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-consejos-para-optimizar-tus-tiempos/sprite.png');}
.AXA-reinventando-los-seguros{background-position:0px 0px;width:259px;height:45px;}
.cinco{background-position:-259px 0px;width:85px;height:80px;}
.cuatro{background-position:-344px 0px;width:85px;height:80px;}
.descubre-one{background-position:0px -45px;width:123px;height:15px;}
.dos{background-position:-123px -45px;width:85px;height:80px;}
.icono-bandera{background-position:0px -60px;width:101px;height:88px;}
.icono-calendario{background-position:-208px -80px;width:101px;height:100px;}
.icono-fecha{background-position:-309px -80px;width:101px;height:100px;}
.icono-hojas{background-position:-410px -80px;width:101px;height:101px;}
.linea_header{background-position:0px -180px;width:246px;height:4px;}
.ONE-es-mas{background-position:-429px 0px;width:83px;height:49px;}
.tres{background-position:-246px -180px;width:85px;height:80px;}
.uno{background-position:-331px -181px;width:85px;height:80px;}
.cuatro-consejos-para-optimizar-tus-tiempos{background-position:0px -260px;width:247px;height:85px;}
/* End Sprite Master CSS */
