
/* Start Sprite Master CSS */
.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one,.cinco,.cuatro,.descubre-one,.dos,.icono-de-paisaje,.icono-de-persona,.icono-de-personas,.icono-de-red-de-contactos,.linea_header,.one-es-mas,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo/sprite.png');}
.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one{background-position:0px 0px;width:580px;height:159px;}
.cinco{background-position:0px -159px;width:116px;height:113px;}
.cuatro{background-position:-116px -159px;width:119px;height:115px;}
.descubre-one{background-position:0px -274px;width:123px;height:15px;}
.dos{background-position:-235px -159px;width:115px;height:111px;}
.icono-de-paisaje{background-position:-350px -159px;width:144px;height:144px;}
.icono-de-persona{background-position:-494px -159px;width:146px;height:146px;}
.icono-de-personas{background-position:-640px 0px;width:197px;height:196px;}
.icono-de-red-de-contactos{background-position:-837px 0px;width:146px;height:146px;}
.linea_header{background-position:0px -305px;width:246px;height:4px;}
.one-es-mas{background-position:-246px -305px;width:83px;height:49px;}
.tres{background-position:-837px -146px;width:116px;height:114px;}
.uno{background-position:-640px -196px;width:126px;height:118px;}
/* End Sprite Master CSS */
