
/* Start Sprite Master CSS */
.axa-reinventando-los-seguros,.cinco,.cuatro,.descubre-one,.dos,.icono-de-basurero-completo,.icono-de-basurero,.icono-de-hojas,.icono-de-liston,.icono-de-papelera,.icono-de-ventanas,.linea_header,.one-es-mas,.tres,.uno,.titulo{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-tips-para-mantener-tus-proyectos-en-orden/sprite.png');}
.axa-reinventando-los-seguros{background-position:0px 0px;width:259px;height:45px;}
.cinco{background-position:-259px 0px;width:85px;height:80px;}
.cuatro{background-position:0px -45px;width:85px;height:80px;}
.descubre-one{background-position:-85px -45px;width:123px;height:15px;}
.dos{background-position:-85px -60px;width:85px;height:80px;}
.icono-de-basurero-completo{background-position:0px -125px;width:53px;height:59px;}
.icono-de-basurero{background-position:-344px 0px;width:97px;height:95px;}
.icono-de-hojas{background-position:-170px -80px;width:96px;height:96px;}
.icono-de-liston{background-position:-53px -140px;width:110px;height:97px;}
.icono-de-papelera{background-position:-441px 0px;width:97px;height:97px;}
.icono-de-ventanas{background-position:-266px -95px;width:75px;height:75px;}
.linea_header{background-position:-538px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-341px -95px;width:83px;height:49px;}
.tres{background-position:-784px 0px;width:85px;height:80px;}
.uno{background-position:-538px -4px;width:85px;height:80px;}
.titulo{background-position:-424px -97px;width:526px;height:179px;}
/* End Sprite Master CSS */
