
/* Start Sprite Master CSS */
.axa-reinventando-los-seguros-movil,.cinco-movil,.cuatro-movil,.descubre-one-movil,.dos-movil,.icono-bandera-movil,.icono-calendario-movil,.icono-fecha-movil,.icono-hojas-movil,.linea_header-movil,.one-es-mas-movil,.tres-movil,.uno-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-consejos-para-optimizar-tus-tiempos/sprite-mobile.png');}
.axa-reinventando-los-seguros-movil{background-position:0px 0px;width:172px;height:30px;}
.cinco-movil{background-position:-172px 0px;width:77px;height:76px;}
.cuatro-movil{background-position:-249px 0px;width:79px;height:76px;}
.descubre-one-movil{background-position:0px -30px;width:61px;height:7px;}
.dos-movil{background-position:-61px -30px;width:76px;height:74px;}
.icono-bandera-movil{background-position:-137px -76px;width:101px;height:88px;}
.icono-calendario-movil{background-position:-238px -76px;width:101px;height:100px;}
.icono-fecha-movil{background-position:0px -104px;width:101px;height:100px;}
.icono-hojas-movil{background-position:-101px -164px;width:101px;height:101px;}
.linea_header-movil{background-position:-202px -176px;width:123px;height:2px;}
.one-es-mas-movil{background-position:0px -37px;width:41px;height:24px;}
.tres-movil{background-position:-202px -178px;width:77px;height:76px;}
.uno-movil{background-position:-279px -178px;width:83px;height:78px;}
/* End Sprite Master CSS */
