
/* Start Sprite Master CSS */
.cinco,.cuatro,.dos,.icono-de-mano,.icono-de-red-de-contactos,.icono-lapiz,.linea_header,.one-es-mas,.tres,.uno,.descubre-one,.icono-usb,.titulo{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-consejos-para-contar-con-la-mejor-informacion/sprite.png');}
.cinco{background-position:0px 0px;width:85px;height:80px;}
.cuatro{background-position:-85px 0px;width:85px;height:80px;}
.dos{background-position:-170px 0px;width:85px;height:80px;}
.icono-de-mano{background-position:-255px 0px;width:100px;height:101px;}
.icono-de-red-de-contactos{background-position:-355px 0px;width:102px;height:106px;}
.icono-lapiz{background-position:-457px 0px;width:97px;height:96px;}
.linea_header{background-position:-554px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-800px 0px;width:83px;height:49px;}
.tres{background-position:-883px 0px;width:85px;height:80px;}
.uno{background-position:-554px -4px;width:85px;height:80px;}
.descubre-one{background-position:-639px -4px;width:123px;height:15px;}
.icono-usb{background-position:-639px -19px;width:97px;height:96px;}
.titulo{background-position:0px -106px;width:555px;height:174px;}
/* End Sprite Master CSS */
