
/* Start Sprite Master CSS */
.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one-movil,.axa-reinventando-los-seguros-movil,.cinco-movil,.cuatro-movil,.descubre-one-movil,.dos-movil,.icono-de-paisaje-movil,.icono-de-persona-movil,.icono-de-personas-movil,.icono-de-red-de-contactos-movil,.linea_header-movil,.one-es-mas-movil,.tres-movil,.uno-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/4-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo/sprite-movil.png');}
.cuatro-pasos-para-crear-tu-red-de-contactos-de-expertos-en-el-mundo-one-movil{background-position:0px 0px;width:306px;height:242px;}
.axa-reinventando-los-seguros-movil{background-position:-306px 0px;width:172px;height:30px;}
.cinco-movil{background-position:-306px -30px;width:77px;height:76px;}
.cuatro-movil{background-position:-383px -30px;width:79px;height:76px;}
.descubre-one-movil{background-position:-306px -106px;width:61px;height:7px;}
.dos-movil{background-position:-367px -106px;width:76px;height:74px;}
.icono-de-paisaje-movil{background-position:-306px -180px;width:96px;height:96px;}
.icono-de-persona-movil{background-position:-402px -180px;width:97px;height:97px;}
.icono-de-personas-movil{background-position:0px -242px;width:97px;height:97px;}
.icono-de-red-de-contactos-movil{background-position:-97px -242px;width:97px;height:97px;}
.linea_header-movil{background-position:-194px -276px;width:123px;height:2px;}
.one-es-mas-movil{background-position:-462px -30px;width:41px;height:24px;}
.tres-movil{background-position:-317px -276px;width:77px;height:76px;}
.uno-movil{background-position:-394px -277px;width:83px;height:78px;}
/* End Sprite Master CSS */
