
/* Start Sprite Master CSS */
.cinco-movil,.cuatro-movil,.dos-movil,.tres-movil,.uno-movil,.one-es-mas-movil,.descubre-one-movil,.icono-de-red-de-contactos-movil,.icono-de-mano-movil,.icono-lapiz-movil,.linea_header-movil,.icono-usb-movil,.titulo-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-consejos-para-contar-con-la-mejor-informacion/sprite-movil.png');}
.cinco-movil{background-position:0px 0px;width:77px;height:76px;}
.cuatro-movil{background-position:-77px 0px;width:79px;height:76px;}
.dos-movil{background-position:-156px 0px;width:76px;height:74px;}
.tres-movil{background-position:-232px 0px;width:77px;height:76px;}
.uno-movil{background-position:-309px 0px;width:83px;height:78px;}
.one-es-mas-movil{background-position:-156px -74px;width:41px;height:24px;}
.descubre-one-movil{background-position:-197px -76px;width:61px;height:7px;}
.icono-de-red-de-contactos-movil{background-position:0px -76px;width:97px;height:97px;}
.icono-de-mano-movil{background-position:-258px -78px;width:98px;height:99px;}
.icono-lapiz-movil{background-position:-97px -98px;width:97px;height:96px;}
.linea_header-movil{background-position:-194px -177px;width:123px;height:2px;}
.icono-usb-movil{background-position:0px -173px;width:97px;height:96px;}
.titulo-movil{background-position:0px -269px;width:293px;height:172px;}
/* End Sprite Master CSS */
