
/* Start Sprite Master CSS */
.cinco-pasos-para-crear-tu-perfil-one,.cinco,.cuatro,.descubre-one,.dos,.icono-de-bocina,.icono-de-lapiz,.icono-de-mano,.icono-de-paisaje,.icono-de-persona,.linea_header,.one-es-mas,.tres,.uno{display: inline-block;background-repeat: no-repeat;background-image: url('../img/5-pasos-para-crear-tu-perfil-one/sprite.png');}
.cinco-pasos-para-crear-tu-perfil-one{background-position:0px 0px;width:581px;height:194px;}
.cinco{background-position:-581px 0px;width:116px;height:113px;}
.cuatro{background-position:-697px 0px;width:119px;height:115px;}
.descubre-one{background-position:-816px 0px;width:123px;height:15px;}
.dos{background-position:-939px 0px;width:115px;height:111px;}
.icono-de-bocina{background-position:-1054px 0px;width:141px;height:141px;}
.icono-de-lapiz{background-position:-1195px 0px;width:146px;height:145px;}
.icono-de-mano{background-position:-1341px 0px;width:148px;height:149px;}
.icono-de-paisaje{background-position:-1489px 0px;width:144px;height:144px;}
.icono-de-persona{background-position:-1633px 0px;width:146px;height:146px;}
.linea_header{background-position:-1779px 0px;width:246px;height:4px;}
.one-es-mas{background-position:-1779px -4px;width:83px;height:49px;}
.tres{background-position:-1862px -4px;width:116px;height:114px;}
.uno{background-position:-816px -111px;width:126px;height:118px;}
/* End Sprite Master CSS */
