

/* Start Sprite Master CSS */
.cinco,.cuatro,.descubre-one,.dos,.linea_header,.tres,.uno,.video-descubre-one,.radio-checked,.radio,.queremos-conocer-tu-opinion-one,.one-es-mas{display: inline-block;background-repeat: no-repeat;background-image: url('../img/primera-encuesta-one/sprite.png');}
.cinco{background-position:0px 0px;width:85px;height:80px;}
.cuatro{background-position:0px -80px;width:85px;height:80px;}
.descubre-one{background-position:-85px 0px;width:123px;height:15px;}
.dos{background-position:0px -160px;width:85px;height:80px;}
.linea_header{background-position:-208px 0px;width:246px;height:4px;}
.tres{background-position:-85px -15px;width:85px;height:80px;}
.uno{background-position:0px -240px;width:85px;height:80px;}
.video-descubre-one{background-position:-208px -4px;width:151px;height:13px;}
.radio-checked{background-position:0px -320px;width:17px;height:17px;}
.radio{background-position:-17px -320px;width:17px;height:17px;}
.queremos-conocer-tu-opinion-one{background-position:-85px -95px;width:631px;height:163px;}
.one-es-mas{background-position:-85px -258px;width:83px;height:49px;}
/* End Sprite Master CSS */

