

/* Start Sprite Master CSS */
.radio-checked,.radio,.cinco-movil,.cuatro-movil,.dos-movil,.dos,.linea_header-movil,.tres-movil,.uno-movil,.one-es-mas-movil,.queremos-conocer-tu-opinion-one-movil{display: inline-block;background-repeat: no-repeat;background-image: url('../img/primera-encuesta-one/sprite-movil.png');}
.radio-checked{background-position:0px 0px;width:17px;height:17px;}
.radio{background-position:-17px 0px;width:17px;height:17px;}
.cinco-movil{background-position:-34px 0px;width:77px;height:76px;}
.cuatro-movil{background-position:-111px 0px;width:79px;height:76px;}
.dos-movil{background-position:-190px 0px;width:76px;height:74px;}
.dos{background-position:-266px 0px;width:85px;height:80px;}
.linea_header-movil{background-position:-351px 0px;width:123px;height:2px;}
.tres-movil{background-position:-351px -2px;width:77px;height:76px;}
.uno-movil{background-position:-428px -2px;width:83px;height:78px;}
.one-es-mas-movil{background-position:-190px -74px;width:41px;height:24px;}
.queremos-conocer-tu-opinion-one-movil{background-position:-231px -80px;width:230px;height:198px;}
/* End Sprite Master CSS */

