#wrapper_one{
    @extend .clearfix;
    display: block;
    height: auto;
    margin: 0 auto;
    .left_side, .right_side, .container{height: 100%;}
    .left_side, .right_side{
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 1;
    }
    .left_side{left:0;}
    .right_side{right:0;}
    .container{
        display: block;
        margin: 0 auto;
        position: relative;
        width: em( 800, 16 );
        z-index: 5;
    }
    header,#principal,#video_e_learning,#advices_best_practices,#create_avatar_feature,footer{
        @extend .clearfix;
        clear: both;
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
    h1{font-family: normal 1em/1em $arial;}
    #principal_container{
        height: em( 632, 16 );
        header{
            height: em( 80, 16 );
            @include position( relative, 0 0 0 0 );
            z-index: 1;
            .left_side{}
            .container{
                background: url("../img/imagenes_axa_one/axa_logo.png") no-repeat scroll 2.937em 1.7em transparent;
                h1{
                    @include hide-text;
                    height: em( 56, 16 );
                    width: em( 286, 16 );
                }
            }
            .right_side{}
        }
        #principal{
            height: em( 632, 16 );
            @include position( relative, em( -80, 16 ) 0 0 0 ); 
            z-index: 0;
            .left_side{}
            .container{
                @extend .clearfix;
                background-image: url("../img/imagenes_axa_one/degradado_mujer.png");
                background-color: transparent;
                background-position: top right;
                background-repeat: no-repeat;
                h2{
                    float: left;
                    font: bold 2.187em/1em $franklin;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 4.5em;
                    width: 8em;
                }
                .blue_phrase{
                    color: $blue;
                    left: 1.3em;
                }
                .white_phrase{
                    color: #FFF;
                    right: 1em;
                    width: 6.67em;
                }
                .red_line{
                    left: 24.75em;
                    position: absolute;
                    top: 0;
                }
                .axa_women{
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 13.8em;
                }
                ul{
                    @extend .clearfix;
                    color: #FFFFFF;
                    display: block;
                    height: 10em;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: 6em;
                    top: 26em;
                    width: 7em;
                    li{
                        font-style: italic;
                        list-style: none inside;
                        position: relative;
                    }
                    .conect_line{left: 1.8em;top: 0.3em;}
                    .consult_line{left: 2em;top: 3.2em;}
                    .share_line{left: 0.6em;top: 5.5em;}
                }
                .principal_container_shadow{@include position( absolute, auto auto 0em 0em );}
            }
            .right_side{
                //background: url("../img/imagenes_axa_one/degradado_header.png") repeat-x scroll 0 0 transparent;
                width: 40%;
            }
        }
    }
    #video_e_learning{
        height: em( 293, 16 );
        .left_side{}
        .container{
            padding: em( 37, 16 ) em( 45, 16 );
            width: em( 710, 16 );
            #video_container{
                @include position( absolute, auto auto auto auto );
                height: 16em;
                .video_screen{@include position( relative, auto auto auto auto );}
                .video_shadow{@include position( absolute, auto auto 0em 0em );}
            }
            #video_description{
                display: inline-block;
                float: right;
                height: em( 209.6, 16 );
                margin: 0;
                width: em( 272, 16 );
                h3{
                    color: $blue;
                    font: normal 1.25em/1em $futura;
                    text-align: center;
                    text-transform: uppercase;
                }
                hr{}
                p{
                    font: normal 0.75em/1em $futura;
                    text-align: left;
                    padding: 0 0.75em;
                }
            }
        }
        .right_side{}
    }
    #advices_best_practices{
        
        .left_side{}
        .container{
            
            #tips_and_search{
                @extend .clearfix;
                background: none no-repeat scroll 0 0 #EBEBEB;
                clear: both;
                display: block;
                height: em( 40, 16 );
                h4{
                    color: $blue;
                    float: left;
                    font: normal 1.25em/2em $futura;
                    margin: 0;
                    padding: 0;
                    text-indent: em( 40, 20 );
                    text-transform: uppercase;
                }
                form{
                    display: inline-block;
                    float: right;
                    height: em( 20, 16 );
                    padding: em( 10, 16 ) 1em em( 10, 16 ) 0;
                    width: em( 150, 16 );
                    fieldset{
                        background: url("../img/imagenes_axa_one/_bg_buscar.png") no-repeat scroll center center transparent;
                        label{
                            @include position( absolute, 0 0 0 0 );
                            right: 2.2em;
                            img{
                                
                            }
                        }
                        input{
                            background: none transparent;
                            border: 0 none transparent;
                            margin: 0 1.1em;
                            padding: 0 1em 0 0.5em;
                            width: em( 89, 16 );
                        }
                    }
                }
            }
            .carrousel_container{
                height: em( 260, 16 );
                margin: 0 auto;
                padding: 0 0 2em;
                width: 100%;
                .scrollable{
                    height:90px;
                    overflow:hidden;
                    position:relative;
                    width: 660px;
                }
                #tips_scrollable{
                    display: block;
                    height: 100%;
                    margin: 0 auto;
                    width: em( 764, 16 );
                    .items{
                        height: 100%;
                        position:absolute;
                        width:20000em;
                        div{
                            background: url("../img/imagenes_axa_one/linea_gris_vertical.png") no-repeat scroll right center transparent;
                            float:left;
                            height: 100%;
                            margin: 0;
                            padding: em( 14, 16 ) em( 15.5, 16 );
                            width: em( 224, 16 );
                            h4{
                                clear: both;
                                color: $blue;
                                display: block;
                                font: normal 1.25em/1em $futura;
                                margin: 0;
                                padding: 1em 0;
                                text-align: center;
                                text-transform: uppercase;
                            }
                            p{
                                color: #000;
                                font: normal 0.75em/1em $futura;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        .right_side{}
    }
    #create_avatar_feature{
        
        .left_side{}
        .container{
            background: url("../img/imagenes_axa_one/sombra.png") no-repeat scroll center bottom transparent;
            hr{width: 37%;}
            .left_division{float: left;}
            h5{
                color: #BABFC3;
                display: inline-block;
                font: normal 1.25em/1em $futura;
                margin: 0;
                padding: 0.4em 0 0;
                text-align: center;
                text-transform: uppercase;
                width: 10.4em;
            }
            .right_division{float: right;}
            p{
                color: #000;
                font: normal 0.75em/1em $futura;
                text-align: center;
                margin: 0;
                padding: 2em 0;
            }
            .avatar_example{
                float: left;
                margin: 0 0 0 13em;
                position: relative;
            }
            ul{
                @extend .clearfix;
                display: inline-block;
                height: 9em;
                margin: 0;
                padding: 0 0 2em;
                li{
                    @extend .clearfix;
                    float: left;
                    height: 100%;
                    list-style: none inside;
                    margin: 0;
                    padding: 0 em( 35, 16 );
                    img{
                        clear: both;
                        display: block;
                        margin: 0 auto;
                        padding: 2em 0 0;
                    }
                    .avatar_piece{}
                    .face{}
                    .pants{padding: em( 58.56, 16 ) 0em 0em;}
                    .shirt{padding: em( 58.56, 16 ) 0em 0em;}
                    p{
                        color: #BABFC3;
                        display: block;
                        font: normal 1.25em/1em $futura;
                        margin: 0 auto;
                        padding: 0.2em 0 0;
                        text-align: center;
                    }
                    &:hover{
                        background: url("../img/imagenes_axa_one/flecha_azul.png") no-repeat scroll center bottom transparent;
                    }
                }
            }
        }
        .right_side{}
    }
    footer{
        
        .left_side{}
        .container{
            
            img{float: left;}
            .banner{}
            .icon{
                float: right;
                position: relative;
                top: 3.5em;
            }
        }
        .right_side{}
    }
}