<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
                width: 480px;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
            .text_down{
                color: #000;
                font: normal 12px/1em Arial,Helvetica,'sans-serif';
                text-align: justify;
                width: 550px;
            }
            .text a{
                color: #cf0303;
            }
            .title{
                display: block;
                clear: both;
                font: normal 11px/1em Arial,Helvetica,"sans-serif";
                margin: 0;
                padding: 0;
            }
            .title em{
                margin: 0;
                padding: 0;
            }
            .red{ color: #EC1E07; }
            .green{ color: #4FA423; }
            .purple{ color: #7A5873; }
            .orange{ color: #FF8601; }
            .blue{ color: #001278; }
            .page_description{
                color: #000;
                display: block;
                font:normal 10px/1em Arial,Helvetica,sans-serif;
                text-align: justify;
                margin: 0;
                padding: 0;
                width: 360px
            }
        </style>
    </head>

    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr><!-- Header -->
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">13 de enero</b></td>
            </tr><!-- Header -->
            <tr>
                <td align="right">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/linea_roja.png" width="311" height="1" />
                </td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/banner_header.jpg" width="764" height="286" />
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr><!-- Botonera -->
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/btn_perfil.png" width="155" height="41" usemap="#Map2" border="0" style="display:block;" align="right" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#0B83C0">&nbsp;</td>
            </tr><!-- Botonera -->
            <tr><!-- Lineas -->
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#0B83C0">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr><!-- Lineas -->
            <tr><!-- Contenido -->
                <td height="173" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:30px; padding-right:10px;">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Como recuerdas el pasado 19 de noviembre estrenamos intranet: ONE. Desde entonces recibes un correo electrónico de manera semanal con la finalidad de que la explores y conozcas las herramientas con las que cuenta.</p>
                    <p align="justify" class="text">Recopilando lo que hemos aprendido hasta hoy, recordarás que ONE está dividida en seis secciones principales en las cuales encontrarás diferente información que será útil para tu trabajo diario.</p>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/imgn_1_copy.png" alt="ONE/ Edición AXA México" width="480" height="100" />
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <table>
                        <tr>
                            <td valign="top">
                                <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/mi_pagina.png" alt="mi_pagina" width="107" height="265" />
                            </td>
                            <td valign="top">
                                <table>
                                    <tr>
                                        <td height="55" align="left" valign="top" style="margin:0;padding:0 0 0 5px;">
                                            <p class="title red"><em>Mi espacio de trabajo</em></p>
                                            <p class="page_description">Encuentra información, servicios y herramientas para tu trabajo diario. Cuenta con repositorios de documentos y sitios de proyectos colaborativos.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="50" align="left" valign="top" style="margin:0;padding:0 0 0 5px;">
                                            <p class="title green"><em>Connections</em></p>
                                            <p class="page_description">Es la sección donde se encuentran todas las herramientas colaborativas para  interactuar con otros colaboradores de AXA.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="48" align="left" valign="top" style="margin:0;padding:0 0 0 5px;">
                                        <p class="title purple" style="line-height:9px;"><em>Axa y yo</em></p>
                                        <p class="page_description">Aquí encontrarás todo lo relacionado a Recursos Humanos y tu vida profesional en  AXA.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="55" align="left" valign="top" style="margin:0;padding:0 0 0 5px;">
                                        <p class="title orange"><em>Noticias</em></p>
                                        <p class="page_description">Encuentra todas las noticias  de  AXA México, en la Región MedLA y el Grupo AXA. Suscríbete a los que sean de tu interés.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" style="margin:0;padding:0 0 0 5px;">
                                        <p class="title blue"><em>Acerca de nosotros</em></p>
                                        <p class="page_description">Podrás consultar todo lo relacionado con la visión AXA México, Responsabilidad Corporativa, MedLA y el Grupo AXA.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Entra hoy a <a href="http://www.descubreone.mx/" target="_blank" title="Entra hoy a ONE">ONE</a> y descubre su gran potencial.</p>
                    <p align="justify" class="text">Si tienes alguna duda o te gustaría saber más acerca de los beneficios que ONE ofrece para ti y para tu equipo, escríbenos a <a href="mailto:one.mexico@axa.com.mx" title="one.mexico@axa.com.mx" target="_blank">one.mexico@axa.com.mx</a></p>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="173" bgcolor="#0B83C0"></td>
                <td width="139" bgcolor="#0B83C0" style="color: #FFF" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <span style="font-style:oblique;line-height:15px;margin:10px 0;display:block;padding:10px 0;">“ONE es la nueva plataforma tecnológica que conectará a los colaboradores de AXA Seguros con personas o grupos en todo México y con las entidades que forman parte del  Grupo AXA. ONE ha sido diseñada para facilitar tu trabajo y permitirte aumentar tus conocimientos a través de herramientas de comunicación y colaboración, lo cual definitivamente nos permitirá construir juntos y más rápido la empresa que soñamos, dando la experiencia de asesoramiento y servicio que las empresas y familias que confían en nosotros realmente se merecen”.</span>
                    <p style="line-height:15px;"><b><a href="http://one.axa.com/profiles/html/profileView.do?key=e6991512-5487-47a5-b498-57d033b20054&lang=es#inputProfileActionFollowing" title="Xavier de Bellefon" target="_blank" style="color:#FFF; text-decoration: none; font-weight: bold;">Xavier de Bellefon</a>,</b> <br />CEO AXA México</p>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="32" bgcolor="#0B83C0">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Tip y Lateral -->
                <td width="133" height="75" align="left" valign="middle">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/tip.jpg" width="133" height="75" bgcolor="#0B83C0" />
                </td>
                <td width="330" height="75" align="left" bgcolor="#0B83C0" style="color: #FFF; font-size: 13px; padding-left: 20px;" valign="middle">
                    <span style="display:block;"><strong>ONE es sólo una herramienta, depende de ti hacerla valiosa.</strong></span>
                </td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/tip_lateral.png" width="64" height="75" style="display:block;" />
                </td>
                <td height="75" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/one_lateral.png" width="188" height="72" />
                </td>
            </tr><!-- Tip y Lateral -->
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="2" valign="middle" align="left"></td>
                <td colspan="5" align="right">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_welcome/logo_footer.png" width="232" height="40" />
                </td>
            </tr><!-- Footer -->
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
        
        <map name="Map2" id="Map2">
            <area shape="rect" coords="1,0,155,39" href="http://one.axa.com/wps/myportal/mexico" target="_blank" alt="ONE" />
        </map>
    </body>
</html>
