<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ONE es conectarte con el mundo AXA</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            img{ float: left; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
            a, img{ border: 0 none transparent; text-decoration: none; }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:764px;">
            <table id="Table_01" width="764" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img id="Golive_Colaboradores_3_01" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_01.jpg" width="14" height="374" alt="" style="float:left;" />
                    </td>
                    <td colspan="6">
                        <img id="Golive_Colaboradores_3_02" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_02.jpg" width="738" height="374" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_3_03" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_03.jpg" width="12" height="374" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td width="764" height="19" colspan="8">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="764" height="19" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td width="14" height="493" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="14" height="493" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_3_06" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_06.jpg" width="192" height="42" alt="" style="float:left;" />
                    </td>
                    <td>
                        <a href="http://one.axa.com/profiles/html/networkView.do?widgetId=friends&requireAuth=true&lang=es&key=bed6951a-20bb-4c20-bb76-411344f3abe1" title="Red de Contactos" target="_blank">
                            <img id="Golive_Colaboradores_3_07" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_07.jpg" width="181" height="42" alt="" style="float:left;" />
                        </a>
                    </td>
                    <td colspan="2">
                        <a href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dc48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" title="Aprende Más" target="_blank">
                            <img id="Golive_Colaboradores_3_08" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_08.jpg" width="158" height="42" alt="" style="float:left;" />
                        </a>
                    </td>
                    <td width="18" height="424" rowspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="18" height="424" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_3_10" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_10.jpg" width="189" height="42" alt="" style="float:left;" />
                    </td>
                    <td width="12" height="493" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="12" height="493" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Colaboradores_3_12" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_12.jpg" width="531" height="244" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_3_13" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_13.jpg" width="189" height="244" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Colaboradores_3_14" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_14.jpg" width="531" height="75" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_3_15" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_15.jpg" width="189" height="75" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td width="531" height="63" colspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="531" height="63" alt="" style="float:left;" />
                    </td>
                    <td width="189" height="63">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="189" height="63" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td width="506" height="69" colspan="3" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="506" height="69" alt="" style="float:left;" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_3_19" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/Golive_Colaboradores_3_19.jpg" width="232" height="40" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td width="232" height="29" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="232" height="29" alt="" style="float:left;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="14" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="192" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="181" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="133" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="25" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="18" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="189" height="1" alt="" style="float:left;" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_03/spacer.gif" width="12" height="1" alt="" style="float:left;" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>