<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>
    
    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">10 de marzo</b></td>
            </tr>
            <tr>
                <td  align="right"><img src="http://www.descubreone.mx/mail07/imagenes_net/liena_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/banner_header.jpg" width="737" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr><!-- Menu -->
                <td colspan="3" align="right" bgcolor="#F3F3F3" height="41">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/btn_perfil.png" width="475" height="41" usemap="#Map" border="0" style="display:block;" align="right" />
                </td>
                <td width="23"></td>
                <td height="28" colspan="3" bgcolor="#5FB15F">&nbsp;</td>
            </tr><!-- Menu -->
            <tr valign="top">
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/linea_contenido.jpg" width="488" height="1" align="right" />
                </td>
                <td height="1" width="23"></td>
                <td height="1" colspan="3" align="center" bgcolor="#5FB15F">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td height="218" align="justify" valign="middle" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <p class="text">Un <em>Blog</em> es un sitio en donde se<strong> escriben con total libertad artículos </strong>o colaboraciones sobre un tema  de interés común. Dicho tópico puede generar un <strong>diálogo con los comentarios e ideas de  los lectores </strong>que enriquecen el artículo. </p>
                    <p class="text"><strong>Únete y participa en los <em>Blogs</em> de la <em>Comunidad Todos en </em></strong><strong><em>ONE, </em></strong> da a conocer tus puntos de vista de los temas que te interesan <strong>añadiendo comentarios</strong>.</p>
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td width="17" height="218" bgcolor="#5FB15F"></td>
                <td width="139" bgcolor="#5FB15F" style="color:#FFF" valign="middle">
                    <p align="justify" class="text" style="padding:10px 0;">&nbsp;</p>
                    <p style="font-style:oblique;line-height:18px;padding:0 0 10px;"> “Con los BLOGS de ONE he podido intercambiar prácticas para la gestión de proyectos con distintos expertos de la Región MedLA, y entender las lecciones aprendidas en otras iniciativas para mejorar el desempeño de los proyectos que manejo”.</p>
                    <p style="line-height:15px;"><b>Walter Rosenberg,</b> <br />
                    Project Manager Oficina de Transformación, <br />AXA México. </p>
                    <p align="justify" class="text" style="padding:10px 0;">&nbsp;</p>
                </td>
                <td width="32" bgcolor="#5FB15F">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Tip -->
                <td width="133" height="93" align="center" valign="top" bgcolor="#358F2D">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/tip.jpg" width="133" height="75" bgcolor="#479647" />
                </td>
                <td width="330" height="93" align="left" bgcolor="#5FB15F" style="color: #FFF; font-size: 12px; padding-left: 20px;">
                    <center>Marca con una <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/estrella_tip.png" alt="" width="19" height="19" /> los <em>Blogs</em> que te gustan y recomiéndalos a tu <em>Red de contactos.</em>  Suscríbete a ellos buscando este símbolo</center>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/blog_tip.png" alt="" width="16" height="15" />
                </td>
                <td width="64" align="left" valign="top" height="93">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/tip_lateral.png" width="66" height="93" align="middle" valign="top" style="display:block;" />
                </td>
                <td height="72" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_09/one_lateral.png" width="188" height="72" />
                </td>
            </tr><!-- Tip -->
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="3,3,125,39" href="http://one.axa.com/blogs/roller-ui/homepage?lang=es" target="_blank" alt="Blogs" />
          <area shape="rect" coords="265,3,472,38" href="http://one.axa.com/blogs/ab7f7d2a-3051-40dd-925c-cf7efe06dfaf/?lang=es" alt="Blogs Todos en ONE" />
          <area shape="rect" coords="127,3,263,38" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dfe6bf84e-9272-4aed-b1c9-fe70f4b3c041" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>
