<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>

    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">14 de abril</b></td>
            </tr>
            <tr>
                <td align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/banner_header.jpg" width="738" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
    <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                  <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/btn_perfil.png" width="418" height="41" usemap="#Map2" border="0" style="display:block;" align="right" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#5DB359">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#5DB359">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="173" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <br />
                    <p>En la sección <em>Noticias</em> podrás <strong>consultar noticias relacionadas</strong> a lo que sucede en diferentes áreas de <strong>AXA México</strong> o inclusive en otras entidades de <strong>AXA en el mundo. </strong></p>
                    <p>Es muy fácil, visita la página principal de <em>Noticias</em> <strong>y suscríbete a los canales de tu interés para recibir las noticias del momento.</strong></p>
<p align="justify" class="text" style="padding:10px 0 0;">&nbsp;</p>
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="173" bgcolor="#5DB359"></td>
                <td width="139" bgcolor="#5DB359" style="color: #FFF" valign="middle">
                    <span style="font-style:oblique;line-height:15px;margin:10px 0;display:block;padding:10px 0;">“Con los nuevos canales de noticias, me entero de lo que sucede en las diferentes áreas de la empresa y de los acontecimientos más importantes en Región y Grupo.” </span>
                  <p style="line-height:15px;"><b>Carolina Rodríguez, </b> <br />
                  Analista de Procesos Técnicos Vida y Salud, AXA México.</p>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="32" bgcolor="#5DB359">&nbsp;</td>
            </tr>
            <tr>
                <td width="133" height="71" align="center" valign="top" bgcolor="#328030">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/tip.jpg" width="133" height="75" bgcolor="#91278E" />
                </td>
                <td width="330" height="71" align="left" bgcolor="#5DB359" style="color: #FFF; font-size: 12px; padding-left: 20px;" valign="middle">
                    <span style="display:block;">Mantente al tanto de lo que sucede en el Mundo AXA.</span>
                </td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/tip_lateral.png" width="64" height="90" style="display:block;" />
                </td>
                <td height="71" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_13/one_lateral.png" width="188" height="71" /></td>
      </tr>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
    
        <map name="Map2" id="Map2">
            <area shape="rect" coords="31,2,213,39" href="http://www.axa-intranet.intraxa/wps/myportal/mexico/home/news/allnews" target="_blank" alt="Noticias" />
            <area shape="rect" coords="213,2,416,39" href="http://one.axa.com/files/app?lang=es#/file/d078957e-81c1-4870-b5f5-0553a257eee3" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>
