<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>

    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">24 de marzo</b></td>
            </tr>
            <tr>
                <td align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/linea_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/banner_header.jpg" width="738" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="4" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/btn_perfil.png" width="418" height="41" usemap="#Map2" border="0" style="display:block;" align="right" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#996698">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#996698">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="173" align="justify" valign="middle" colspan="4" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <p align="justify" class="text" style="padding:10px 0;">&nbsp;</p>
                    <p class="text">Con <em>Wikis</em> tendrás la oportunidad de crear y participar en <strong>páginas web editables por múltiples usuarios.</strong> De igual manera podrás compartir tu conocimiento además de colaborar y añadir tus propias páginas.</p>
                    <p class="text">Usar <em>Wikis</em> en ONE es tan fácil como usa Wikipedia<strong>. Participa en las wikis de tu <em>Comunidad</em> <em>Todos en ONE</em></strong>,  explora sus contenidos y déjanos tus comentarios.</p>
                    <p align="justify" class="text" style="padding:10px 0;">&nbsp;</p>
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="173" bgcolor="#996698"></td>
                <td width="139" bgcolor="#996698" style="color: #FFF" valign="middle">
                    <p align="justify" class="text" style="padding:10px 0 0;">&nbsp;</p>
                    <span style="font-style:oblique;line-height:15px;margin:10px 0;display:block;padding:10px 0;">&quot;Hoy puedo estar en contacto con directores territoriales, compartir con ellos información, documentación de manera práctica, organizada y centralizada sin salir de nuestras oficinas.&quot; </span>
                    <p style="line-height:15px;"><b>Eric Arellano</b> <br />Director HR Business Partners, AXA México.</p>
                    <p align="justify" class="text" style="padding:10px 0 0;">&nbsp;</p>
                </td>
                <td width="32" bgcolor="#996698">&nbsp;</td>
            </tr>
            <tr>
                <td width="133" height="71" align="center" valign="top" bgcolor="#91278E"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/tip.jpg" width="133" height="115" /></td>
                <td width="165" height="71" align="left" bgcolor="#996698" style="color: #FFF; font-size: 12px; padding-left: 20px;" valign="middle">Marca con una <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/estrella_tip.png" alt="star" width="19" height="19" /> los <em>Wikis</em> que encuentres de tu interés y recomiéndalos a tu <em>Red de contactos</em>. No olvides que puedes buscar wikis desde el <em>widget Más recomendados.</em></td>
                <td width="165" align="left" bgcolor="#996698" style="color: #FFF; font-size: 12px; padding-left: 20px;" valign="middle"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/imgn_tip.png" width="110" height="101" /></td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/tip_lateral.png" width="64" height="121" style="display:block;" />
                </td>
                <td height="71" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/one_lateral.png" width="188" height="71" />
                </td>
            </tr>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="8" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_11/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="8" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
    
        <map name="Map2" id="Map2">
            <area shape="rect" coords="2,1,105,38" href="http://one.axa.com/wikis/home?lang=es" target="_blank" alt="Wikis" />
            <area shape="rect" coords="107,2,234,38" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dfbe69d3e-e153-4082-acef-f4cd65c44fb1" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="236,0,417,38" href="http://one.axa.com/wikis/home?lang=es#/wiki/Wd73872cd2a0b_432e_980b_463ed2af20b4" target="_blank" alt="Wikis Todos en ONE" />
        </map>
    </body>
</html>
