<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>

    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">24 de febrero</b></td>
            </tr>
            <tr>
                <td align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/banner_header.jpg" width="738" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/btn_perfil.png" width="418" height="41" usemap="#Map2" border="0" style="display:block;" align="right" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#9F75AB">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#9F75AB">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="173" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">En los <em>Foros de discusión</em> encontrarás <strong>diálogos abiertos</strong> donde cada participante podrá <strong>consultar y responder en diferentes momentos</strong>. Los foros están organizados por temas y categorías y dentro de ellos podrás abrir nuevos temas de discusión.</p>
                    <p align="justify" class="text">Participa en los <em>Foros de las Comunidades</em> de ONE compartiendo tus puntos de vista sobre algún tema en particular: <strong>haz preguntas, intercambia opiniones y resuelve tus dudas con la ayuda de los demás.</strong></p>
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="173" bgcolor="#9F75AB"></td>
                <td width="139" bgcolor="#9F75AB" style="color: #FFF" valign="middle">
                    <span style="font-style:oblique;line-height:15px;margin:10px 0;display:block;padding:10px 0;">“A través de foros y blogs podemos discutir y fortalecer las iniciativas de Responsabilidad Corporativa, dándole voz a todos los voluntarios que participan de nuestras actividades.”</span>
                    <p style="line-height:15px;"><b>Ricardo Morán,</b> <br />Subdirector Responsabilidad Corporativa, AXA México</p>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="32" bgcolor="#9F75AB">&nbsp;</td>
            </tr>
            <tr>
                <td width="133" height="71" align="center" valign="top" bgcolor="#91278E">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/tip.jpg" width="133" height="75" bgcolor="#91278E" />
                </td>
                <td width="330" height="71" align="left" bgcolor="#9F75AB" style="color: #FFF; font-size: 12px; padding-left: 20px;" valign="middle">
                    <span style="display:block;">Aprovecha cualquier instante del día para participar y construir juntos una base de conocimiento compartido.</span>
                </td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/tip_lateral.png" width="64" height="79" style="display:block;" />
                </td>
                <td height="71" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/one_lateral.png" width="188" height="71" />
                </td>
            </tr>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_08/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr><!-- Legales -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Legales -->
        </table>
    
        <map name="Map2" id="Map2">
            <area shape="rect" coords="1,1,126,39" href="http://one.axa.com/forums/html/my" target="_blank" alt="Foros" />
            <area shape="rect" coords="126,1,241,39" href="http://one.axa.com/files/app?lang=es#/file/fe8f7649-98f0-4083-be2a-5bc27d32b910" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="241,0,417,38" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W5d972465b18a_414c_9a8e_55116f9b447f " target="_blank" alt="Foros todos en ONE" />
        </map>
    </body>
</html>
