<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
        .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
        .footer a{
            color: #FFF;
            text-decoration: none;
        }
        .text{
            text-align: justify;
        }
        .tip,.ecxtip{
            display:block;
            margin:0px;
            padding:5px 0;
        }
        </style>
    </head>
    
    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/logo_header.jpg" width="225" height="42" />
                </td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Lunes <b style="color:#2B4891;">3 de febrero</b></td>
            </tr>
            <tr>
                <td  align="right"><img src="http://www.descubreone.mx/mail07/imagenes_net/liena_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/banner_header.jpg" width="737" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr><!-- Menu -->
                <td colspan="3" align="right" bgcolor="#F3F3F3" height="41">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/btn_perfil.png" width="164" height="41" usemap="#Map" border="0" style="display:block;" />
                </td>
                <td width="23"></td>
                <td height="28" colspan="3" bgcolor="#5FB15F">&nbsp;</td>
            </tr><!-- Menu -->
            <tr valign="top">
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/linea_contenido.jpg" width="488" height="1" align="right" />
                </td>
                <td headers="1"></td>
                <td height="1" colspan="3" align="center" bgcolor="#5FB15F">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td height="218" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text" style="padding:10px 0;">Anteriormente te hablamos del buscador de ONE. <strong>Es esencial que toda la información que compartes esté etiquetada</strong> correctamente para que éste funcione a su máximo potencial.</p>
                    <table border="0" align="center">
                        <tr>
                            <td width="140" valign="top">
                                <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/etiqueta_copy.png" width="130" height="175" />
                                <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                            </td>
                            <td width="280" valign="top">
                                <p align="justify" width="200" class="text" style="display:block;font:normal 13px/13px Arial,Helvetica,sans-serif;">Cuando creas y compartes información en ONE utiliza la función <em>Etiquetas</em> para marcarla <strong>con palabras clave que te ayuden a ti y a otros a identificar, clasificar y localizar</strong> el tipo de contenido que estás subiendo.</p>
                                <p align="justify" width="200" class="text" style="display:block;font:normal 13px/13px Arial,Helvetica,sans-serif;">En algunas secciones encontrarás, incluso, las etiquetas más populares para facilitar tus búsquedas en ONE.</p>
                                <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="218" bgcolor="#5FB15F"></td>
                <td width="139" bgcolor="#5FB15F" style="color:#FFF" valign="middle">
                    <p style="font-style:oblique;line-height:18px;padding:0 0 10px;">“Gracias a ONE el acceso a la información entre entidades, equipos y líneas de negocio es rápido y sencillo.”</p>
                    <p style="line-height:15px;"><b>Ulrike Decoene,</b> <br />Directora de Comunicación, AXA Región MedLA.</p>
                </td>
                <td width="32" bgcolor="#5FB15F">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Tip -->
                <td width="133" height="93" align="center" valign="top" bgcolor="#479647">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/tip.jpg" width="133" height="93" bgcolor="#479647" />
                </td>
                <td width="330" height="93" align="left" bgcolor="#5FB15F" style="color: #FFF; font-size: 12px; padding-left: 20px;">
                    <span class="tip">Al subir un <em>Archivo</em> o crear un <em>Wiki</em> no olvides escribir las palabras clave que describen el tema o contenido de tu información en el siguiente campo:</span>
                    <center>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/etiqueta_tip.png" alt="Campo de búsqueda" width="245" height="18" style="display:block;" />
                    </center>
                </td>
                <td width="64" align="left" valign="top" height="93">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/tip_lateral.png" width="63" height="98" align="middle" valign="top" style="display:block;" />
                </td>
                <td height="72" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/one_lateral.png" width="188" height="72" />
                </td>
            </tr><!-- Tip -->
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_05/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="34,5,203,37" href="http://one.axa.com/wps/myportal/mexico" target="_blank" alt="ONE" />
        </map>
    </body>
</html>
