<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>¿Estás cansado de buscar información y no encontrarla?</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            img{ float: left; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:764px;">
            <table id="Table_01" width="764" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img id="Golive_Colaboradores_4_01" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_01.jpg" width="15" height="372" alt="" />
                    </td>
                    <td colspan="5">
                        <img id="Golive_Colaboradores_4_02" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_02.jpg" width="737" height="372" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_4_03" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_03.jpg" width="12" height="372" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="764" height="21" colspan="7">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="764" height="21" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="15" height="419" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="15" height="419" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_4_06" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_06.jpg" width="347" height="42" alt="" />
                    </td>
                    <td colspan="2">
                        <a href="http://one.axa.com/wps/myportal/mexico/!ut/p/b1/hY3NDkNAGEWfpS_gG6LD1l8RhCLUbGSio6TDTBBev5F001WX95yTXCDwADLTfXzRbRQz5ecmuHVCN0ojX0Wp69koxNEtyBIHaXcNGmiI0VZ5YudmdlV9HOsorBwzC8xUQ4UB9b-A4EDnvDzkrltQ0-58hgIIkEOuihTLxtm2Kl_R_MB-EVM5sIkpT2HTdewKRpduAPnuY--wLh8qyrNL/?wps.portlets.keywords=Buscar" title="Buscador" target="_blank">
                            <img id="Golive_Colaboradores_4_07" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_07.jpg" width="183" height="42" alt="" />
                        </a>
                    </td>
                    <td width="18" height="354" rowspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="18" height="354" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_4_09" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_09.jpg" width="189" height="42" alt="" />
                    </td>
                    <td width="12" height="419" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="12" height="419" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_4_11" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_11.jpg" width="530" height="209" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_4_12" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_12.jpg" width="189" height="209" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_4_13" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_13.jpg" width="530" height="75" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_4_14" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_14.jpg" width="189" height="75" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="530" height="28" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="530" height="28" alt="" />
                    </td>
                    <td width="189" height="28">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="189" height="28" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="505" height="65" colspan="2" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="505" height="65" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_4_18" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/Golive_Colaboradores_4_18.jpg" width="232" height="40" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="232" height="25" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="232" height="25" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="15" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="347" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="158" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="25" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="18" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="189" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_04/spacer.gif" width="12" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>