<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bienvenido a ONE, tu nueva intranet</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            img{ float: left; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:764px;">
            <table id="Table_01" width="764" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td> 
                        <img id="Golive_Colaboradores_1_01" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_01.jpg" width="15" height="374" alt="" />
                    </td>
                    <td colspan="6">
                        <img id="Golive_Colaboradores_1_02" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_02.jpg" width="737" height="374" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_1_03" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_03.jpg" width="12" height="374" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <img id="Golive_Colaboradores_1_04" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_04.jpg" width="764" height="20" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="15" height="492" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="15" height="492" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_1_06" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_06.jpg" width="278" height="41" alt="" />
                    </td>
                    <td>
                        <a href="http://www.axa-intranet.intraxa/wps/myportal/mexico/home/welcome" title="ONE" target="_blank">
                            <img id="Golive_Colaboradores_1_07" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_07.jpg" width="102" height="41" alt="" />
                        </a>
                    </td>
                    <td colspan="2">
                        <a href="http://www.descubreone.mx/" title="Micrositio" target="_blank">
                            <img id="Golive_Colaboradores_1_08" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_08.jpg" width="148" height="41" alt="" />
                        </a>
                    </td>
                    <td width="20" height="423" rowspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="20" height="423" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_1_10" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_10.jpg" width="189" height="41" alt="" />
                    </td>
                    <td width="12" height="492" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="12" height="492" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Colaboradores_1_12" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_12.jpg" width="528" height="279" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_1_13" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_13.jpg" width="189" height="279" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Colaboradores_1_14" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_14.jpg" width="528" height="73" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_1_15" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_15.jpg" width="189" height="73" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="528" height="30" colspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="528" height="30" alt="" />
                    </td>
                    <td width="189" height="30">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="189" height="30" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="505" height="69" colspan="3" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="505" height="69" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_1_19" src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/Golive_Colaboradores_1_19.jpg" width="232" height="40" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="232" height="29" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="232" height="29" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="15" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="278" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="102" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="125" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="23" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="20" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="189" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_01/spacer.gif" width="12" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>