<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Axa ONE</title>
            <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            </style>
</head>

<body>
<table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
  <tr>
    <td width="238" rowspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/logo_header.jpg" width="225" height="42" /></td>
    <td width="189" rowspan="3">&nbsp;</td>
    <td width="311" height="35" align="right">Martes <b style="color: #70356F">26 de noviembre</b></td>
  </tr>
  <tr>
    <td  align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/liena_roja.png" width="311" height="1" /></td>
  </tr>
  <tr>
    <td height="13"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/banner_header.jpg" width="737" height="284" /></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/btn_perfil.png" width="361" height="41" usemap="#Map2" border="0" /></td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#996698">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="3" align="right" bgcolor="#F3F3F3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/linea_contenido.jpg" width="488" height="1" /></td>
                <td height="1" colspan="3" align="center" bgcolor="#996698"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/linea_lateral.jpg" width="148" height="1" /></td>
            </tr>
            <tr>
                <td height="218" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <p align="justify" class="text">El punto de partida para todo lo que ONE te ofrece, es tu perfil. Creando tu perfil y manteniéndolo actualizado, podrás <strong>mantenerte en contacto con tus compañeros</strong> de trabajo, y a su vez, les permitirá a ellos conocerte mejor y conectarse contigo <strong>para juntos crear valor.</strong></p>
                    <p align="justify" class="text">Entra a hoy mismo a Mi perfil, <strong>actualiza tu información personal y profesional</strong> y forma parte de la comunidad AXA a través de ONE. Es tan sencillo como hacerlo en Facebook o Twitter. </p>
                    <strong align="justify" class="text">Deja que los demás sepan en que estás trabajando y cambia tu estado</strong> de perfil diariamente.
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="218" bgcolor="#996698"></td>
                <td width="139" bgcolor="#996698" style="color: #FFF">
                    <p><em>&quot;Hoy puedo estar en contacto con directores territoriales, compartir con ellos información, documentación de manera práctica, organizada y centralizada sin salir de nuestras oficinas.&quot; </em></p>
                    <p><b>Eric Arellano, </b> <br />
                        Director HR Business Partners, AXA México.</p>
                    <p>&nbsp;</p>
                    <em></em>
                </td>
                <td width="32" bgcolor="#996698">&nbsp;</td>
            </tr>
  <tr>
    <td width="133" height="71" align="center" valign="top" bgcolor="#91258E"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/tip.jpg" width="133" height="75" /></td>
      <td width="330" height="71" align="left" bgcolor="#996698" style="color: #FFF; font-size: 12px; padding-left: 20px;"><p>Mantén siempre tu perfil actualizado y añade etiquetas a tu perfil para facilitar la comunicación y hacerla más ágil. En caso de que los datos que aparecen en tu perfil no estén correctos actualízalos en <em>AXA y Yo &gt; Mis Servicios &gt; Mis datos. </em></p></td>
      <td width="64" align="left" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/tip_lateral.png" width="64" height="95" /></td>
                <td height="71" colspan="3" align="center" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/one_lateral.png" width="188" height="71" /></td>
  </tr>
  <tr>
    <td colspan="7">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_02/logo_footer.png" width="232" height="40" /></td>
  </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="218,2,422,37" href="http://www.axa-intranet.intraxa/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W4c05ec0ce778_4030_a601_ca904823266f&amp;file=876b2136-f5fa-49af-a9f6-1a678836d3e4" target="new" />
  <area shape="rect" coords="31,3,215,37" href="http://www.axa-intranet.intraxa/profiles/html/editMyProfileView.do?lang=es" target="new" />
</map>

<map name="Map2" id="Map2">
  <area shape="rect" coords="190,2,360,39" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId=W4c05ec0ce778_4030_a601_ca904823266f&amp;file=c48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" target="new" />
  <area shape="rect" coords="33,3,186,37" href="http://one.axa.com/profiles/html/editMyProfileView.do?lang=es" target="new" />
</map>
</body>
</html>
