<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>

    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/logo_header.jpg" width="225" height="42" /></td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Martes <b style="color:#2B4891;">11 de febrero</b></td>
            </tr>
            <tr>
                <td  align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/liena_roja.png" width="311" height="1" /></td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/banner_header.jpg" width="738" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/btn_perfil.png" width="476" height="41" usemap="#Map2" border="0" style="display:block;" align="right" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#1694E9">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#1694E9" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/linea_lateral.jpg" width="148" height="1" style="display:block;" />
                </td>
            </tr>
            <tr>
                <td height="218" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">Las comunidades son una herramienta muy útil en tu vida diaria ya que te <strong>permiten estar en contacto con un grupo de personas con las que compartes</strong> uno o varios <strong>intereses en común</strong>: temas, profesiones, proyectos, experiencias, actividades, aficiones, etcétera.</p>
                    <p align="justify" class="text" style="padding:10px 0 0;">Únete y participa en la <strong><em>Comunidad Todos en ONE</em> para interactuar</strong>, intercambiar información e ideas, <strong>hacer preguntas y obtener respuestas, encontrar apoyo</strong> en tus tareas, <strong>compartir mejores prácticas</strong> y expandir tu red de contactos en ONE.</p>
                </td><td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="218" bgcolor="#1694E9"></td>
                <td width="139" bgcolor="#1694E9" style="color: #FFF">
                    <span style="font-style:oblique;line-height:16px;display:block;margin:0;padding:10px 0;">“Hemos creado una comunidad en ONE para compartir información con todos nuestro colegas de la Región MedLA y otra para el Comité Ejecutivo en México, de esta manera evitamos largos correos y pesados documentos adjuntos.”</span>
                    <p style="line-height:15px;"><b>Madeleine Langand,</b> <br />Directora de Contabilidad, Planeación y Control Financiero, AXA México.</p>
                </td>
                <td width="32" bgcolor="#1694E9">&nbsp;</td>
            </tr>
            <tr>
                <td width="133" height="75" align="center" valign="top" bgcolor="#0B77C0">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/tip.jpg" width="133" height="75" style="display:block;" bgcolor="#0B77C0" />
                </td>
                <td width="330" height="75" align="left" bgcolor="#1694E9" style="color: #FFF; font-size: 12px; padding-left: 20px; line-height:13px;">
                    <span class="tip">Si tienes dudas o comentarios revisa los <em>Blogs</em> y <em>Archivos</em> o participa en los Foros de la comunidad <em>Todos en ONE</em>. También encontrarás <em>Comunidades</em> de otras entidades en la sección <em>Connections</em>.</span>
                </td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/tip_lateral.png" width="64" height="75" style="display:block;" />
                </td>
                <td height="75" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/one_lateral.png" width="188" height="72" />
                </td>
            </tr>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_07/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>
        
        <map name="Map2" id="Map2">
          <area shape="rect" coords="150,-1,271,37" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dcb0d2224-6f11-43ef-8613-045ec26c840d" target="_blank" alt="Guía Rápida" />
          <area shape="rect" coords="25,1,151,38" href="http://one.axa.com/communities/service/html/mycommunities" target="_blank" alt="Comunidades" />
          <area shape="rect" coords="270,0,477,38" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf" target="_blank" alt="Comunidades Todos en ONE" />
        </map>
    </body>
</html>
