<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa ONE</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            .tip,.ecxtip{
                display:block;
                margin:0px;
                padding:5px 0;
            }
        </style>
    </head>
    
    <body>
        <table width="737" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td width="238" rowspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/logo_header.jpg" width="225" height="42" /></td>
                <td width="189" rowspan="3">&nbsp;</td>
                <td width="311" height="35" align="right">Martes <b style="color:#2B4891;">4 de febrero</b></td>
            </tr>
            <tr>
                <td align="right">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/liena_roja.png" width="311" height="1" />
                </td>
            </tr>
            <tr>
                <td height="13"></td>
            </tr>
            <tr>
                <td colspan="3"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/banner_header.jpg" width="764" height="284" /></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <table width="738" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/btn_perfil.png" width="396" height="41" usemap="#Map2" border="0" style="display:block;" />
                </td>
                <td width="23" rowspan="2">&nbsp;</td>
                <td height="28" colspan="3" bgcolor="#5C64A3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" align="right" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/linea_contenido.jpg" width="488" height="1" style="display:block;" align="right" />
                </td>
                <td height="1" colspan="3" align="center" bgcolor="#5C64A3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/linea_lateral.jpg" width="148" height="1" style="display:block;" align="center" />
                </td>
            </tr>
            <tr>
                <td height="218" align="justify" colspan="3" bgcolor="#f3f3f3" style="padding-left:40px; padding-right:60px;">
                    <br />
                    <p align="justify" class="text" style="padding:10px 0 0;">Con la herramienta <strong><em>Archivos</em> en la sección <em>Connections</em>, podrás almacenar, localizar y compartir de manera rápida</strong> archivos con quien tú decidas de la comunidad AXA.</p>
                    <p align="justify" class="text">Crea colecciones, sube tus archivos y mantén el control de las últimas versiones. Ya que es un espacio limitado te recomendamos actualizar frecuentemente los archivos y eliminar aquellos que ya no utilices. <strong>Al cargar archivos podrás etiquetarlos y compartirlos con tu equipo.</strong></p>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/etiqueta_copy.png" alt="etiquetas" width="349" height="78" />
                </td>
                <td rowspan="2" width="23">&nbsp;</td>
                <td width="17" height="218" bgcolor="#5C64A3"></td>
                <td width="139" bgcolor="#5C64A3" style="color: #FFF" valign="middle">
                    <span style="font-style:oblique;line-height:16px;margin:0;padding:10px 0;display:block;">“ONE es una manera de prepararnos para el futuro. Nos brinda la oportunidad de colaborar mejor entre familias profesionales, equipos y entidades sin importar las fronteras. Es una plataforma que registra lo que juntos estamos logrando.”</span>
                    <p style="line-height:15px;"><b>Sebastián Judez,</b> <br />Vicepresidente Regional Salud, AXA Región MedLA.</p>
                </td>
                <td width="32" bgcolor="#5C64A3">&nbsp;</td>
            </tr>
            <tr>
                <td width="133" height="71" align="center" valign="top" bgcolor="#49528B">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/tip.jpg" width="133" height="75" bgcolor="#49528B" style="display:block;" />
                </td>
                <td width="330" height="71" align="left" bgcolor="#5C64A3" style="color: #FFF; font-size: 12px; padding-left: 20px;">
                    <span class="tip">Ya no mandes tus archivos por mail. Súbelos a ONE, etiquétalos, compártelos y no vuelvas a equivocarte de archivo..</span>
                </td>
                <td width="64" align="left" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/tip_lateral.png" width="64" height="75" style="display:block;" />
                </td>
                <td height="71" colspan="3" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/one_lateral.png" width="188" height="71" style="display:block;" />
                    
                </td>
            </tr>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><img src="http://www.descubreone.mx/Code/templates/goLive/colaboradores/images_06/logo_footer.png" width="232" height="40" /></td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>
        <map name="Map2" id="Map2">
          <area shape="rect" coords="220,2,395,38" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3D2ab508d8-815e-433e-85a2-5036906d5ecc" target="_blank" alt="Guía Rápida" />
          <area shape="rect" coords="33,3,219,38" href="http://one.axa.com/files/app?lang=es" target="_blank" alt="Archivos" />
        </map>
    </body>
</html>
