<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_12/header.jpg" width="600" height="283" usemap="#Map" border="0" /></td>
            </tr>
            <tr>
              <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="66" style="width:222px;">
                    <b style="font-size:17px; color:#2A4790;">No pierdas tiempo con tanto clic</b><br />
                    <b style="font-size:17px; color: #999;">y guarda las direcciones web que más vistas en ONE.</b>
              </td>
                <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Lunes <b style="color: #2B4891;">31 de marzo</b></td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_12/lateral_pico.png" width="174" height="48" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" width="350" height="3"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_12/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr>
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" width="350" valign="middle">
                    <p align="justify" class="text">&nbsp;</p>
                    <p class="text">Actualmente la mayoría de los navegadores web almacenan automáticamente las páginas más revisadas y se guardan como favoritas para facilitar futuros accesos.</p>
                    <p class="text"><em>Marcadores</em> es una herramienta de ONE que te ayudará a <strong>almacenar direcciones web de tu interés para acceder a ellas fácil y rápidamente en futuras ocasiones.</strong></p>
                    <p class="text">Guarda, etiqueta y comparte en <em>Marcadores</em> las <strong>direcciones web</strong> que utilices frecuentemente, ya sea <strong>de ONE o de páginas externas</strong>.  No olvides revisar los <em>Marcadores</em> de las Comunidades <em>Brigadas Azules </em>y <em>Todos en  ONE.</em></p>
                    <p align="justify" class="text">&nbsp;</p>
                </td>
                <td width="26" >&nbsp;</td>
                <td width="143" bgcolor="#BE3188" style="color:#CCC; padding-left:15px; padding-right:15px;">
                    <p style="font-style:oblique;">“Gracias a ONE el acceso a la información entre entidades, equipos y líneas de negocio es rápido y sencillo.” </p>
                    <p><b style="color:#FFF">Ulrike Decoene, </b> <br />
                      Directora de Comunicación, AXA Región MedLA</p>
                </td>
                <td width="30">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#BE3188">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_12/one_lateral.jpg" width="174" height="82" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_12/tip.jpg" width="346" height="90" />
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="37,237,147,274" href="http://one.axa.com/dogear/html?lang=es" target="_blank" alt="Marcadores" />
            <area shape="rect" coords="255,237,372,274" href="http://one.axa.com/communities/service/html/community/bookmarks?communityUuid=4464cfcd-df84-4742-b838-e053dfc73ab1" target="_blank" alt="Marcadores Todos en ONE" />
          <area shape="rect" coords="147,236,256,274" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3D0e722350-78cc-42ce-93ed-7b1198b612ef" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>
