<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/header.jpg" width="600" height="277" usemap="#Map" border="0" /></td>
            </tr>
            <tr>
                <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="30" style="width:222px;">
                    <b style="font-size:24px; color:#2A4790;">Bienvenido a ONE,</b><br />
                    <b style="font-size:21px; color: #999;">tu nueva intranet.</b>
                </td>
                <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Martes <b style="color: #2B4891;">19 de noviembre</b></td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/lateral_pico.png" width="173" height="39" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" width="350" height="3"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr>
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" width="350">
                    <p align="justify" class="text"><strong>ONE es más porque cambiará la forma en que realizas tu trabajo diario y te conectas con los demás en AXA, ¿quieres saber cómo?</strong></p>
                    <p align="justify" class="text">Cada vez existen más posibilidades y herramientas para mantenernos informados, actualizados y en contacto con amigos y familiares.</p>
                    <p align="justify" class="text"><strong>ONE es una herramienta online innovadora para colaboración interna</strong>,diseñada para que tu trabajo sea más ágil y eficiente gracias a que puedes compartir opiniones, información, experiencias, conocimiento y mejores prácticas.</p>
                    <p align="justify" class="text">Te permitirá <strong>estar en contacto con otros colaboradores de AXA</strong>, tener acceso a comunidades profesionales, blogs, archivos compartidos,  noticias e información valiosa que te ayudará en tu día a día y en tu desarrollo profesional.</p>
                    <p align="justify" class="text">De igual manera, ONE <strong>facilita tu labor de agente de cambio</strong> al otorgarte herramientas que harán más eficientes y ágiles tus responsabilidades de comunicación en tu área. <strong>Ingresa y explora todas las herramientas que te ofrece.</strong></p>
                </td>
                <td width="26" >&nbsp;</td>
                <td width="143" bgcolor="#065E8D" style="color:#CCC; padding-left:15px; padding-right:15px;">
                    <p style="font-style:oblique;">“Hemos creado una comunidad en ONE para compartir información con todos nuestros colegas de la Región MedLa y otra para el comité Ejecutivo en México, de esta manera evitamos largos correos y pesados documentos adjuntos”.</p>
                    <p><b style="color:#FFF">Madeleine Langand,</b> <br />
                        Directora Contabilidad, Planeación y Control Financiero, AXA México.</p>
                </td>
                <td width="30">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/one_lateral.jpg" width="172" height="82" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/tip.jpg" width="336" height="69" />
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="35,233,160,261" href="http://one.axa.com/" target="_blank" alt="Descubre ONE" />
            <area shape="rect" coords="159,233,335,261" href="http://descubreone.mx/" target="_blank" alt="Video Descubre ONE" />
        </map>
    </body>
</html>
