<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ONE es conectarte con el mundo AXA</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
            image{ float: left; }
            a, image{ border: 0 none transparent; text-decoration: none; }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:601px;">
            <table id="Table_01" width="601" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="10">
                        <img id="Golive_Ambassador_3_01" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_01.jpg" width="600" height="218" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="218" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3">
                        <img id="Golive_Ambassador_3_02" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_02.jpg" width="41" height="68" alt="" />
                    </td>
                    <td width="2" height="16">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="2" height="16" alt="" />
                    </td>
                    <td colspan="6">
                        <img id="Golive_Ambassador_3_04" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_04.jpg" width="556" height="16" alt="" />
                    </td>
                    <td width="1" height="530" rowspan="10">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="530" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="16" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="http://one.axa.com/profiles/html/networkView.do?widgetId=friends&requireAuth=true&lang=es&key=bed6951a-20bb-4c20-bb76-411344f3abe1" title="Red de Contactos" target="_blank">
                            <img id="Golive_Ambassador_3_06" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_06.jpg" width="179" height="28" alt="" />
                        </a>
                    </td>
                    <td colspan="2">
                        <a href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dc48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" title="Aprende Más" target="_blank">
                            <img id="Golive_Ambassador_3_07" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_07.jpg" width="154" height="28" alt="" />
                        </a>
                    </td>
                    <td width="26" height="452" rowspan="7">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="26" height="452" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_3_09" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_09.jpg" width="174" height="28" alt="" />
                    </td>
                    <td width="25" height="514" rowspan="9">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="25" height="514" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="28" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="333" height="24" colspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="333" height="24" alt="" />
                    </td>
                    <td width="174" height="24">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="174" height="24" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="24" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="26" height="462" rowspan="7">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="26" height="462" alt="" />
                    </td>
                    <td colspan="5">
                        <img id="Golive_Ambassador_3_14" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_14.jpg" width="348" height="55" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_3_15" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_15.jpg" width="174" height="55" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="55" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <img id="Golive_Ambassador_3_16" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_16.jpg" width="348" height="217" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_3_17" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_17.jpg" width="174" height="217" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="217" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5" rowspan="2">
                        <img id="Golive_Ambassador_3_18" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_18.jpg" width="348" height="105" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_3_19" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_19.jpg" width="174" height="104" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="104" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="174" height="24" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="174" height="24" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="1" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="348" height="23" colspan="5">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="348" height="23" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="23" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="329" height="62" colspan="4" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="329" height="62" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Ambassador_3_23" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/Golive_Ambassador_3_23.jpg" width="219" height="38" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="38" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="219" height="24" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="219" height="24" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="24" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="26" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="15" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="2" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="177" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="135" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="19" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="26" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="174" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="25" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_03/spacer.gif" width="1" height="1" alt="" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
</html>