<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="5" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/header.jpg" width="600" height="279" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr>
                <td width="28" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="349" height="30" style="width:222px;">
                    <b style="font-size:22px; color:#2A4790; font-weight:bold;">Y tú, <br />¿Con quién andas?</b>
                    <span align="right" style="display: inline-block; margin: 0; padding: 0 0 5px 20px; width: 120px" width="120">Martes <b style="color: #2B4891;">11 de febrero</b></span>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="30" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="174" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/lateral_pico.png" width="174" height="63" style="display:block;" />
                </td>
                <td width="58" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="28" height="138">&nbsp;</td>
                <td align="justify" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Las comunidades son una herramienta muy útil en tu vida diaria ya que te <strong>permiten estar en contacto con un grupo de personas con las que compartes</strong> uno o varios <strong>intereses en común</strong>: temas, profesiones, proyectos, experiencias, actividades, aficiones, etcétera.</p>
                    <p align="justify" class="text">Únete y participa en las <strong><em>Comunidades</em> de ONE para interactuar, intercambiar información</strong> e ideas, hacer preguntas y obtener respuestas, <strong>encontrar apoyo</strong> en tus tareas, compartir mejores prácticas y expandir tu red de contactos en ONE.</p>
                </td>
                <td width="30" >&nbsp;</td>
                <td width="174" valign="top" align="left" bgcolor="#1694E9" style="color:#FFF;">
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:0 15px;" align="left">“Hemos creado una comunidad en ONE para compartir información con todos nuestro colegas de la Región MedLA y otra para el Comité Ejecutivo en México, de esta manera evitamos largos correos y pesados documentos adjuntos.”</span>
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:10px 15px 0;" align="left"><b style="color:#FFF">Madeleine Langand,</b> <br />Directora de Contabilidad, Planeación y Control Financiero, AXA México.</span>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="58">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Imagen Lateral -->
                <td rowspan="2">&nbsp;</td>
                <td style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/one_lateral.jpg" width="174" height="73" style="display:block;" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr><!-- Imagen Lateral -->
            <tr><!-- TIP -->
                <td align="center" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/tip.jpg" width="346" height="109" style="display:block;" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="5" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="4" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_07/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="6" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="38,234,150,262" href="http://one.axa.com/communities/service/html/mycommunities" target="_blank" alt="Comunidades" />
            <area shape="rect" coords="150,234,246,262" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dcb0d2224-6f11-43ef-8613-045ec26c840d" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="247,234,431,262" href="http://one.axa.com/communities/service/html/communityview?communityUuid=4464cfcd-df84-4742-b838-e053dfc73ab1" target="_blank" alt="Comunidad Todos en ONE" />
        </map>
    </body>
</html>
