<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
    <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr>
                <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_16/header.jpg" width="600" height="279" usemap="#Map" border="0" /></td>
            </tr>
            <tr>
              <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="222" height="66" style="width:222px;">
                    <b style="font-size:17px; color:#2A4790;">¿La comunicación del equipo está fallando?,</b><br />
                    <b style="font-size:17px; color: #999;">ONE tiene una solución para ti.</b>
              </td>
                <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Lunes <b style="color: #2B4891;">5 de mayo</b></td>
                <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="173" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_16/lateral_pico.png" width="174" height="61" />
                </td>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" width="350" height="3"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_11/linea-contenido.jpg" width="349" height="1" /></td>
            </tr>
            <tr>
                <td width="25" height="138">&nbsp;</td>
                <td colspan="2" align="justify" valign="middle" width="350">
                    <p align="justify" class="text">&nbsp;</p>
                    <p class="text"><em>Project Places</em> es un sitio en <em>Mis espacios </em>diseñado para <strong>facilitar la colaboración y comunicación de los proyectos </strong>en los que participas.<strong> </strong>En ellos es posible almacenar información<strong> </strong>y archivos en bibliotecas, crear y participar en <em>Wikis</em> y <em>Blogs</em><strong> </strong>específicos de un proyecto, entre otras cosas.</p>
                    <p class="text"><strong>Únete a <em>Project Places</em></strong> para estar siempre informado de los proyectos en los que colaboras o que son de tu interés. </p>
                    <p align="justify" class="text">&nbsp;</p>
                </td>
                <td width="26" >&nbsp;</td>
                <td width="143" bgcolor="#5F61A1" style="color: #FFF; padding-left: 15px; padding-right: 15px;">
                    <p style="font-style:oblique;">&quot;ONE me ayuda a gestionar mejor los proyectos que dirijo. A través de una comunidad no sólo compartimos información y documentos relevantes, también nos permite interactuar de mejor manera y resolver dudas oportunamente sin importar en dónde están situadas nuestras oficinas.&quot; </p>
                    <p><b style="color:#FFF">Oscar Ruiz, </b> <br />Director Multi-acceso, AXA México.</p>
                </td>
                <td width="30">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#5F61A1">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_16/one_lateral.jpg" width="174" height="80" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#F3F3F3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_16/tip.jpg" width="346" height="122" />
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_01/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
        </table>

        <map name="Map" id="Map">
          <area shape="rect" coords="217,233,378,271" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3D026037c0-1c1f-4c96-8d27-66046c1f0f49" target="_blank" alt="Guía Rápida" />
          <area shape="rect" coords="40,233,218,271" href="http://one.axa.com/places/myplaces#type%3Dfacets%3A%3Atype%2F%2FProject%2332%23Places%7CProject%20Places%26sortKey%3Dupdate_date%26sortOrder%3Ddesc%26page%3D0%26numItems%3D10%26timeStamp%3D1382106212244" target="_blank" alt="Project Places" />
        </map>
    </body>
</html>
