<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="6" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/header.jpg" width="600" height="283" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr>
                <td width="32" rowspan="2" style="width:25px;">&nbsp;</td>
                <td height="30" style="width:222px;" colspan="2">
                    <b style="font-size:24px; color:#2A4790; font-weight:bold;">Organiza tu información</b><br />
                    <b style="font-size:21px; color: #999; font-weight:normal;">y compártela.</b>
                    <span align="right" style="display: inline-block; margin: 0; padding: 0 0 5px 105px; width: 110px" width="110">Martes <b style="color: #2B4891;">28 de enero</b></span>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="34" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="225" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/lateral_pico.png" width="174" height="63" style="display:block;" />
                </td>
                <td width="40" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="32" height="138" rowspan="2">&nbsp;</td>
                <td height="10" colspan="2" align="justify" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <span align="justify" class="text">Anteriormente te hablamos del buscador de ONE. Es esencial que toda la información que compartes esté etiquetada correctamente para que éste funcione a su máximo potencial.</span>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="34" rowspan="2" >&nbsp;</td>
                <td width="174" rowspan="2" valign="top" align="left" bgcolor="#479647" style="color:#FFF;">
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:0 17px;" align="left">“Gracias a ONE el acceso a la información entre entidades, equipos y líneas de negocio es rápido y sencillo.”</span>
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:10px 17px 0;" align="left"><b style="color:#FFF">Ulrike Decoene,</b> <br />Directora Contabilidad, Planeación y Control Financiero, AXA México.</span>
                </td>
                <td width="40" rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td width="143" align="justify" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/etiqueta_copy.jpg" width="130" height="175" style="display:block;" />
                </td>
                <td width="206" align="justify" valign="top">
                    <p align="justify" class="text" style="font:normal 13px/13px Arial,Helvetica,sans-serif;">Cuando creas y compartes información en ONE utiliza la función Etiquetas para marcarla con palabras clave que te ayuden a ti y a otros a identificar, clasificar y localizar el tipo de contenido que estás subiendo.</p>
                    <p align="justify" class="text" style="font:normal 13px/13px Arial,Helvetica,sans-serif;">En algunas secciones encontrarás, incluso, las etiquetas en ONE. No olvides comunicar con tu área lo fácil que es encontrar información a través de etiquetas e invitarlos a Etiquetar su información.</p>
                </td>
            </tr>
            <!-- Contenido -->
            <tr><!-- Imagen Lateral -->
                <td rowspan="2">&nbsp;</td>
                <td colspan="2" style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/one_lateral.jpg" width="174" height="105" style="display:block;" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr><!-- Imagen Lateral -->
            <tr><!-- TIP -->
                <td colspan="2" align="center" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/tip.jpg" width="346" height="109" style="display:block;" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="6" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="5" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_05/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
        
            <area shape="rect" coords="37,234,121,262" href="http://one.axa.com/wps/myportal/mexico" target="_blank" alt="ONE" />
        </map>
    </body>
</html>
