<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="outline: transparent thin none;">
    <head style="outline: transparent thin none;">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="outline: transparent thin none;">
        <title style="outline: transparent thin none;">¿Estás cansado de buscar información y no encontrarla?</title>
        
    </head>
    <body bgcolor="#FFFFFF" style="outline: transparent thin none;">
        <center style="outline: transparent thin none;">
            <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0" style="outline: transparent thin none;">
                <tr style="outline: transparent thin none;">
                    <td colspan="9" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_01" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_01.jpg" width="600" height="218" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="7" height="452" rowspan="9" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="7" height="452" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td colspan="2" rowspan="3" style="outline: transparent thin none;">
                        <a href="" title="Home ONE" target="_blank" style="outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                            <img id="Golive_Ambassador_4_03" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_03.jpg" width="35" height="68" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                        </a>
                    </td>
                    <td colspan="6" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_04" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_04.jpg" width="558" height="16" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td style="outline: transparent thin none;">
                        <a href="http://one.axa.com/wps/myportal/mexico/!ut/p/b1/hY3NDkNAGEWfpS_gG6LD1l8RhCLUbGSio6TDTBBev5F001WX95yTXCDwADLTfXzRbRQz5ecmuHVCN0ojX0Wp69koxNEtyBIHaXcNGmiI0VZ5YudmdlV9HOsorBwzC8xUQ4UB9b-A4EDnvDzkrltQ0-58hgIIkEOuihTLxtm2Kl_R_MB-EVM5sIkpT2HTdewKRpduAPnuY--wLh8qyrNL/?wps.portlets.keywords=Buscar" title="Buscador" target="_blank" style="outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                            <img id="Golive_Ambassador_4_05" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_05.jpg" width="117" height="28" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                        </a>
                    </td>
                    <td width="241" height="52" colspan="3" rowspan="2" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="241" height="52" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_07" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_07.jpg" width="174" height="28" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td width="26" height="436" rowspan="8" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="436" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="117" height="24" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="117" height="24" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td width="174" height="24" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="24" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="19" height="384" rowspan="6" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="384" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td colspan="4" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_12" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_12.jpg" width="348" height="59" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td width="26" height="328" rowspan="4" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="328" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_14" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_14.jpg" width="174" height="59" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td colspan="4" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_15" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_15.jpg" width="348" height="150" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_16" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_16.jpg" width="174" height="150" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td colspan="4" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_17" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_17.jpg" width="348" height="98" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_18" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_18.jpg" width="174" height="98" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="348" height="21" colspan="4" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="348" height="21" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td width="174" height="21" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="21" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="329" height="56" colspan="3" rowspan="2" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="329" height="56" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td colspan="3" style="outline: transparent thin none;">
                        <img id="Golive_Ambassador_4_22" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_22.jpg" width="219" height="38" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td width="219" height="18" colspan="3" style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="219" height="18" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
                <tr style="outline: transparent thin none;">
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="7" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="16" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="117" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="196" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                    <td style="outline: transparent thin none;">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="1" alt="" align="left" style="float: left;vertical-align: top;outline: transparent thin none;border: 0 none transparent;text-decoration: none;">
                    </td>
                </tr>
            </table>
        </center>
        <center style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;opacity:0;filter:opacity(alpha:0); visibility:hidden; display:none;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;opacity:0;filter:opacity(alpha:0); visibility:hidden; display:none;">
            <tr>
                <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                    <table border="0" cellpadding="0" cellspacing="0" id="canspamBar" style="opacity:0;filter:opacity(alpha:0);visibility:hidden; display:none;">
                        <tr>
                            <td align="center" valign="top" style="color:#FFF; text-indent:-2000em;font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
                                This email was sent to <a href="*|EMAIL|*" target="_blank" style="color:#FFF !important;">*|EMAIL|*</a>
                                <br>
                                <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UNSUB|*" style="color:#404040 !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">update subscription preferences</a>
                                <br>
                                *|LIST:ADDRESSLINE|*
                                <br>
                                <br>
                                *|REWARDS|*
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <style type="text/css">
            @media only screen and (max-width: 480px){
                table[id="canspamBar"] td{font-size:14px !important;}
                table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
            }
        </style>
    </body>
</html>