<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>¿Quién soy yo en ONE?</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:600px;">
            <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="9">
                        <img id="Golive_Ambassador_2_01" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_01.jpg" width="600" height="218" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3">
                        <img id="Golive_Ambassador_2_02" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_02.jpg" width="41" height="68" alt="" />
                    </td>
                    <td colspan="7">
                        <img id="Golive_Ambassador_2_03" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_03.jpg" width="559" height="16" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://one.axa.com/profiles/html/editMyProfileView.do?lang=es" title="Mi Perfil" target="_blank">
                            <img id="Golive_Ambassador_2_04" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_04.jpg" width="121" height="27" alt="" />
                        </a>
                    </td>
                    <td>
                        <a href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dc48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" title="Aprende Más" target="_blank">
                            <img id="Golive_Ambassador_2_05" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_05.jpg" width="168" height="27" alt="" />
                        </a>
                    </td>
                    <td width="70" height="52" colspan="3" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="70" height="52" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_2_07" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_07.jpg" width="174" height="27" alt="" />
                    </td>
                    <td width="26" height="538" rowspan="8">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="26" height="538" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="289" height="25" colspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="289" height="25" alt="" />
                    </td>
                    <td width="174" height="25">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="174" height="25" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="27" height="486" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="27" height="486" alt="" />
                    </td>
                    <td colspan="5">
                        <img id="Golive_Ambassador_2_12" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_12.jpg" width="349" height="55" alt="" />
                    </td>
                    <td width="24" height="420" rowspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="24" height="420" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_2_14" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_14.jpg" width="174" height="55" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <img id="Golive_Ambassador_2_15" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_15.jpg" width="349" height="191" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_2_16" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_16.jpg" width="174" height="191" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <img id="Golive_Ambassador_2_17" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_17.jpg" width="349" height="152" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_2_18" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_18.jpg" width="174" height="152" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="349" height="22" colspan="5">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="349" height="22" alt="" />
                    </td>
                    <td width="174" height="22">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="174" height="22" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="327" height="66" colspan="4" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="327" height="66" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Ambassador_2_22" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/Golive_Ambassador_2_22.jpg" width="220" height="38" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="220" height="28" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="220" height="28" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="27" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="14" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="121" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="168" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="24" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="22" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="24" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="174" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_02/spacer.gif" width="26" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>