<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
                width: 350px;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="5" align="center" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/header.jpg" width="600" height="279" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr>
                <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
                <td height="30" style="width:222px;">
                    <b style="font-size:23px; color:#2A4790; font-weight:bold; display:block; width:175px; padding:0; margin:0; clear: both;" align="left">Conéctate con el mundo AXA</b>
                    <!--b style="font-size:18px; color: #999; font-weight:normal; display:block; width:350px; padding:0; margin:0; clear: both;"></b-->
                    <p align="right" style="display: inline-block; padding: 0; margin: 0 0 5px; width: 345px; text-align:right;">Lunes <b style="color: #2B4891;">20 de enero</b></p>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="32" rowspan="2">&nbsp;</td>
                <td width="174" rowspan="2" valign="bottom" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/lateral_pico.png" width="174" height="53" style="display:block;" />
                </td>
                <td width="53" rowspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="30" height="138">&nbsp;</td>
                <td width="350" height="10" align="justify" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Tu perfil es el punto de partida para conectarte en ONE. Creando tu perfil le permitirás a tus compañeros conocerte mejor. Asimismo al crear tu red podrás mantenerte en contacto con los <strong>colaboradores de AXA México y de otras entidades</strong> de nuestro Grupo para encontrar soluciones a los problemas de negocio, intercambiar mejores prácticas y <strong>juntos crear valor</strong>.</p>
                    <p align="justify" class="text">Entra a hoy mismo a <em>Mi perfil</em>, <strong>actualiza tu información profesional, deja que los demás sepan <em>¿en qué estás trabajando?</em> y cambia el estado</strong> de tu perfil.</p>
                    <p align="justify" class="text"><strong>Busca los perfiles de tu equipo de trabajo e invítalos a formar parte de tu red.</strong> Manténte informado de qué está ocurriendo con cada uno de ellos.</p>
                </td>
                <td width="32" >&nbsp;</td>
                <td width="174" valign="top" align="left" bgcolor="#BB3187" style="color:#FFF;">
                    <p style="font-style:oblique;line-height:15px; display:block; width:140px; margin:0 17px 10px; padding:0;" align="left">"¡ONE me encanta! Justo ahora que necesitaba conocer más sobre cómo crear una cultura digital en AXA México, pude entrar a ONE y leer lo que otras personas en diferentes partes del mundo AXA han trabajado sobre el tema, antes no podía hacerlo.”</p>
                    <p style="display:block;margin:0;padding:5px 0;font-size:1px;height:5px;">&nbsp</p>
                    <p style="line-height:15px; display:block; width:140px; margin:0 17px; padding:0;" align="left"><b style="color:#FFF">Madelaine Girod,</b> <br />Directora de Comunicación y Relaciones Públicas, AXA México.</p>
                </td>
                <td width="53">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Imagen Lateral -->
                <td rowspan="2">&nbsp;</td>
                <td style="height:10px;"></td>
                <td width="32" rowspan="2">&nbsp;</td>
                <td width="174" rowspan="2" bgcolor="#BB3187" valign="bottom" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/one_lateral.jpg" width="174" height="73" style="display:block;" />
                </td>
                <td width="53" rowspan="2">&nbsp;</td>
            </tr><!-- Imagen Lateral -->
            <tr><!-- TIP -->
                <td align="left" bgcolor="#BB3187" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/tip.jpg" width="346" height="105" style="display:block;" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="5" style="height:20px;"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" valign="middle" align="left">
                    <p>Para actualizar tus datos, haz click <a href="http://one.axa.com/wps/myportal/mexico/!ut/p/b1/rZJfb4IwFMW_yl58JL38sdRHxKCgiIK4wYvpoGgXC0SI0X36gW7Z00CT9e3m_s7J6WlRjN5QnNMz39OaFzk9tnOMd4HirPDaG8rEtXSw_fHKlrcjZ2riBogawPPdzUrWhjJ4lgK2Gm710FRlmGmP6U17MvfmUxlg4hKwDdVcDwNXgQXu07-iGMVJXpf1AUWCXXhS7Fg1gEMh2ACYKI_FlbGXpDjl7DSAikr0Qu-c9LO9LyVxrdjpzJNW3snxKqV10VBJ3U-1-Uq6Zymr-D6_TQlPUaSlesJSAlpGCTAyIljVSQYpxu9YAyx_NwN_HAMeaqbnbW5AV_k3oCND1ITUf1N4xkJrUvg6VizTCQNAwRM37jZT_tPMfs7M6S17jOIR31hijZaz5uuhUoShIB_ZAvuzz00mxG65lGJifAEnlxzT/dl4/d5/L2dBISEvZ0FBIS9nQSEh/" title="Para actualizar tus datos, haz click aquí" target="_blank" style="color: #BB3187; font-weight:bold; text-decoration:none;">aquí</a>.</p>
                </td>
                <td colspan="4" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_conect/logo_footer.png" width="219" height="38" />
                </td>
                <td width="3">&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="6" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="41,234,127,262" href="http://one.axa.com/profiles/html/networkView.do?widgetId=friends&requireAuth=true&lang=es&key=bed6951a-20bb-4c20-bb76-411344f3abe1" target="_blank" alt="Mi Red" />
            <area shape="rect" coords="126,234,234,262" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3Dc48a1a28-bf5f-4ef1-aec6-d1fb5da4b624" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>0