<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>¿Estás cansado de buscar información y no encontrarla?</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
            image{ float: left; }
            a, image{ border: 0 none transparent; text-decoration: none; }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:600px;">
            <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="9">
                        <img id="Golive_Ambassador_4_01" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_01.jpg" width="600" height="218" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="7" height="452" rowspan="9">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="7" height="452" alt="" />
                    </td>
                    <td colspan="2" rowspan="3">
                        <a href="" title="Home ONE" target="_blank">
                            <img id="Golive_Ambassador_4_03" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_03.jpg" width="35" height="68" alt="" />
                        </a>
                    </td>
                    <td colspan="6">
                        <img id="Golive_Ambassador_4_04" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_04.jpg" width="558" height="16" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://one.axa.com/wps/myportal/mexico/!ut/p/b1/hY3NDkNAGEWfpS_gG6LD1l8RhCLUbGSio6TDTBBev5F001WX95yTXCDwADLTfXzRbRQz5ecmuHVCN0ojX0Wp69koxNEtyBIHaXcNGmiI0VZ5YudmdlV9HOsorBwzC8xUQ4UB9b-A4EDnvDzkrltQ0-58hgIIkEOuihTLxtm2Kl_R_MB-EVM5sIkpT2HTdewKRpduAPnuY--wLh8qyrNL/?wps.portlets.keywords=Buscar" title="Buscador" target="_blank">
                            <img id="Golive_Ambassador_4_05" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_05.jpg" width="117" height="28" alt="" />
                        </a>
                    </td>
                    <td width="241" height="52" colspan="3" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="241" height="52" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_4_07" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_07.jpg" width="174" height="28" alt="" />
                    </td>
                    <td width="26" height="436" rowspan="8">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="436" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="117" height="24">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="117" height="24" alt="" />
                    </td>
                    <td width="174" height="24">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="24" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="19" height="384" rowspan="6">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="384" alt="" />
                    </td>
                    <td colspan="4">
                        <img id="Golive_Ambassador_4_12" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_12.jpg" width="348" height="59" alt="" />
                    </td>
                    <td width="26" height="328" rowspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="328" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_4_14" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_14.jpg" width="174" height="59" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Ambassador_4_15" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_15.jpg" width="348" height="150" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_4_16" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_16.jpg" width="174" height="150" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img id="Golive_Ambassador_4_17" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_17.jpg" width="348" height="98" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Ambassador_4_18" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_18.jpg" width="174" height="98" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="348" height="21" colspan="4">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="348" height="21" alt="" />
                    </td>
                    <td width="174" height="21">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="21" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="329" height="56" colspan="3" rowspan="2">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="329" height="56" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Ambassador_4_22" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/Golive_Ambassador_4_22.jpg" width="219" height="38" alt="" />
                    </td>
                </tr>
                <tr>
                    <td width="219" height="18" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="219" height="18" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="7" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="16" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="117" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="196" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="19" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="174" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_04/spacer.gif" width="26" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>