<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="5" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/header.jpg" width="600" height="288" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr>
                <td width="28" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="349" height="30" style="width:222px;">
                    <b style="font-size:23px; color:#2A4790; font-weight:bold;" align="left">¿Tienes algo que decir?</b><br />
                    <b style="font-size:18px; color: #999; font-weight:normal;">¡Cuéntaselo a ONE!</b>
                    <span align="right" style="display: inline-block; margin: 0; padding: 0 0 5px 60px; width: 120px" width="120">Martes <b style="color: #2B4891;">18 de febrero</b></span>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="30" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="174" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/lateral_pico.png" width="174" height="63" style="display:block;" />
                </td>
                <td width="58" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="28" height="138">&nbsp;</td>
                <td align="justify" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">En los <em>Foros de discusión</em> encontrarás <strong>diálogos abiertos</strong> donde cada participante podrá <strong>consultar y responder en diferentes momentos</strong>. Los foros están organizados por temas y categorías y dentro de ellos podrás abrir nuevos temas de discusión.</p>
                    <p align="justify" class="text">Participa en los <em>Foros</em> de las <em>Comunidades</em> de ONE compartiendo tus puntos de vista sobre algún tema en particular: <strong>haz preguntas, intercambia opiniones, resuelve tus dudas  y ayuda a los demás a resolver las suyas</strong>.</p>
                </td>
                <td width="30" >&nbsp;</td>
                <td width="174" valign="top" align="left" bgcolor="#A075AB" style="color:#FFF;">
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:0 15px;" align="left">“A través de foros y blogs podemos discutir y fortalecer las iniciativas de Responsabilidad Corporativa, dándole voz a todos los voluntarios que participan de nuestras actividades.”</span>
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:10px 15px 0;" align="left"><b style="color:#FFF">Ricardo Morán,</b> <br />Subdirector Responsabilidad Corporativa, AXA México.</span>
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                </td>
                <td width="58">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Imagen Lateral -->
                <td rowspan="2">&nbsp;</td>
                <td style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/one_lateral.jpg" width="174" height="82" style="display:block;" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr><!-- Imagen Lateral -->
            <tr><!-- TIP -->
                <td align="center" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/tip.jpg" width="346" height="127" style="display:block;" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="5" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="4" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_08/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="6" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="41,227,121,254" href="http://one.axa.com/forums/html/my" target="_blank" alt="Foros" />
            <area shape="rect" coords="120,227,234,253" href="http://one.axa.com/files/app?lang=es#/file/fe8f7649-98f0-4083-be2a-5bc27d32b910" target="_blank" alt="Guía Rápida" />
            <area shape="rect" coords="233,227,396,254" href="http://one.axa.com/communities/service/html/communityview?communityUuid=4464cfcd-df84-4742-b838-e053dfc73ab1#fullpageWidgetId=Wcdab776505c9_4ad6_9ec9_550ffc664b13" target="_blank" alt="Foros Todos en ONE" />
        </map>
    </body>
</html>
