<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Axa Go Live</title>
        <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
            <tr><!-- Header -->
                <td colspan="5" align="center">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/header.jpg" width="600" height="283" usemap="#Map" border="0" />
                </td>
            </tr><!-- Header -->
            <tr>
                <td width="28" rowspan="2" style="width:25px;">&nbsp;</td>
                <td width="349" height="30" style="width:222px;">
                    <b style="font-size:17px; color:#2A4790; font-weight:bold;">¡Demonios!, ¿quién tiene la última versión de la presentación?</b><br />
                    <b style="font-size:16px; color: #999; font-weight:normal;">No te preocupes, está en ONE.</b>
                    <span align="right" style="display: inline-block; margin: 0; padding: 0 0 5px 0px; width: 123px" width="123">Martes <b style="color: #2B4891;">4 de febrero</b></span>
                </td>
                <!--td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;"></td-->
                <td width="30" rowspan="2" style="width:26px;">&nbsp;</td>
                <td width="174" rowspan="2" valign="bottom" style="width:170px;">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/lateral_pico.png" width="174" height="63" style="display:block;" />
                </td>
                <td width="60" rowspan="2" style="width:25px;">&nbsp;</td>
            </tr>
            <tr>
                <td height="3">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/linea-contenido.jpg" width="349" height="1" style="display:block;" />
                </td>
            </tr>
            <tr><!-- Contenido -->
                <td width="28" height="138">&nbsp;</td>
                <td align="justify" valign="middle">
                    <span style="display:block;margin:0;padding:5px 0;font-size:1px;">&nbsp</span>
                    <p align="justify" class="text">Con la herramienta <strong><em>Archivos</em> en la sección <em>Connections</em>, podrás almacenar, localizar y compartir de manera rápida</strong> archivos con quien tú decidas de la comunidad AXA. </p>
                    <p align="justify" class="text">Crea colecciones, sube tus archivos y mantén el control de las últimas versiones. Ya que es un espacio limitado te recomendamos actualizar frecuentemente los archivos y eliminar aquellos que ya no utilices. <strong>Al cargar archivos podrás etiquetarlos y compartirlos.</strong></p>
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/etiquetas_copy.png" width="349" height="78" border="0" style="display:block;" />
                    <p align="justify" class="text">A partir de hoy toda la documentación relacionada a Brigadas Azules la encontrarás en la sección de <strong><em>Archivos de la Comunidad Brigadas Azules</em></strong>.</p>
                </td>
                <td width="30" >&nbsp;</td>
                <td width="174" valign="top" align="left" bgcolor="#5C64A3" style="color:#FFF;">
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:0 17px;" align="left">“ONE es una manera de prepararnos para el futuro. Nos brinda la oportunidad de colaborar mejor entre familias profesionales, equipos y entidades sin importar las fronteras. Es una plataforma que registra lo que juntos estamos logrando.”</span>
                    <span style="font-style:oblique;line-height:15px; display:block; width:140px; padding:10px 17px 0;" align="left"><b style="color:#FFF">Sebastián Judez,</b> <br />Vicepresidente Regional Salud, AXA Región MedLA.</span>
                </td>
                <td width="60">&nbsp;</td>
            </tr><!-- Contenido -->
            <tr><!-- Imagen Lateral -->
                <td rowspan="2">&nbsp;</td>
                <td style="height:10px;"></td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/one_lateral.jpg" width="174" height="105" style="display:block;" />
                </td>
                <td rowspan="2">&nbsp;</td>
            </tr><!-- Imagen Lateral -->
            <tr><!-- TIP -->
                <td align="center" bgcolor="#F3F3F3" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/tip.jpg" width="346" height="109" style="display:block;" />
                </td>
            </tr><!-- TIP -->
            <tr>
                <td colspan="5" style="height:20px;"></td>
            </tr>
            <tr>
                <td colspan="4" align="right" valign="top">
                    <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_06/logo_footer.png" width="219" height="38" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr><!-- Footer -->
                <td colspan="6" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br />
                    <br />
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr><!-- Footer -->
        </table>

        <map name="Map" id="Map">
            <area shape="rect" coords="39,234,143,264" href="http://one.axa.com/files/app?lang=es" target="_blank" alt="Archivos" />
            <area shape="rect" coords="142,235,246,263" href="http://one.axa.com/communities/service/html/communityview?communityUuid=ab7f7d2a-3051-40dd-925c-cf7efe06dfaf#fullpageWidgetId%3DW4c05ec0ce778_4030_a601_ca904823266f%26file%3D2ab508d8-815e-433e-85a2-5036906d5ecc" target="_blank" alt="Guía Rápida" />
        </map>
    </body>
</html>
