<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Contigo, ONE es más</title>
        <style>
            table tbody tr,
            table tbody tr td{ vertical-align:  top; }
            img{ float: left; }
            a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
            header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
            menuitem,nav,iframe,embed,object,*{
                outline: transparent thin none;
            }
            image{ float: left; }
            a, image{ border: 0 none transparent; text-decoration: none; }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <div style="display:block;margin:0 auto;width:764px;">
            <table id="Table_01" width="764" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="14" height="550" rowspan="8">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="14" height="550" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_review_02" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_02.jpg" width="334" height="75" alt="" />
                    </td>
                    <td colspan="4">
                        <img id="Golive_Colaboradores_review_03" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_03.jpg" width="404" height="75" alt="" />
                    </td>
                    <td width="12" height="550" rowspan="8">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="12" height="550" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <img id="Golive_Colaboradores_review_05" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_05.jpg" width="738" height="300" alt="Contigo, ONE es más" />
                    </td>
                </tr>
                <tr>
                    <td width="738" height="21" colspan="5">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="738" height="21" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="Golive_Colaboradores_review_07" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_07.jpg" width="334" height="41" alt="Ayúdanos contestando la siguiente encuesta:" />
                    </td>
                    <td colspan="2">
                        <a href="" title="Da click aquí" target="_blank">
                            <img id="Golive_Colaboradores_review_08" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_08.jpg" width="195" height="41" alt="Da click aquí" />
                        </a>
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_review_09" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_09.jpg" width="20" height="41" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_review_10" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_10.jpg" width="189" height="41" alt="ONE / es más" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_review_11" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_11.jpg" width="529" height="30" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_review_12" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_12.jpg" width="20" height="30" alt="" />
                    </td>
                    <td>
                        <img id="Golive_Colaboradores_review_13" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_13.jpg" width="189" height="30" alt="ONE / es más" />
                    </td>
                </tr>
                <tr>
                    <td width="738" height="20" colspan="5">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="738" height="20" alt="" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">
                        <img id="Golive_Colaboradores_review_15" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_15.jpg" width="506" height="63" alt="" />
                    </td>
                    <td colspan="3">
                        <img id="Golive_Colaboradores_review_16" src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/Golive_Colaboradores_review_16.jpg" width="232" height="40" alt="AXA Reinventando los seguros" />
                    </td>
                </tr>
                <tr>
                    <td width="232" height="23" colspan="3">
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="232" height="23" alt="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="14" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="334" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="172" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="23" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="20" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="189" height="1" alt="" />
                    </td>
                    <td>
                        <img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/spacer.gif" width="12" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>