<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Axa Go Live</title>
            <style type="text/css">
            .footer {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
                font-weight: normal;
                color: #FFF;
                text-decoration: none;
                background-color: #FFF;
                text-align: center;
            }
            .footer a{
                color: #FFF;
                text-decoration: none;
            }
            .text{
                text-align: justify;
            }
            </style>
</head>

<body><table width="603" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
  <tr>
    <td colspan="6" align="center"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/header.jpg" width="600" height="279" border="0" /></td>
  </tr>
  <tr>
    <td width="25" rowspan="2" style="width:25px;">&nbsp;</td>
    <td width="222" height="30" style="width:222px;"><b style="font-size:28px; color:#2A4790;">Contigo,</b><br />
    <b style="font-size:21px; color: #999;">ONE es más</b></td>
    <td width="128" align="right" valign="bottom" style="width:128px; font-size:11px;">Martes <b style="color: #2B4891;">17 de diciembre</b></td>
    <td width="26" rowspan="2" style="width:26px;">&nbsp;</td>
    <td width="173" rowspan="2" align="center" valign="bottom" style="width:170px;"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/lateral_pico.png" width="174" height="39" /></td>
    <td width="30" rowspan="2" style="width:25px;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="width:349px; height:1px;"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/linea-contenido.jpg" width="349" height="1" /></td>
  </tr>
  <tr>
    <td >&nbsp;</td>
    <td colspan="2" align="justify"><p>Ayúdanos contestando la siguiente encuesta:</p></td>
    <td>&nbsp;</td>
    <td bgcolor="#065E8D" style="width:130px; color:#666; padding-left:20px; padding-right:20px; color:#CCC;"><p style=" font-style:oblique;">&nbsp;</p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2">&nbsp;</td>
    <td colspan="2" style="height:10px;"></td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2" align="center" valign="top" bgcolor="#065F8F" style="width:170px;"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/one_lateral.jpg" width="157" height="56" /></td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="56" colspan="2" align="right" valign="middle"><a href="#" target="new"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/btn_clic.png" width="229" height="41" /></a></td>
  </tr>
  <tr>
    <td colspan="6" style="height:20px;"></td>
  </tr>
  <tr>
    <td colspan="5" align="right" valign="top"><img src="http://www.descubreone.mx/Code/templates/goLive/ambassador/images_review/logo_footer.png" width="219" height="38" /></td>
    <td>&nbsp;</td>
  </tr>
            <tr>
                <td colspan="7" align="right" class="footer">
                    Los productos se regirán por las condiciones legales y contractuales aplicables.<br />
                    AXA Seguros S.A. de C.V., con domicilio en Xola número 535, piso 27, colonia Del Valle, código postal 03100, delegación Benito Juárez, en México, Distrito Federal,<br />
                    le informa que sus datos personales serán tratados únicamente para los fines de la relación jurídica. <br />
                    Usted podrá conocer ampliamente el Aviso de Privacidad de AXA aquí.<br />
                    Este mensaje fue enviado a <a href="*|EMAIL|*" style="color:#FFF !important;">*|EMAIL|*</a>. Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic <a href="*|UNSUB|*" style="color:#FFF !important;">aquí</a>
                    <a href="*|UPDATE_PROFILE|*" style="color:#FFF !important;">Actualiza tus preferencias de suscripción</a>
                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#FFF !important; text-indent:-2000em;"><em>¿Porqué estoy viendo esto?</em></a>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|LIST:ADDRESSLINE|*</p>
                    <br>
                    <br>
                    <p style="color:#FFF !important; text-indent:-2000em;">*|REWARDS|*</p>
                </td>
            </tr>
</table>
</body>
</html>
