.save-time
    header
        div
            h1
                @extend .como-resolver-dudas-y-compartir-tus-ideas-en-one
                margin: ( -166px / 2 ) auto 0 ( -658px / 2 )
    section
        div
            h2
                content: " "
                position: relative
                top: -4em
                &:before
                    @extend .foros
                &:after
                    @extend .icono-de-personas
            h3
                &:before
                    @extend .blog
                &:after
                    @extend .icono-de-globo-de-mensaje
            h4
                &:before
                    @extend .wikis
                &:after
                    @extend .icono-de-estrella
            ul
                margin: 10% auto 0 35%
                width: 45%
            p
                margin: 10% auto 0 36.5%
                text-align: left
                width: 45%
                strong
                    color: $text-blue-color
            p ~ ul
                margin: 0 auto 0 35%
            &:first-child
                min-height: 235px
                p
                    margin: 1.5em auto 5em
                    text-align: center
                    width: 95%